mixin sArrivals(data)
	// start sArrivals
	+b.SECTION.sArrivals.section#sArrivals&attributes(attributes)
		.container
			+b.section-title
				h2 Заезды

				p Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной синергии, поделиться актуальными инсайтами от практикующих специалистов, дать возможности для старта и показать, что каждый музыкант, дизайнер или танцор может быть настоящим брендом
			mixin item()
				+b.block-color
					.row
						+e.left.col-lg-6
							+e.data
								span Заезд №1
								span 25 мая — 1 июня
							+e.title  Кириллица
							p Первый заезд нового сезона соберет в себе сразу 5 арт-школ, которые на протяжении 5 дней будут создавать новое, креативить и удивлять нас на площадке арт-кластера. Участники со всей России сделают собственные проекты и представят
							div
								a.btn.btn-warning(href="#") подать заявку
								+e.foot Регистрация до <span class="text-warning">20 апреля</span>
						+e.right.col-lg-6
							+e.icon-wrap
								img(src="img/svg/muz.svg", alt="")
							+e.title-sm  арт-школы
							div
								+faqItem('Иконопись')
									p <strong>Для кого:</strong> Художник, Музыкант, Бард
									p Первый заезд нового сезона соберет в себе сразу 5 арт-школ, которые на протяжении 5 дней будут создавать новое, креативить и удивлять нас на площадке арт-кластера. Участники со всей России сделают собственные проекты и представят их в финале заезда. Также будет проходить грантовый конкурс.
									p: a(href="#") Перейти в арт-школу →
								+faqItem('Цифровое искусства и IT-технологии')
									p <strong>Для кого:</strong> Художник, Музыкант, Бард
									p Первый заезд нового сезона соберет в себе сразу 5 арт-школ, которые на протяжении 5 дней будут создавать новое, креативить и удивлять нас на площадке арт-кластера. Участники со всей России сделают собственные проекты и представят их в финале заезда. Также будет проходить грантовый конкурс.
									p: a(href="#") Перейти в арт-школу →
								+faqItem('Леттеринг и типографика')
									p <strong>Для кого:</strong> Художник, Музыкант, Бард
									p Первый заезд нового сезона соберет в себе сразу 5 арт-школ, которые на протяжении 5 дней будут создавать новое, креативить и удивлять нас на площадке арт-кластера. Участники со всей России сделают собственные проекты и представят их в финале заезда. Также будет проходить грантовый конкурс.
									p: a(href="#") Перейти в арт-школу →
								+faqItem('Развитие Дальнего Востока')
									p <strong>Для кого:</strong> Художник, Музыкант, Бард
									p Первый заезд нового сезона соберет в себе сразу 5 арт-школ, которые на протяжении 5 дней будут создавать новое, креативить и удивлять нас на площадке арт-кластера. Участники со всей России сделают собственные проекты и представят их в финале заезда. Также будет проходить грантовый конкурс.
									p: a(href="#") Перейти в арт-школу →
			+item
			+item
	// end sArrivals