
	// start .sEvents
	.sEvents {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.row{
			margin-top: rem(30);
		}
		&__item{
			display: flex;
			flex-direction: column;
			// backg round-image: linear-gradient(to right, #f86f64 0%, #fd5392 100%);
			background: var(--bg-color);
			height: calc(100% - 73px);
			margin-bottom: 73px;
			border-radius: 50px;
			position: relative;
			color: #fff !important;
			padding: rem(35) rem(30);

		}
		&__img-wrap{
			height: 80px;
			position: absolute;
			left: -15px;
			top: 0;
			img{
				position: absolute;
				left: 0;
				bottom: 0;
			}

		}
		&__date{
			text-align: right;
			font-weight: bold;
			font-size: rem(20);
			margin-bottom: rem(60);
		}
		&__title{
			font-weight: bold;
			font-size: rem(22);
			margin-bottom: rem(20);
		}
		&__text{
			font-size: 12px;
		}
		&__footer{

			margin-top: auto;
			padding-top: 1rem;
		}
		&__link{
			border-bottom: 1px solid;
			display: inline;
		}
		
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sEvents