.footer {
	padding: rem(70) 0;
	@include media-breakpoint-up(lg){
		padding: rem(88) 0;
	}

	&__row{
		& > *{
			margin-bottom: 30px;
		}
		margin-bottom: -30px;

		padding-bottom: rem(60);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(80);
		}
	}
	&__headline{
		text-transform: uppercase;
		font-weight: 900;
		font-size: rem(30);
		line-height: (37/30);

		margin-bottom: rem(30);
	}
	&__title{
		font-weight: 300;
		line-height: 1.8;
		color: $dark;
		margin-bottom: rem(8.5);
	}
	&__link{
		display: block;
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.8;

		color: $dark;
		&:hover{
			color: $primary;
		}
	}
	&__{}
	&__{}
}
