mixin footer()
  +b.FOOTER.footer
    .container
      +e.H4.headline Контакты
      +e.row.row
        +footerItem('Телефон:')
          +e.link(href='tel:88003022704') 8 (800) 302-27-04
        +footerItem('Сотрудничество:')
          +e.link(href='mailto:info@crki.art') info@crki.art
        +footerItem('Пресса:')
          +e.link(href='mailto:press@crki.art') press@crki.art
  +e.copy-right Официальный сайт арт-кластера «Таврида»
  
mixin footerItem(title)
  .col-12.col-md-4.col-lg-3
    +e.title=title
    block