
mixin sStoryBody(h2)
	// start sStory
	+b.SECTION.sStory.section#sStory&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 Наша история
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.story-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.story-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.story-slider-js
					.swiper-wrapper
						block
	// end sStory

mixin sStory(data) 
	+sStoryBody('Наша история')
		+storySlide(1, '2015 год', `&laquo;Таврида&raquo; получила статус Всероссийского молодежного образовательного форума`)
		+storySlide(2, '2016 год', `Президент РФ&nbsp;Владимир Путин впервые посетил Всероссийский молодежный образовательный форум &laquo;Таврида&raquo;`)
		+storySlide(3, '2017 год', `Количество тематических направлений выросло, а&nbsp;участниками форума впервые стали свыше 3000 молодых деятелей культуры и&nbsp;искусств`)
		+storySlide(4, '2018 год', `Первый заместитель Руководителя Администрации Президента РФ Сергей Кириенко предложил перевести «Тавриду» на круглогодичный формат работы и создать для этого новую площадку в Крыму`)
		+storySlide(5, '2019 год', `Проект расширился до&nbsp;формата арт-кластера, включил в&nbsp;себя традиционный форум, а&nbsp;также новый фестиваль творческих сообществ &laquo;Таврида-АРТ&raquo; и&nbsp;переехал в&nbsp;бухту Капсель под Судаком`)
		+storySlide(6, '2020 год', `На фестивале была запущена первая в России масштабная кастинг-платформа «Таврида ‒ АРТ»`)
		+storySlide(7, '2020 год', `&laquo;Таврида&raquo; впервые выходит за&nbsp;пределы полуострова Крым и&nbsp;открывает свои двери для молодых творцов в&nbsp;Москве в&nbsp;рамках фестиваля &laquo;Таврида-АРТ MOSCOW&raquo;`)
		+storySlide(8, '2020 год', `В&nbsp;рамках фестиваля &laquo;Таврида-АРТ MOSCOW&raquo; впервые была вручена премия-признание &laquo;Легенды Тавриды&raquo;, её&nbsp;обладателями стали Юрий Башмет, Никита Михалков, Игорь Крутой и&nbsp;Олег Табаков (посмертно)`) 

mixin sStory2(data)
	+sStoryBody('История фестиваля').sStory--fest
		+storySlide('4-2', '2018 год', `Первый заместитель Руководителя Администрации Президента РФ Сергей Кириенко предложил перевести «Тавриду» на круглогодичный формат работы и создать для этого новую площадку в Крыму`)

		+storySlide('fest-2', '2019 год', `Проект переехал в бухту Капсель под Судаком, где впервые состоялся фестиваль творческих сообществ «Таврида-АРТ»`)

		+storySlide('fest-3', '2019 год', `В&nbsp;рамках первого фестиваля &laquo;Таврида-АРТ&raquo; были поставлены 2&nbsp;рекорда России: самый большой по&nbsp;количеству участников мозговой штурм и&nbsp;самый массовый процесс написания картины одновременно 172 художниками`)

		+storySlide('6', '2020 год', `На&nbsp;фестивале была запущена первая в&nbsp;России масштабная кастинг-платформа &laquo;Таврида-АРТ&raquo; и&nbsp;принято решение о&nbsp;запуске региональной сети арт-резиденций в&nbsp;России`)

		+storySlide('7', '2020 год', `«Таврида» впервые выходит за пределы полуострова Крым и открывает свои двери для молодых творцов в Москве в рамках фестиваля «Таврида АРТ MOSCOW»
`)

		+storySlide('fest-6', '2020 год', `В рамках фестиваля «Таврида АРТ MOSCOW» впервые была вручена премия-признания «Легенды Тавриды», её обладателями стали Юрий Башмет, Никита Михалков, Владимир Машков и Олег Табаков (посмертно)`)

mixin storySlide(imgNum, headline, descr)
	.swiper-slide
		+e.item
			+e.dot
				+e.circle
				+e.PICTURE.img
					source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/story-${imgNum}.webp` )
					img.swiper-lazy(src="#" data-src=`img/@2x/story-${imgNum}.jpg` alt="")
			+e.txt-conntent
				+e.headline=headline
				if descr
					+e.descr!= descr
				else
					+e.descr Президент РФ Владимир Путин впервые посетил Всероссийский молодежный образовательный форум «Таврида»
	// /.swiper-slide