mixin sStory(data)
	// start sStory
	+b.SECTION.sStory.section#sStory&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 Наша история
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.story-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.story-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.story-slider-js
					.swiper-wrapper
						+storySlide(1, '2015 год', `&laquo;Таврида&raquo; получила статус Всероссийского молодежного образовательного форума`)
						+storySlide(2, '2016 год', `Президент РФ&nbsp;Владимир Путин впервые посетил Всероссийский молодежный образовательный форум &laquo;Таврида&raquo;`)
						+storySlide(3, '2017 год', `Количество тематических направлений выросло, а&nbsp;участниками форума впервые стали свыше 3000 молодых деятелей культуры и&nbsp;искусств`)
						+storySlide(4, '2018 год', `Первый заместитель Руководителя Администрации Президента РФ&nbsp;Сергей Кириенко предложил перевести &laquo;Тавриду&raquo; на&nbsp;круглогодичный формат работы и&nbsp;создать для этого новую площадку в&nbsp;Крыму`)
						+storySlide(5, '2019 год', `Проект расширился до&nbsp;формата арт-кластера, включил в&nbsp;себя традиционный форум, а&nbsp;также новый фестиваль творческих сообществ &laquo;Таврида ‒ АРТ&raquo; и&nbsp;переехал в&nbsp;бухту Капсель под Судаком`)
						+storySlide(6, '2020 год', `На&nbsp;фестивале была запущена первая в&nbsp;России масштабная кастинг-платформа &laquo;Таврида ‒ АРТ&raquo;, и&nbsp;принято решение о&nbsp;запуске региональной сети арт-резиденций в&nbsp;России`)
						+storySlide(7, '2020 год', `&laquo;Таврида&raquo; впервые выходит за&nbsp;пределы полуострова Крым и&nbsp;открывает свои двери для молодых творцов в&nbsp;Москве в&nbsp;рамках фестиваля &laquo;Таврида АРТ MOSCOW&raquo;`)
						+storySlide(8, '2020 год', `В&nbsp;рамках фестиваля &laquo;Таврида АРТ MOSCOW&raquo; впервые была вручена премия-признание &laquo;Легенды Тавриды&raquo;, её&nbsp;обладателями стали Юрий Башмет, Никита Михалков, Игорь Крутой и&nbsp;Олег Табаков (посмертно)`)
	// end sStory

mixin storySlide(imgNum, headline, descr)
	.swiper-slide
		+e.item
			+e.dot
				+e.circle
				+e.PICTURE.img
					source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/story-${imgNum}.webp` )
					img.swiper-lazy(src="#" data-src=`img/@2x/story-${imgNum}.jpg` alt="")
			+e.txt-conntent
				+e.headline=headline
				if descr
					+e.descr!= descr
				else
					+e.descr Президент РФ Владимир Путин впервые посетил Всероссийский молодежный образовательный форум «Таврида»

mixin sStory2(data)
	// start sStory
	+b.SECTION.sStory--fest.section#sStory&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 История фестиваля
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.story-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.story-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.story-slider-js
					.swiper-wrapper
						+storySlide('fest-1', '2018 год', `Первый заместитель Руководителя Администрации Президента РФ&nbsp;Сергей Кириенко предложил перевести &laquo;Тавриду&raquo; на&nbsp;круглогодичный формат работы и&nbsp;создать для этого новую площадку в&nbsp;Крыму`)
						+storySlide('fest-2', '2019 год', `Проект переехал в&nbsp;бухту Капсель под Судаком, где впервые состоялся фестиваль творческих сообществ &laquo;Таврида ‒ АРТ&raquo;`)
						+storySlide('fest-3', '2019 год', `В&nbsp;рамках первого фестиваля &laquo;Таврида ‒ АРТ&raquo; был поставлен рекорд России: самый массовый процесс написания картины одновременно 172 художниками`)
						+storySlide('fest-4', '2020 год', `На&nbsp;фестивале была запущена первая в&nbsp;России масштабная кастинг-платформа &laquo;Таврида ‒ АРТ&raquo; и&nbsp;принято решение о&nbsp;запуске региональной сети арт-резиденций в&nbsp;России`)
						+storySlide('fest-5', '2020 год', `&laquo;Таврида&raquo; впервые выходит за&nbsp;пределы полуострова Крым и&nbsp;открывает свои двери для молодых творцов в&nbsp;Москве в&nbsp;рамках фестиваля &laquo;Таврида АРТ MOSCOW&raquo;`)
						+storySlide('fest-6', '2020 год', `В&nbsp;рамках фестиваля &laquo;Таврида АРТ MOSCOW&raquo; впервые была вручена премия-признание &laquo;Легенды Тавриды&raquo;, её&nbsp;обладателями стали Юрий Башмет, Никита Михалков, Игорь Крутой и&nbsp;Олег Табаков (посмертно)`)