
	// start .sActvieOrder
	.sActvieOrder {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

		&__slide{
			height: auto;
			max-width: rem(354);
		}
		&__item{
			height: 100%;
			display: flex;
			flex-direction: column;
			border: 3px solid #000000; 
			border-radius: 50px;
			max-width: rem(352);
			padding: rem(30);
			padding-bottom: rem(20);
			// margin-right: rem(30);

		}
		&__title{
			text-transform: uppercase;
			font-size: rem(24);
			font-weight: 900;
			margin-bottom: rem(12);
		}
		&__label {
			text-transform: uppercase;
			background: var(--bg-color, #E9E9E9);
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			padding: rem(4) rem(14);
			display: inline-block;
			border-radius: 150px;
		}
		&__btn{
			@extend .btn;
			width: 100%;
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-size: rem(20);
			padding: rem(10);
			border: 3px solid;
		}

	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {
		&__slider{
			overflow: visible;
		}
	}
} // end.sActvieOrder