mixin sResidents(data)
	// start sResidents
	+b.SECTION.sResidents.section#sResidents&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-md.mb-3.mb-md-0.order-md-2
					h2 НАШИ резиденты
				.col-12.col-md-auto
					+b.sl-contr
						+e.prev.resident-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.resident-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.resident-slider-js
					.swiper-wrapper
						+residentSlide(1, 'начинающий художник', `Для меня &laquo;Таврида&raquo;&nbsp;&mdash; это точка отсчета становления современного искусства на&nbsp;Ямале. Благодаря грантовому конкурсу мой проект MADEI помогает художникам из&nbsp;города Тарко-Сале продемонстрировать свой талант и&nbsp;способствует развитию культурного досуга в&nbsp;городе.`)
							| Анастасия
							br
							| Прудаева
						+residentSlide(2, 'начинающий исполнитель', `В&nbsp;этом году арт-кластер &laquo;Таврида&raquo; запустил кастинг-платформу, благодаря которой я&nbsp;попал в&nbsp;10-ку финалистов конкурса ArtMasters и&nbsp;получил возможность снять клип на&nbsp;собственную песню Take Me&nbsp;Home. Для кого-то это может показаться чем-то нереальным, но&nbsp;именно так, украдкой, &laquo;Таврида&raquo; исполняет мечты.`)
							| Владислав
							br
							| Королёв
						+residentSlide(3, 'начинающий исполнитель', `&laquo;Таврида&raquo; исполнила мою детскую мечту ‒ с&nbsp;ранних лет я&nbsp;слушал Леонида Агутина, одной из&nbsp;первых композиций моего сценического дебюта была песня &laquo;На&nbsp;сиреневой луне&raquo;, и&nbsp;волею случая на&nbsp;фестивале в&nbsp;этом году именно ее&nbsp;мне посчастливилось спеть дуэтом с&nbsp;известным артистом.`)
							| Илья
							br
							| Аноприев
						+residentSlide(4, 'начинающие исполнительницы', `&laquo;Таврида&raquo; растет, а&nbsp;вместе с&nbsp;ней и&nbsp;мы. Здесь у&nbsp;нас есть возможность посещать интересные мастер-классы и&nbsp;знакомиться с&nbsp;известными артистами ‒ мы&nbsp;стараемся ее&nbsp;не&nbsp;упускать.`)
							| Радмира и&nbsp;Софья
							br
							| Мантулины
						+residentSlide(5, 'начинающий писатель', `Я&nbsp;стал обладателем гранта на&nbsp;съемки собственного интернет-шоу под названием &laquo;Парень, который читает стихи&raquo; с&nbsp;участием звезд отечественного шоу-бизнеса, и&nbsp;это не&nbsp;единственное, что дал мне арт-кластер &laquo;Таврида&raquo;.`)
							| Александр
							br
							| Лазухин
						+residentSlide(6, 'солист группы «НЕВЗРОСЛЕЙ»', `&laquo;Таврида&raquo; вдохновила на&nbsp;написание новой песни &laquo;Не&nbsp;забывай&raquo;, которая стала лучшей на&nbsp;старте нашей карьеры. &laquo;Таврида&raquo; подарила нам веру в&nbsp;себя, открыла новую аудиторию и&nbsp;помогла обрести вдохновение. Если кто-то спросит, стоит&nbsp;ли регистрироваться на&nbsp;форум или фестиваль, то&nbsp;мы&nbsp;ответим, что точно стоит.`)
							| Вадим
							br
							| Чмутин
						+residentSlide(7, 'начинающая исполнительница', `&laquo;Таврида&raquo; в&nbsp;первую нашу встречу подарила мне глоток воздуха ‒ я&nbsp;не&nbsp;понимала, куда я&nbsp;хочу нести свою музыку и&nbsp;кому нужны песни на&nbsp;английском. Все было очень абстрактно в&nbsp;моей голове. Но&nbsp;на&nbsp;форуме я&nbsp;обрела своих слушателей и&nbsp;получила менторскую поддержку. Появилась цель становиться с&nbsp;каждым днем все лучше и&nbsp;лучше.`)
							| Ирина
							br
							| Тарасова
	// end sResidents

mixin residentSlide(imgNum, role, text)
	.swiper-slide
		+e.item
			+e.PICTURE.img
				source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/portrait-${imgNum}.webp` )
				img.swiper-lazy(src="#" data-src=`img/@2x/portrait-${imgNum}.jpg` alt="")
			+e.content
				+e.name
					block
				+e.role=role
			+e.content--hover
				+e.name
					block
				+e.role=role
				+e.descr!= text
			//- +e.bio-btn(href='#') Биография