.modal-win {
	max-width: 100%;
	position: relative;
	width: rem(854);
	background: $white;
	box-shadow: 0px 4px rem(80) rgba(147, 169, 174, 0.62);

	padding: rem(30) rem(20)!important;
	@include media-breakpoint-up(sm){
		padding: rem(40) rem(35)!important;
	}

	border-radius: rem(25);
	@include media-breakpoint-up(lg){
		border-radius: rem(50);
	}
	.modal-content {

	}

	.fancybox-button.fancybox-close-small{
		@include media-breakpoint-up(lg){
			top: rem(25);
			right: rem(15);
		}
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	&__title{
		font-weight: 900;
		font-size: rem(30);
		line-height: (37/30);

		text-transform: uppercase;
		color: $purple;
		margin-bottom: rem(30);
	}
	&__list{
		list-style: none;
		padding: 0;
		margin: 0 0 rem(35);

		li{
			position: relative;
			&:before{
				content: '';
				background-color: $purple;
				position: absolute;
				left: 0;
				top: rem(14);
				width: rem(8);
				height: rem(8);
				border-radius: 50%;
			}

			font-weight: 600;
			font-size: rem(20);
			line-height: 1.8;
			color: $dark;

			padding: 0 0 rem(15) rem(30);
			@include media-breakpoint-up(md){
				padding: 0 0 rem(20) rem(40);
			}

			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	&__title-sm{
		font-weight: 900;
		font-size: rem(20px);
		line-height: 1.2;
		text-transform: uppercase;
		color: $dark;
		margin-bottom: rem(32);
	}
	&__row{
		@include roww(rem(10));
		& > *{
			margin-bottom: rem(10);
		}
		margin-bottom: rem(-10);
	}
	&__sub-row{
		@include roww(rem(8));
	}
	&__icon-col{
		padding-top: rem(6);
		.icon{
			font-size: rem(16);
			color: $black;
		}
	}
	&__l-name{
		font-weight: 600;
		font-size: rem(20px);
		line-height: 1.8;
		color: $dark;
	}
	&__l-place{
		font-size: rem(16px);
		line-height: 1.8;
		color: $dark;
	}

	&--art{
		width: 100%;
		border-radius: 0;
		background-color: transparent;
		border-radius:  0 !important;
		min-height: 100%;
		margin: 0;
		&::before{
			content: '';
			@include a-cent;
			backdrop-filter: blur(24px);
			z-index: -1;
		}
		picture{
			@include block(740, 490);
			max-width: rem(740);
			margin-bottom: 52px;
			img{
				position: absolute;
				left: 0;
				top: 0; 
				border-radius: 10px;
			}
		}
	}
}

.art{
	&__title{
		font-weight: 900;
		font-size: rem(30px);
		line-height: (37/30);
		text-transform: uppercase;
		color: $purple;
		margin-bottom: rem(10);
	}
	&__big-txt{
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.8;
		color: $dark;
		margin-bottom: rem(16);
	}
	&__sm-title{
		font-weight: 900;
		font-size: rem(20px);
		line-height: 1.2;
		text-transform: uppercase;
		color: $dark;
		margin-bottom: rem(8);
	}
	&__md-txt{
		font-weight: 600;
		line-height: 1.8;
		color: $dark;
		margin-bottom: rem(30);
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			margin-bottom: rem(10);
			&:before{
				content: '•';
				display: inline;
				margin-right: rem(5);
			}
		}
	}
	.sm-txt{
		line-height: 1.8;
		color: $dark;
		margin-bottom: rem(26);
		font-size: 12px;
	}
	&__foot-row{
		& > *{
			margin-bottom: rem(20);
		}
		margin-bottom: rem(-20);
	}
	&__f-txt{
		font-weight: 600;
		line-height: 1.8;
		color: $dark;
	}
	&__tel{
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.8;
		color: $gray-650;
		&:hover{
			color: $purple;
		}
	}
	&__mail{
		font-size: 16px;
		line-height: 1.8;
		color: $purple;
		&:hover{
			color: lighten($purple, 5);
		}
	}
	//
	&__{}
	&__{}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}