mixin modal()
	//  start modals
	+b.modal-win(id="modal-serv" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на территорию Фестиваля бесплатный
			li Участие в программе Фестиваля бесплатное
			li Мерч «Тавриды» бесплатный
			li Проживание в двухместных палатках на территории Фестиваля
			li Питание: за свой счет на фудкортах Фестиваля
		+e.title-sm Бесплатные автобусные рейсы организаторов до площадки фестиваля и обратно:
		+e.row.row
			+modalItem('Аэропорт', 'г. Симферополь')
			+modalItem('Ж/д вокзал', 'г. Симферополь')
			+modalItem('Автовокзал', 'г. Судак')
			+modalItem('Ж/д вокзал', 'с. Владиславовка')
	+b.art.modal-win(id="modal-art" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.big-txt На одну ссылку залить портфолио и видеовизитку:
		+e.sm-title Портфолио
		+e.md-txt Прикрепи фото/видео/файлы своих работ, в зависимости от направления. Пример: для хореографов видео с танцем, для художника фото/сканы работ
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до 1 минуты, где ответь на вопросы:
		+e.list
			li перечень значимых для тебя наград
			li опыт участия в федеральных и международных проектах по твоему направлению
			li твои ожидания от фестиваля
		+e.md-txt.mb-2  Заливай портфолио и видеовизитку на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_ инициалы участника (иванов_аб).
		.sm-txt * при загрузке файла на Яндекс.диск необходимо включить ссылку.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться:
			.col-auto
				+e.tel(href="tel:88003022704") 8 (800) 302-27-04
			.col-auto
				+e.mail(href='mailto:info@crki.art') info@crki.art
	// #modal-serv
	
	// end modals

mixin modalItem(name, place)
	.col-6.col-lg-3
		+e.sub-row.row
			+e.icon-col.col-auto
				+icon('location')
			.col
				+e.l-name=name
				+e.l-place=place