mixin modal()
	//  start modals
	+b.modal-win(id="modal-serv" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на территорию Фестиваля бесплатный
			li Участие в программе Фестиваля бесплатное
			li Мерч «Тавриды» бесплатный
			li Проживание в двухместных палатках на территории Фестиваля
			li Питание: за свой счет на фудкортах Фестиваля
		+e.title-sm Бесплатные автобусные рейсы организаторов до площадки фестиваля и обратно:
		+e.row.row
			+modalItem('Аэропорт', 'г. Симферополя')
			+modalItem('Ж/д вокзал', 'г. Симферополя')
			+modalItem('Автовокзал', 'г. Судака')
			+modalItem('Ж/д вокзал', 'с. Владиславовки')

	+b.art.modal-win(id="modal-art" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.big-txt На одну ссылку залить портфолио и видеовизитку:
		+e.sm-title Портфолио
		+e.md-txt Прикрепи фото/видео/файлы своих работ, в зависимости от направления. Пример: для хореографов видео с танцем, для художника фото/сканы работ
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до 1 минуты, где ответь на вопросы:
		+e.list
			li перечень значимых для тебя наград
			li опыт участия в федеральных и международных проектах по твоему направлению
			li твои ожидания от фестиваля
		+e.md-txt.mb-2  Заливай портфолио и видеовизитку на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt * при загрузке файла на Яндекс.диск необходимо включить ссылку.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться:
			.col-auto
				+e.tel(href="tel:88003022704") 8 (800) 302-27-04
			.col-auto
				+e.mail(href='mailto:info@crki.art') info@crki.art

	+b.modal-win(id="modal-serv-country" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на&nbsp;территорию Фестиваля бесплатный
			li Участие в&nbsp;программе Фестиваля бесплатное
			li Мерч &laquo;Тавриды&raquo; бесплатный
			//- li Проживание: за&nbsp;свой счет за&nbsp;территорией Фестиваля
			li Питание: за&nbsp;свой счет
		//- +e.title-sm Бесплатные шаттлы:
		//- +e.row.row
		//- 	+modalItem('Судак', 'площадка')
		//- 		+e.l-name Судак

	+b.art.modal-win(id="modal-art-country" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до&nbsp;1&nbsp;минуты, где ответь на&nbsp;вопросы:
		+e.list
			li Что для тебя арт-кластер &laquo;Таврида&raquo;?
			li Какой опыт ты&nbsp;ожидаешь получить на&nbsp;Фестивале?
			li Каким опытом можешь поделиться с&nbsp;другими участниками Фестиваля?
		+e.sm-title Правильно оформи видеовизитку!
		+e.md-txt.mb-2 Видеовизитку загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
		+e.md-txt.mb-2 ПОРТФОЛИО заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt.mb-0 * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
		.sm-txt * обязательно установи настройку доступа по&nbsp;ссылке.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться на&nbsp;почту:
			.col-auto
				+e.mail(href='mailto:tavrida@crki.art') tavrida@crki.art

	+b.modal-win(id="modal-serv-child" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на&nbsp;территорию Фестиваля бесплатный
			li Участие в&nbsp;программе Фестиваля бесплатное
			li Мерч &laquo;Тавриды&raquo; бесплатный
			//- li Проживание: за&nbsp;свой счет за&nbsp;территорией Фестиваля
			li Питание: за&nbsp;свой счет
		//- +e.title-sm Бесплатные шаттлы:
		//- +e.row.row
		//- 	+modalItem('Судак', 'площадка')
		//- 		+e.l-name Судак

	+b.art.modal-win(id="modal-art-child" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до&nbsp;1&nbsp;минуты, где ответь на&nbsp;вопросы:
		+e.list
			li Что для тебя арт-кластер &laquo;Таврида&raquo;?
			li Какой опыт ты&nbsp;ожидаешь получить на&nbsp;Фестивале?
			li Каким опытом можешь поделиться с&nbsp;другими участниками Фестиваля?
		+e.sm-title Правильно оформи видеовизитку!
		+e.md-txt.mb-2 Видеовизитку загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
		+e.md-txt.mb-2 ПОРТФОЛИО заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt.mb-0 * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
		.sm-txt * обязательно установи настройку доступа по&nbsp;ссылке.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться на&nbsp;почту:
			.col-auto
				+e.mail(href='mailto:tavrida@crki.art') tavrida@crki.art
	
	+b.modal-win(id="modal-serv-resident" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на&nbsp;территорию Фестиваля бесплатный
			li Участие в&nbsp;программе Фестиваля бесплатное
			li Мерч &laquo;Тавриды&raquo; бесплатный
			li Проживание в&nbsp;двухместных палатках на&nbsp;территории Фестиваля
			li Питание: за&nbsp;свой счет на&nbsp;фудкортах Фестиваля
		+e.title-sm Бесплатные автобусные рейсы организаторов до&nbsp;площадки фестиваля и&nbsp;обратно:
		+e.row.row
			+modalItem('Аэропорт', 'г. Симферополя')
			+modalItem('Ж/д вокзал', 'г. Симферополя')
			+modalItem('Автовокзал', 'г. Судака')
			+modalItem('Ж/д вокзал', 'с. Владиславовки')
	
	+b.art.modal-win(id="modal-art-resident" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.sm-title Портфолио
		+e.md-txt.mb-2 Прикрепи фото/видео/файлы своих работ, в&nbsp;зависимости от&nbsp;направления. Пример: для хореографов видео с&nbsp;танцем, для художника фото/сканы работ.
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до&nbsp;1&nbsp;минуты, где ответь на&nbsp;вопросы:
		+e.list
			li Что для тебя арт-кластер &laquo;Таврида&raquo;?
			li Какой опыт ты&nbsp;ожидаешь получить на&nbsp;Фестивале?
			li Каким опытом можешь поделиться с&nbsp;другими участниками Фестиваля?
		+e.sm-title Правильно оформи видеовизитку!
		+e.md-txt.mb-2 Видеовизитку загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
		+e.md-txt.mb-2 ПОРТФОЛИО заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt.mb-0 * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
		.sm-txt * обязательно установи настройку доступа по&nbsp;ссылке.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться на&nbsp;почту:
			.col-auto
				+e.mail(href='mailto:tavrida@crki.art') tavrida@crki.art

	+b.modal-win(id="modal-serv-together" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на&nbsp;территорию Фестиваля бесплатный
			li Участие в&nbsp;программе Фестиваля бесплатное
			li Мерч &laquo;Тавриды&raquo; бесплатный
			li Проживание в&nbsp;двухместных палатках на&nbsp;территории Фестиваля
			li Питание: за&nbsp;свой счет на&nbsp;фудкортах Фестиваля
		+e.title-sm Бесплатные автобусные рейсы организаторов до&nbsp;площадки фестиваля и&nbsp;обратно:
		+e.row.row
			+modalItem('Аэропорт', 'г. Симферополя')
			+modalItem('Ж/д вокзал', 'г. Симферополя')
			+modalItem('Автовокзал', 'г. Судака')
			+modalItem('Ж/д вокзал', 'с. Владиславовки')
	
	+b.art.modal-win(id="modal-art-together" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.sm-title Портфолио
		+e.md-txt.mb-2 Расскажи о&nbsp;своём опыте участия во&nbsp;Всероссийской акции взаимопомощи #МыВместе в&nbsp;формате небольшого эссе.
		+e.md-txt.mb-2 Не забудь прикрепить самые запоминающиеся для тебя фотографии и видео, связанные с твоей деятельностью.
		+e.sm-title Видеоответ
		+e.md-txt.mb-2 Запиши ролик длительностью до&nbsp;1&nbsp;минуты, где ответь на&nbsp;вопросы:
		+e.list
			li В&nbsp;чём твоя роль во&nbsp;Всероссийской акции взаимопомощи #МыВместе?
			li Почему ты&nbsp;хочешь принять участия в&nbsp;фестивале фестивалей &laquo;Таврида.АРТ&raquo;?
			li Чем ты&nbsp;можешь быть полезен и&nbsp;интересен на&nbsp;фестивале?
		+e.sm-title Правильно оформи видеоответ!
		+e.md-txt.mb-2 Видеоответ загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
		+e.md-txt.mb-2 ПОРТФОЛИО заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt.mb-0 * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
		.sm-txt * обязательно установи настройку доступа по&nbsp;ссылке.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться на&nbsp;почту:
			.col-auto
				+e.mail(href='mailto:tavrida@crki.art') tavrida@crki.art

	+b.modal-win(id="modal-serv-media" class=" " style="display: none" )
		+e.H4.title Сервисный пакет
		+e.UL.list
			li Вход на&nbsp;территорию Фестиваля бесплатный
			li Участие в&nbsp;программе Фестиваля бесплатное
			li Мерч &laquo;Тавриды&raquo; бесплатный
			li Проживание в&nbsp;двухместных палатках на&nbsp;территории Фестиваля
			li Питание: за&nbsp;свой счет на&nbsp;фудкортах Фестиваля
		+e.title-sm Бесплатные автобусные рейсы организаторов до&nbsp;площадки фестиваля и&nbsp;обратно:
		+e.row.row
			+modalItem('Аэропорт', 'г. Симферополя')
			+modalItem('Ж/д вокзал', 'г. Симферополя')
			+modalItem('Автовокзал', 'г. Судака')
			+modalItem('Ж/д вокзал', 'с. Владиславовки')
	
	+b.art.modal-win(id="modal-art-media" class=" " style="display: none" )
		+e.H4.title Творческое задание
		+e.sm-title Портфолио
		+e.md-txt.mb-2 Прикрепи до&nbsp;5&nbsp;примеров твоих лучших работ/создаваемого контента с&nbsp;указанием ссылок на&nbsp;публикации.
		+e.sm-title Видеовизитка
		+e.md-txt.mb-2 Запиши ролик длительностью до&nbsp;1&nbsp;минуты, где ответь на&nbsp;вопросы:
		+e.list
			li Что для тебя арт-кластер &laquo;Таврида&raquo;?
			li Какой опыт ты&nbsp;ожидаешь получить на&nbsp;Фестивале?
			li Каким опытом можешь поделиться с&nbsp;другими участниками Фестиваля?
		+e.sm-title Правильно оформи видеовизитку!
		+e.md-txt.mb-2 Видеовизитку загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
		+e.md-txt.mb-2 ПОРТФОЛИО заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_инициалы участника (иванов_аб).
		.sm-txt.mb-0 * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
		.sm-txt * обязательно установи настройку доступа по&nbsp;ссылке.
		+e.foot-row.row.align-items-center
			.col-auto
				+e.f-txt При возникновении вопросов обращаться на&nbsp;почту:
			.col-auto
				+e.mail(href='mailto:tavrida@crki.art') tavrida@crki.art
	// end modals

mixin modalItem(name, place)
	.col-6.col-lg-3
		+e.sub-row.row
			+e.icon-col.col-auto
				+icon('location')
			.col
				+e.l-name=name
				+e.l-place=place
					if block
						block