mixin sCommerceList(data)
	// start sCommerceList
	+b.SECTION.sCommerceList.section#sCommerceList&attributes(attributes)
		.container
			+b.section-title
				h2 Для вас доступны
			ul
				li 8 шатров вместимостью до 500 человек
				li 2 открытые площадки со сценам
				li 3 кафе
				li 3 кафе
				li 1 столовая
				li Видеоконференции и интернет-трансляции
				li Система кондиционирования помещений
				li Санузлы
	// end sCommerceList