mixin sFederal(data)
	// start sFederal
	+b.SECTION.sFederal.section#sFederal&attributes(attributes)
		.container
			+e.row.row.gy-5
				.col-lg-7.col-xl-6
					+b.section-title
						h1
							| Федеральная Сеть
							|
							br
							| арт-резиденций
						p 25 августа 2019 года на фестивале творческих сообществ «Таврида – АРТ» Первый заместитель Руководителя Администрации Президента Российской Федерации Сергей Владиленович Кириенко анонсировал создание арт-резиденций в регионах Российской Федерации. Идея проекта заключается в создании экосистемы, которая объединяет многофункциональные креативные пространства в городах России и помогает развитию региональных компетенций в креативных индустриях
				+e.img-col.col-lg-5.col-xl-6
					+e.img
						img(loading="lazy" src=`img/svg/sFederal-img.svg` alt="")
					+e.btn-cont.text-center
						+e.btn(href="#") Стать частью сети
	// end sFederal