mixin sArtist(data)
	// start sArtist
	+b.SECTION.sArtist.section#sArtist&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0
					h2 Гости и&nbsp;артисты Фестивалей <br> 2019-2020 годов
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.artist-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.artist-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.artist-slider-js
					.swiper-wrapper
						+artistSlide(0)
							| Сергей
							br
							| Шнуров
						+artistSlide(1)
							| Сергей
							br
							| Лазарев
						+artistSlide(2)
							| Полина
							br
							| Гагарина
						+artistSlide(3)
							| Юлианна
							br
							| Караулова
						+artistSlide(4)
							| МОТ
						+artistSlide(5)
							| Клава
							br
							| Кока
						+artistSlide(6)
							| ST
						+artistSlide(7)
							| Гарик
							br
							| Сукачев
						+artistSlide(8)
							| Лариса
							br
							| Долина
						+artistSlide(9)
							| Леонид
							br
							| Агутин
						+artistSlide(10)
							| Игорь
							br
							| Бутман
						+artistSlide(11)
							| Диана Арбенина
							br
							| и&nbsp;группа
							br
							| &laquo;Ночные снайперы&raquo;
						+artistSlide(12)
							| Сергей Жилин и&nbsp;&laquo;Фонограф-Джаз-Бэнд&raquo;
						+artistSlide(13)
							| Этери
							br
							| Бериашвили
						+artistSlide(14)
							| Сергей Галанин
							br
							| и&nbsp;группа &laquo;СерьГа&raquo;
						+artistSlide(15)
							| Владислав
							br
							| Маленко
						+artistSlide(16)
							| Ирина
							br
							| Чеснокова
						+artistSlide(17)
							| Анет Сай
						+artistSlide(18)
							| SHOO
						+artistSlide(19)
							| Duo RO
						+artistSlide(20)
							| Светлана
							br
							| Касьян
						+artistSlide(21)
							| Евгений
							br
							| Князев
						+artistSlide(22)
							| Танцевальный коллектив
							br
							| Russian Dream
	// end sArtist

mixin artistSlide(imgNum)
	.swiper-slide
		+e.PICTURE.img
			source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/artist-port-${imgNum}.webp` )
			img.swiper-lazy(src="#" data-src=`img/@2x/artist-port-${imgNum}.jpg` alt="")
		+e.txt
			block