mixin sTransfer(data)
	// start sTransfer
	+b.SECTION.sTransfer.section#sTransfer&attributes(attributes)
		.container
			+b.section-title
				h2 Трансфер участников
				p Маршрут «место проживания – Республика Крым – место проживания» за счет направляющей стороны:
			+e.row.row
				+e.col.col-lg-4
					+e.txt
						| За счет органов исполнительной власти субъектов Российской Федерации, реализующих государственную
						|
						br.d-none.d-xxl-block
						| молодежную политику
				+e.col.col-lg-4
					+e.txt За счет вуза/ссуза/работодателя/иной направляющей организации
				+e.col.col-lg-4
					+e.txt За свой счет
	// end sTransfer
mixin sTransfer7(data)
	// start sTransfer
	+b.SECTION.sTransfer.section#sTransfer&attributes(attributes)
		.container
			+b.section-title
				h2 Трансфер участников
			+e.row.row
				+e.col.col-lg-6
					p Трансфер участников по&nbsp;маршруту от&nbsp;места проживания до&nbsp;Республики Крым и&nbsp;обратно осуществляется за&nbsp;счёт направляющей стороны, в&nbsp;качестве которой выступают:
					ul 
						li органы исполнительной власти субъекта&nbsp;РФ, реализующие молодёжную политику
						li учреждения высшего и&nbsp;среднего профессионального образования
						li работодатель
						li за свой счёт
				+e.col.col-lg-6
					p Организаторы мероприятия предоставляют бесплатные автобусные рейсы до&nbsp;площадки арт-кластера &laquo;Таврида&raquo; по&nbsp;следующим маршрутам:
					ul 
						li Аэропорт г. Симферополя&nbsp;&mdash; Арт-кластера &laquo;Таврида&raquo;,  г. Судак
						li Ж/Д вокзал&nbsp;г. Симферополя&nbsp;&mdash; Арт-кластера &laquo;Таврида&raquo;, г. Судак
	// end sTransfer