mixin sHowToDo(data)
	// start sHowToDo
	+b.SECTION.sHowToDo.section#sHowToDo&attributes(attributes)
		.container
			+b.section-title
				h2 Инормация
				p Формирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийо с&nbsp;эффективными инструментами #[a(href='#') продвижения творческих проектов на&nbsp;примере ] успешных кейсов представителей различных областей креативных индустрий
				+e.subtext Формирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийо с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийФормирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийо с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрий
			+e.wrap
				h2 Как добраться
				.row.gy-4
					.col-lg
						+e.img-wrap.bg-wrap(href="#")
							+pic(`sHowToDo-img-1.jpg`,'bg').picture-bg
							+e.title Заголовок при наведении на фотографию
					.col-lg
						+e.img-wrap.bg-wrap(href="#")
							+pic(`sHowToDo-img-1.jpg`,'bg').picture-bg
							+e.title Заголовок при наведении на фотографию
	// end sHowToDo