mixin sHeaderSlider(data)
	// start sHeaderSlider
	+b.SECTION.sHeaderSlider.section#sHeaderSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sHeaderSlider
				
			.row
	// end sHeaderSlider