// start .sFamiliar
.sFamiliar {
	--sPT: #{rem(45)};
	--sPB: #{rem(3)};
	--sTPB: #{rem(48)};

	.section-title{
		h2{
			font-size: rem(24);
			line-height: (29/24);
			text-transform: uppercase;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};

		padding-bottom: rem(73);
	}
	&__item{
		display: flex;
		flex-direction: column;

		min-height: 100%;
		background: $gray-510;

		padding: rem(20) rem(16);
		border-radius: rem(16);
		@include media-breakpoint-up(sm){
			border-radius: rem(26);
			padding: rem(20);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(22) rem(32);
		}

		color: $dark;
	}
	&__i-row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		flex-grow: 1;
		width: 100%;
	}
	&__img{
		width: rem(39);
		height: rem(48);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt-col{
		font-weight: 800;
		font-size: 12px;
		line-height: 1.45;
		text-transform: uppercase;
	}
	&__lower-row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(40)};

		padding-bottom: rem(53);
	}
	&__sub-title{
		font-weight: 900;
		font-size: rem(24);
		line-height: (29/24);
		text-transform: uppercase;

		color: $dark;
		margin-bottom: rem(15);
		min-height: rem(56);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(20);
			min-height: rem(64);
		}
	}
	&__sub-row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};
	}
	&__sub-col{
		@include media-breakpoint-up(xl){
			width: 37%;
		}
	}

	&__l-img{
		height: rem(107);
		width: 100%;

		display: flex;
		align-items: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		margin-bottom: rem(10);
	}
	&__l-txt{
		font-weight: 500;
		font-size: rem(12);
		line-height: 1.5;
		color: rgba($dark, .5);
		max-width: rem(240);
	}
	&__foot-txt{
		max-width: 880px;

		color: $dark;
		font-size: rem(12);
		line-height: 1.8;

		a{
			color: $primary;
		}
	}
	&__{}
} // end.sFamiliar
//data-title="Название арт-резидженции" data-street="г. Такойто, ул. Вердинсков 26" data-link="https://www.youtube.com/watch?v=GvRdYUD-VyE" data-bs-toggle="popover"  data-bs-content="And here's some amazing content. It's very engaging. Right?" data-list-id="name1"
//data-title="" data-street="" data-link="https://www.youtube.com/watch?v=GvRdYUD-VyE" data-list-id="" data-bs-toggle="popover"  data-bs-content="And here's some amazing content. It's very engaging. Right?"
//#B2ECEF