mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				h2 Новости
			+e.row.row
				.col-md-6.col-lg-4
					+newsItem('tp')
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
					+newsItem('white', 1)
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга,
				.col-md-6.col-lg-4
					+newsItem('white', 2)
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга,
					+newsItem('white', 3)
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии,
				.col-lg-4
					+newsItem('tp')
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников
					+newsItem('tp')
						| Получить опыт организации крупных мероприятий и реальный
					+newsItem('tp')
						| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
			.text-center
				+e.btn(href="#") Еще новости
	// end sNews

mixin newsItem(itemClass, imgNum)
	+e.item(href="#" class=itemClass)
		+e.content
			if imgNum
				+e.img
					img(loading="lazy" src=`img/@2x/news-${imgNum}.jpg`)
			+e.txt
				block
		+e.date 14 января 2020