// start .sNews
.sNews {

	@include media-breakpoint-up(xxl){
		--sPT: #{rem(73px)};
		--sTPB: #{rem(58px)};
		--sPB: #{rem(82px)};
	}

	.section-title{

	}
	&__row{
		@include roww(rem(36));
		padding-bottom: rem(26);
	}
	&__item{
		@include mt();
		display: block;
		margin-bottom: rem(36px);
		width: 100%;

		--txt-td: underline;
		&:hover{
			--txt-td: none;
		}

		color: $dark!important;


		border-radius: rem(25);
		@include media-breakpoint-up(md){
			border-radius: rem(50);
		}

		padding: rem(30) rem(20);
		@include media-breakpoint-up(xl){
			padding: rem(30) rem(40);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(35) rem(36) rem(35) rem(42);
		}

		&.tp{
			border: 3px solid $dark;
			&:hover{
				//background-color: $white;
			}
		}
		&.white{
			border: 3px solid $white;
			background-color: $white;

			box-shadow: 0px 4px rem(30) rgba(147, 169, 174, 0.62);
			&:hover{
				box-shadow: 0px 4px rem(30) rgba(147, 169, 174, 0.4);
			}
			@include media-breakpoint-up(md){
				box-shadow: 0px 4px rem(40) rgba(147, 169, 174, 0.62);
				&:hover{
					box-shadow: 0px 4px rem(40) rgba(147, 169, 174, 0.4);
				}
			}
			@include media-breakpoint-up(xl){
				box-shadow: 0px 4px rem(80) rgba(147, 169, 174, 0.62);
				&:hover{
					box-shadow: 0px 4px rem(80) rgba(147, 169, 174, 0.4);
				}
			}
		}
	}
	&__content{
		display: block;
		margin-bottom: rem(20.5);
	}
	&__date{
		display: block;
		font-weight: 300;
		line-height: 1.8;
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (218.81/327.89) * 100%;
		margin-bottom: rem(20.5);

		border-radius: rem(20);
		@include media-breakpoint-up(md){
			border-radius: rem(30);
		}
	}
	&__txt{
		display: block;
		font-weight: 500;
		line-height: 1.85;

		text-decoration-line: var(--txt-td);
	}
	&__btn{
		@extend .btn;
		@extend .btn-warning;
		position: relative;
		z-index: 3;
		text-transform: uppercase;
	}
	//
	&__{}
	&__{}
} // end.sNews