@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-teacher {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-002-teaching {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-003-microphone {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-004-settings {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-005-lightbulb {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-006-flipchart {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-arrow-left {
	font-size:math.div(20,10)*1rem;
	width: math.div(43,20)*1em;
}
.icon-arrow-left-long {
	font-size:math.div(18,10)*1rem;
	width: math.div(65,18)*1em;
}
.icon-arrow-right {
	font-size:math.div(20,10)*1rem;
	width: math.div(43,20)*1em;
}
.icon-chevron-right {
	font-size:math.div(12,10)*1rem;
	width: math.div(6,12)*1em;
}
.icon-dz-plus {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-eye {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
.icon-feather_send {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-location {
	font-size:math.div(17,10)*1rem;
	width: math.div(12,17)*1em;
}
.icon-mail {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-user {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
