// start .sWay
.sWay {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(55px)};
		--sTPB: #{rem(81px)};
		--sPB: #{rem(25px)};
	}

	&__container{
		&--alt{
			@include media-breakpoint-between(lg, xl){
				max-width: 782px;
			}
		}
	}
	.section-title {
		&--alt{
		}
	}

	&__row{
		--bs-gutter-x: #{rem(20)};

		&--alt{
			@include media-breakpoint-up(md){
				--bs-gutter-x: 24px!important;
			}

			@include media-breakpoint-up(xl){
				--bs-gutter-x: 40px!important;
			}

			& > * {
				@include media-breakpoint-up(md){
					margin-bottom: rem(25) !important;
				}
				@include media-breakpoint-up(xl){
					margin-bottom: rem(25) !important;
				}
			}
		}

		& > * {
			margin-bottom: rem(20);
		}

		margin-bottom: rem(-20);
		padding-bottom: rem(50);
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(40)};

			& > * {
				margin-bottom: rem(40);
			}

			margin-bottom: rem(-40);
			padding-bottom: rem(83);
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;

		border-radius: rem(25);
		@include media-breakpoint-up(md) {
			border-radius: rem(50);
		}
		overflow: hidden;

		padding: rem(30) rem(20px) rem(40) rem(20);
		@media (min-width: 430px) {
			padding: rem(30) rem(120px) rem(40) rem(20);
			min-height: 400px;
		}
		@include media-breakpoint-up(sm) {
			padding: rem(50) rem(120px) rem(60) rem(40);
			min-height: 500px;
		}
		@include media-breakpoint-up(lg) {
			min-height: 550px;
			// min-height: 100%;
			padding: rem(50) rem(120px) rem(60) rem(40);
		}
		@include media-breakpoint-up(xl) {
			padding: rem(50) rem(160px) rem(60) rem(40);
		}
		@include media-breakpoint-up(xxl) {
			padding: rem(55) rem(162px) rem(62) rem(63);
		}

		position: relative;
		z-index: 1;

		img {
			opacity: 0;
			@media (min-width: 430px) {
				opacity: 1;
			}
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
			transform: translateX(20%);
		}
		&--wide {
			@include media-breakpoint-up(lg) {
				min-height: 300px;
			}
			img {
				transform: translateX(0);
				@include media-breakpoint-up(lg) {
					max-width: 100%;
					max-height: 100%;
				}
				top: 0;
				bottom: auto;
			}

			.sWay__big-txt {
				position: static !important;
				text-orientation: initial !important;
				writing-mode: initial !important;
				transform: rotate(0) !important;
				height: auto !important;
			}
			.sWay__txt {
				max-width: rem(300);
				@include media-breakpoint-up(md) {
					max-width: rem(400);
				}
				@include media-breakpoint-up(lg) {
					max-width: rem(700);
				}
				@include media-breakpoint-up(xl) {
					max-width: rem(800);
				}
				// flex-grow: 0;
			}
		}

		//
		&--wide2{
			border-radius: rem(30)!important;

			@include media-breakpoint-up(lg) {
				min-height: 300px;
				font-size: rem(54.5);
				line-height: (66/54.5);
				letter-spacing: rem(-1);

				padding:29px 33px 22px!important;
			}
			@include media-breakpoint-up(xl){
				font-size: rem(65);
				line-height: 1.2;
			}

			//-
			img {
				transform: translateX(0);

				@include media-breakpoint-up(lg){
					max-width: 100%;
					height: 100%;
				}
				bottom: 0;
			}

			.sWay__long {
				margin-bottom: 6px;
			}
			.sWay__big-txt {
				position: static !important;
				text-orientation: initial !important;
				writing-mode: initial !important;
				transform: rotate(0) !important;
				height: auto !important;
				margin-bottom: 10px;

				@include media-breakpoint-up(md){
					font-size: 54px!important;
				}
			}
			.sWay__txt {
				max-width: rem(300);
				@include media-breakpoint-up(md) {
					max-width: rem(400);
				}
				@include media-breakpoint-up(lg) {
					max-width: rem(430);
				}
				// flex-grow: 0;
			}

			//
			.sWay__btn{
					//padding: ;
				@include media-breakpoint-up(md){
					margin-left: -17px;
				}
			}
		}

		//
		&.item-long{
			border-radius: rem(30)!important;
			@media (min-width: 430px) {
				min-height: rem(600);
			}
			@include media-breakpoint-up(sm){
				min-height: rem(532);
			}
			@include media-breakpoint-up(md){
				min-height: rem(532);
				padding: rem(22) rem(93) rem(22) rem(22) !important;
			}
			@include media-breakpoint-up(xl){
				min-height: rem(600);
			}

			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				bottom: 0;
				right: 50%;
				z-index: -1;
				transform: translateX(50%);
			}

			//
			.sWay__big-txt{
				font-size: rem(46);
				right: rem(15);
				bottom: rem(30);
				margin-bottom: rem(30);
				height: auto;
				@include media-breakpoint-up(sm){
					font-size: rem(50);
					right: rem(30);
					bottom: rem(30);
					margin-bottom: 0;
				}
				@include media-breakpoint-up(md) {
					font-size: rem(54.5);
					line-height: (66/54.5);
					letter-spacing: rem(-1);
					bottom: unset;
					right: 24px;
					top: 24px;
				}
				@include media-breakpoint-up(xl){
					font-size: rem(65);
					line-height: 1;
				}
			}
			//
		}
		//

	}

	&__big-txt {
		font-weight: 900;

		@media (min-width: 430px) {
			position: absolute;
			z-index: 2;

			writing-mode: vertical-rl;
			text-orientation: sideways;
			transform: rotate(180deg);
		}

		font-size: rem(46);
		right: rem(15);
		bottom: rem(30);
		margin-bottom: rem(30);
		height: auto;
		@include media-breakpoint-up(sm) {
			font-size: rem(50);
			right: rem(30);
			bottom: rem(30);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(65);
			right: rem(40);
			bottom: rem(40);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(78.6);
			right: 42px;
			top: 82px;
			bottom: unset;
			height: calc(100% - #{rem(137px)});
		}

		line-height: 1;
		text-transform: uppercase;
	}
	//
	&__txt {
		flex-grow: 1;
		&--white {
			color: $white;
		}

	}
	&__long {
		line-height: 1.85;
		margin-bottom: rem(23);

		&--alt{
			font-weight: 600;
			font-size: rem(16);
			line-height: (20/16);
			letter-spacing: rem(-0.5);
			color: $white;
		}
	}
	&__sm-title {
		line-height: 1.85;
		margin-bottom: 1px;
	}
	&__sm-content {
		margin-bottom: rem(14px);
	}
	&__bold {
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			margin-top: auto;
			// flex-grow: 0;
		}
		@include media-breakpoint-up(xl) {
			flex-grow: 1;
			margin-top: -4px;
		}

		font-size: rem(18);
		max-width: rem(280);
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
			max-width: rem(255);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(20);
			max-width: rem(285);
		}
		font-weight: 600;
		line-height: 1.8;
		margin-bottom: rem(30);
	}
	&__btn {
		@extend .btn;
		@extend .btn-warning;
		text-transform: uppercase;
		margin-top: rem(22);

		//
		&--black{
			font-weight: 600;
			font-size: rem(16);
			line-height: (20/16);
			letter-spacing: rem(-0.5);
			color: $black!important;
			text-transform: none;

			@include media-breakpoint-up(md){
				padding: 18px 33px;
			}
		}
	}

	&__pills {
	}
	&__pill {
		margin-bottom: rem(40px);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(51px);
		}
	}
	&__p-row {
		@include roww(rem(20));
		@include media-breakpoint-up(md) {
			@include roww(rem(40));
		}
	}
	&__p-coll {
		@include media-breakpoint-up(lg) {
			max-width: 80%;
		}
		&--txt {
			@include media-breakpoint-up(xl) {
				padding-left: rem(38px);
			}
		}
	}
	&__p-img {
		width: rem(60);
		height: rem(60);
		@media (min-width: 400px) {
			width: rem(72);
			height: rem(72);
		}

		@include media-breakpoint-up(xl) {
			margin-top: rem(9px);
		}
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__p-bold {
		font-weight: 600;

		font-size: rem(17px);
		@media (min-width: 400px) {
			font-size: rem(18px);
		}
		@include media-breakpoint-up(sm) {
			font-size: rem(20px);
		}
		line-height: 1.8;

		color: $dark;
		margin-bottom: 16px;
	}
	&__age {
	}
	&__ {
	}
	&__ {
	}
} // end.sWay
