mixin sFestival(data)
	// start sFestival
	+b.sFestival.section#sFestival&attributes(attributes)
		.container
			+e.slider
				+b.section-title.row.align-items-center
					.col-auto
						+b.sl-contr
							+e.prev.fest-prev-js
								img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
							+e.next.fest-next-js
								img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
				.swiper-container.fest-slider-js
					.swiper-wrapper
						+festSlide()
						+festSlide()
						+festSlide()
						+festSlide()
					//- +b.fest-pugin--js
	// end sFestival

mixin festSlide()
	.swiper-slide
		+e.row.row
			.col-xxl-5.col-lg-6
				+e.txt-content
					+e.H4.title Фестиваль фестивалей «Таврида.АРТ»
					+e.txt Старт регистрации – 15 марта
					+e.btn(href='#') Подробнее
			.col-xxl-7.col-lg-6
				+e.PICTURE.img
					source.swiper-lazy(srcset="#" data-srcset="img/@2x/webp/sFestival.webp", type="image/webp")
					img.swiper-lazy.res-i(src="#" data-src="img/@2x/sFestival.png" alt="")
