// start .sTable
.sTable {
	--sPT: #{rem(55)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(45)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(62)};
		--sPB: #{rem(20)};
		--sTPB: #{rem(50)};
	}

	//-
	&__slider-wrap{

		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{}
		.swiper-slide{
			width: 100%;
		}
	}
	&__table{
		@include media-breakpoint-down(lg){
			width: 100%;
		}
	}
	td{
		padding: rem(17.5) 0;
		@include media-breakpoint-up(lg) {
			
			border-bottom: 1px solid rgba($gray-650, .5); 
		} 
	}
	th{
		padding: 0 0 rem(16);
		margin-bottom: 3px;
		border-bottom: 2px solid $black;
		font-size: 12px;
		font-weight: 500;
		
	}
	td,
	th{
		padding-right: rem(20px);
			@include media-breakpoint-up(lg) {
		&:nth-child(3) {
			width: rem(350px);
		}
		&:last-child{
			padding-right: 0;
		}
		&:nth-child(5){
			text-align: center;
		}
		}
	}
	&__tr{
		font-size: rem(16);
	}
	 
	&__status{
		text-align: center;
		padding: rem(8.5) rem(10);
		border-radius: rem(150);

		font-weight: bold;
		font-size: rem(12);
		line-height: calc(15/12);
		text-transform: uppercase;
		color: $white;
		white-space: nowrap;
		background:var(--bg);
	}
	&__mark{
		font-weight: bold;
		font-size: rem(20);
		line-height: 1.8;
		color: $blue3;
	}
	&__btn{
		@extend .btn;
		border-width: 3px;
		padding: rem(5.5) rem(5);
		white-space: nowrap;
		font-weight: 900;
		font-size: rem(12);
		line-height: calc(15/12);
		text-transform: uppercase;

		&--orange{
			min-width: rem(148);
			@extend .btn-warning;
		}
		&--out-black{
			min-width: rem(96) !important;
			@extend .btn-outline-black;
		}
	}
	//
	&__{}
	&__{}

		@include media-breakpoint-down(lg) {
			thead{
				display: none;
			}
			table,
			td,
			tbody{
				display: block;
			}
			tr{
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid rgba($gray-650, .5); 
				@include roww(20px);
			}
			td{
				&:nth-child(3){
					width: 100%;
					// order: -1;
					padding-top: 0;
				}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(4)
				{
					order: -1;
				}
				&:nth-child(2){
					flex-grow: 1;
				}
				&:nth-child(5) {
						display: flex;
						align-items: center;
						width: 100%;
						padding-top: 0;
						padding-bottom: 0;
						&::before{
							content: 'Баллы';
							margin-right: rem(10);
						}
				}
				&:nth-child(6){
					flex-grow: 1;
				}
			}
		}
} // end.sTable