mixin sTable(data)
	// start sTable
	+b.SECTION.sTable.section#sTable&attributes(attributes)
		.container
			+e.slider-wrap
				.swiper-container.sTable-slider-js
					.swiper-wrapper
						.swiper-slide
							+e.TABLE.table
								thead
									tr
										th Дата
										th Время
										th Мероприятие
										th Статус
										th Баллы
										th 
										th 
								tbody
									+sTableRow({
										event: 'Название мероприятия в несколько строк для наглядности отображения',
										status: 'На рассмотрении',
										statusBg: '#00BAC3',
										orangeBtn: 'Редактировать',
										blackBtn: 'отозвать',
									})
									+sTableRow({
										event: 'Название мероприятия в несколько строк для ',
										status: 'Отклонена',
										statusBg: '#FF1F00',
										orangeBtn: false,
										blackBtn: 'Удалить',
									})
									+sTableRow({
										event: 'Название мероприятия в несколько',
										status: 'Одобрена',
										statusBg: '#6B1680',
										orangeBtn: 'Подтвердить',
										blackBtn: 'отозвать',
									})
									+sTableRow({
										event: 'Название мероприятия в несколько строк для наглядности отображения',
										status: 'На рассмотрении',
										statusBg: '#00BAC3',
										orangeBtn: 'Редактировать',
										blackBtn: 'отозвать',
									})
									+sTableRow({
										event: 'Название мероприятия в несколько строк для ',
										status: 'Отклонена',
										statusBg: '#FF1F00',
										orangeBtn: false,
										blackBtn: 'Удалить',
									})
									+sTableRow({
										event: 'Название мероприятия в несколько',
										status: 'Одобрена',
										statusBg: '#6B1680',
										orangeBtn: 'Подтвердить',
										blackBtn: 'отозвать',
								})
	// end sTable

mixin sTableRow(data)
	tr 
			td 17.06.2022
			td 14:00
			td=data.event
			td
				+e.status(style=`--bg: ${data.statusBg}`)=data.status
			td
				+e.mark 450
			td
				if data.orangeBtn
					+e.btn--orange(href="#")=data.orangeBtn
			td
				+e.btn--out-black(href="#")=data.blackBtn
