// start .sTable
.sTable {
	--sPT: #{rem(55)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(45)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(62)};
		--sPB: #{rem(20)};
		--sTPB: #{rem(50)};
	}

	//-
	&__slider-wrap{

		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{}
		.swiper-slide{
			width: rem(1120);
		}
	}
	&__table{
		@include media-breakpoint-down(lg){
			width: rem(1120);
		}
	}
	td{
		padding: rem(17.5) 0;
		border-bottom: 1px solid rgba($gray-650, .5); 
	}
	th{
		padding: 0 0 rem(16);
		margin-bottom: 3px;
		border-bottom: 2px solid $black;
		
	}
	td,
	th{
		padding-right: rem(20px);
		&:nth-child(3) {
			width: rem(350px);
		}
		&:last-child{
			padding-right: 0;
		}
		&:nth-child(5){
			text-align: center;
		}
	}
	&__tr{
		font-size: rem(16);
	}
	 
	&__status{
		text-align: center;
		padding: rem(8.5) rem(10);
		border-radius: rem(150);

		font-weight: bold;
		font-size: rem(12);
		line-height: calc(15/12);
		text-transform: uppercase;
		color: $white;
		white-space: nowrap;
		background:var(--bg);
	}
	&__mark{
		font-weight: bold;
		font-size: rem(20);
		line-height: 1.8;
		color: $blue3;
	}
	&__btn{
		@extend .btn;
		border-width: 3px;
		padding: rem(5.5) rem(5);
		white-space: nowrap;
		font-weight: 900;
		font-size: rem(12);
		line-height: calc(15/12);
		text-transform: uppercase;

		&--orange{
			min-width: rem(148);
			@extend .btn-warning;
		}
		&--out-black{
			min-width: rem(96) !important;
			@extend .btn-outline-black;
		}
	}
	//
	&__{}
	&__{}
} // end.sTable