mixin sEvent(data)
	// start sEvent
	+b.sEvent.section#sEvent&attributes(attributes)
		.container
			+e.items
				+sEventItem({
					imgNum: 1,
					format: 'jpg',
					title: 'Образовательные арт-школы',
					txt: 'Образовательные арт-школы ‒ это уникальная культурно-просветительская площадка, где эксперты из разных областей творческих индустрий и креативной экономики делятся своими знаниями и опытом в режиме нон-стоп',
				})
				+sEventItem({
					imgNum: 3,
					title: 'Фестиваль Таврида.АРТ»',
					txt: 'Фестиваль «Таврида.АРТ» ‒ это точка сборки лидеров изменений в креативных индустриях с высоким уровнем концентрации разноформатных событий и творческих людей на один квадратный метр Капсельской бухты в Крыму. В этом году он пройдет с 8 по 12 сентября',
				})
				+sEventItem({
					imgNum: 2,
					format: 'jpg',
					title: 'Грантовый конкурс',
					txt: 'С 2015 года на площадке «Тавриды» проводится всероссийский конкурс молодежных проектов. За это время его победителями стали 957 человек, на реализацию проектов которых было выделено более 350 миллионов рублей. Конкурс проводится Федеральным агентством по делам молодежи и входит в платформу «Россия – страна возможностей»',
				})
				+sEventItem({
					imgNum: 4,
					title: 'Координаторы образовательных арт-школ',
					txt: 'Координатор ‒ это связующее звено между программной дирекцией образовательных арт-школ, службами сервиса, логистики, протокола почетных гостей и участниками образовательных проектов арт-кластера «Таврида в период с 25 мая по 15 октября 2021 года»',
				})
				+sEventItem({
					imgNum: 5,
					title: 'Волонтеры фестиваля «Таврида.АРТ»',
					txt: 'Фестиваль «Таврида.АРТ» объединяет целеустремленных, гибких и творческих людей, которые способны реализовывать проекты со смыслом и менять будущее. Волонтеры и тимлидеры фестиваля – соорганизаторы самого масштабного события для молодых деятелей культуры и искусств и лидеров изменений!',
				})
				+sEventItem({
					imgNum: 6,
					title: 'Кастинг-платформа «Таврида.АРТ»',
					txt: 'Кастинг-платформа «Таврида.АРТ» – это единственная в России платформа-агрегатор, дающая молодым людям до 35 лет огромные возможности для реализации своего творческого потенциала. В рамках платформы проходят отборы в лучшие флагманские шоу и проекты, а также на стажировки в передовые компании и организации.',
				})
				+sEventItem({
					imgNum: 7,
					title: 'Образовательные арт-школы',
					txt: 'Арт-парк появился в 2019 году: в рамках форума «Таврида» молодыми архитекторами и дизайнерами со всей России под кураторством представителей современной отечественной архитектуры и искусства были спроектированы и возведены первые арт-объекты. Территория арт-парка стала настоящей творческой лабораторией, где арт - объекты гармонично сочетаются...',
				})
	// end sEvent

mixin sEventItem(data)
	+e.item
		+pic(`sEvent-${data.imgNum}.${data.format || 'png'}`, undefined, 0)(class="sEvent__bg")
		+e.txt-box
			+e.title=data.title
			+e.txt=data.txt
			+e.btn(href="#") Подробнее...