mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+b.section-title
				h1
					| Арт-кластер
					br
					| «Таврида»
			.row
				.col-12.col-sm-11.col-md-9.ms-auto
					+e.video-bl
						iframe(src='https://vk.com/video_ext.php?oid=-89840945&id=456240295&hash=a36e4f0d424f757c&hd=2' width='853' height='480' frameborder='0' allowfullscreen='')
						//-+e.VIDEO.video(src="videoplayback.mp4" preload muted controls)
	// end headerBlock

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--blue.section#headerBlock&attributes(attributes)
		+e.container.container
			+b.section-title
				h1
					| Фестиваль
					br
					| фестивалей
					br
					| «Таврида – АРТ»
			.row
				.col-12.col-sm-11.col-md-9.ms-auto
					+e.video-bl
						//-+e.VIDEO.video(src="videoplayback.mp4" preload muted controls)

mixin headerBlock3()
	// start headerBlock
	+b.headerBlock--forum.section#headerBlock&attributes(attributes)
		+e.container.container
			+b.section-title
				h1 ФОРУМ
				p
					| Мир
					br
					| любовь
					br
					| искусство
			.row
				.col-12.col-sm-11.col-md-9.ms-auto
					+e.video-bl
						//-+e.VIDEO.video(src="videoplayback.mp4" preload muted controls)