mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+b.section-title
				h1!= data.title
				if data.text
					p!= data.text
			.row
				.col-12.col-sm-11.col-md-9.ms-auto
					+e.video-bl
						if data.video
							iframe(src=`${data.video}&autoplay=1&moot=1&loop=1&controls=0&disablekb=1&showinfo=0` width='853' height='480' frameborder='0' allowfullscreen='')
						//-+e.VIDEO.video(src="videoplayback.mp4" preload muted controls)
	// end headerBlock