// start .headerBlock
@use "sass:math";

.headerBlock {
  &__content{
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md){
    // margin-right: -35%;
    }
  }
  .row{
    align-items: center;
  }
  --sPT: 0;
  --sTPB: 0;
  --sPB: #{rem(37)};

  .btn{
    text-transform: uppercase;
    font-size: 20px;
    padding: 18px 35px;
  }

  position: relative;
  z-index: 2;
  &__container{
    position: relative;
  }
  .section-title{
    z-index: 1;

    position: relative;
    // margin-bottom: -20px;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md){
      // margin-bottom: 0;
      padding-top: rem(48);
      position: absolute;
      top: 0;
    }
    //left: 9px;
    h2{
      font-size: 24px;
    }
    h1{
      color: $body-color;

      @include media-breakpoint-up(lg){
        flex: rem(45);
      }
      @include media-breakpoint-up(lg){
        flex: rem(60);
        // max-width: rem(300);
      }
      font-size: rem(40);
      @include media-breakpoint-up(xl){
        font-size: rem(40);
        // font-size: rem(100.3);
      }
      line-height: 1;
      letter-spacing: -0.06em;
      text-transform: uppercase;
    }
  }
  //video
  &__video-bl{
    display: block;
    // @extend .accept-ratio-frame-nh;
    @include block(966,544);
    background: #8000FF;
    border-radius: 30px;
    overflow: hidden;

    &::before{
      content: '';
      display: block;
      // padding-top: math.div(544, 966) * 100%;
    }
    background: linear-gradient(250.72deg, rgba(107, 22, 128, 0.8) 3.46%, rgba(177, 217, 219, 0.8) 82.84%);
    backdrop-filter: blur(32px);
     @include media-breakpoint-down(sm) {
       margin-inline-start: calc(-1 * var(--bs-gutter-x,15px));
       margin-inline-end: calc(-1 * var(--bs-gutter-x,15px));
       width: calc(100% + 2 * var(--bs-gutter-x, 15px));
     }

    border-radius: rem(25);
    @include media-breakpoint-up(md){
      border-radius: rem(50);
    }
    > * {
      @include a-cent1;
      @include media-breakpoint-up(md){
      }
      width: 100% !important;
      height: 100% !important;
      // width: 120% !important;
      // height: 120% !important;
      // top: 0;
      // left: 0;
      // width: 100% !important;
      // height: 100% !important;
      // position: absolute;
    }
  }
  &__video{
    position: absolute;
    top: 0;
    left: 0;

      width: 100% !important;
      height: 100% !important;
      // object-fit: cover;
  }

  &__{}
  &__{}
  //
  &__{}
  &__{}

  &--blue{
    background-color: $blue2;
    color: $white;

    .section-title{
      @include media-breakpoint-up(xxl){
        padding-top: rem(72px);
      }
      color: $white;
      h1,h2{
        color: $white;
      }
    }
  }

  &--forum{
    .section-title{
      @include media-breakpoint-up(xl){
        padding-top: rem(5);
      }
      @include media-breakpoint-up(xxl){
        padding-top: rem(32);
      }

      h1{
        @include media-breakpoint-up(md){
          font-size: rem(90);
        }
        @include media-breakpoint-up(lg){
          font-size: rem(125);
        }
        @include media-breakpoint-up(xl){
          margin-bottom: rem(15px);
          font-size: rem(170);
          line-height: math.div(207, 170);
          letter-spacing: -0.06em;
        }

        color: $dark;
        &.sm{
          
        }
      }
      .sm,
      p{
        font-weight: 900;
        // @extend .h2;
        @include rfs(50px);
        line-height: math.div(85, 70);
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: $dark;
        max-width: rem(690);
      }
    }


  }
  .section-title__data{
    @extend .h4;
    font-weight: 900;
    margin-bottom: rem(10);
    text-transform: uppercase;
  }

  &__inner{
    background-color: var(--bg-color);
    @include media-breakpoint-up(xl) {

      border-radius: rem(50px);
      padding: 80px 0px;
    }
    border-radius: rem(30px);
    padding: 60px 0px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    .section-title {
      position: static !important;
      padding-top: 0;
    }
  }
  .section-title {
  &__footer{
    @include rfs(22px);
    text-transform: uppercase;
    font-weight: bold;
    @include media-breakpoint-up(md){

      margin-top: 90px;
    }
    margin-top: 40px;
  }
}
.sm{
  @include media-breakpoint-up(xl) {
  font-size: rem(40) !important;
}
font-size: rem(30) !important;
  max-width: 572px;
  line-height: 1.4;
}
.pic-sq{
  @include block();
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.section-title__back{
  color: $body-color;
  display: inline-block;
  margin-bottom: 55px;
  font-weight: bold;
  .icon{
    stroke: currentColor;
    font-size: 0.9em;
    margin-right: 1em;
    
  }
}
.soc{
  @include media-breakpoint-up(md){

    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin-top: 0;
  }
  margin-top: 20px;
}
}

.section--frame3{
  padding-bottom: 75px;
   h1{
     margin-top: 0;
    @include media-breakpoint-up(xl) {

      font-size: 72px !important;
    }
  }
  .section-title{
    padding-top: 0 !important;
  }
  .section-title__footer{
    @include media-breakpoint-up(md){

      font-size: 35px;
    }
    font-size: 20px;
    font-weight: 300;
  }
  .headerBlock__video-bl {
  }
}
// end.headerBlock
.section--frame3 .headerBlock__video-bl {
  @include media-breakpoint-up(sm){

    margin-left: auto;
    max-width: 584px;
  }
  // background: #8000FF;
border-radius: 30px;
overflow: hidden;

}