mixin s-test()
	// start s-test
	+b.SECTION.s-test.section#s-test&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-test
			.row
				.d-none
					| data-title=""
					| data-street=""
					| data-link="https://www.youtube.com/watch?v=GvRdYUD-VyE"
					| data-list-id=""
					| data-bs-toggle="popover"  data-bs-content="And here's some amazing content. It's very engaging. Right?"/>
					| #B2ECEF
					//-
					| data-title=""
					| data-street=""
					| data-link="https://www.youtube.com/watch?v=GvRdYUD-VyE"
	// end s-test