mixin sMaterials(data)
	// start sMaterials
	+b.SECTION.sMaterials.section#sMaterials&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-md.mb-3.mb-md-0
					h2!= data.h2
				.col-12.col-md-auto
					+b.sl-contr
						+e.prev.act-prev-js
							img(src="img/svg/arrow-left.svg" alt="" loading="lazy")
						+e.next.act-next-js
							img(src="img/svg/arrow-right.svg" alt="" loading="lazy")
			+e.slider--js.swiper-container
				.swiper-wrapper
					if data.slides
						each slide in data.slides
							+e.slide.swiper-slide
								+e.item(href="#")
									+e.DIV.wrap
										img.swiper-lazy(src="#" data-src=`img/@2x/${slide.img}`, alt="")
									+e.DIV.title!= slide.title
									+e.DIV.watch 
										+icon("eye")
										| 156
	// end sMaterials