mixin sWorkFormat(data)
	// start sWorkFormat
	+b.SECTION.sWorkFormat.section#sWorkFormat&attributes(attributes)
		.container
			h2 Формат работы
			.row.gy-4
				.col-lg-6 
					p Формирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийо с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрий
				.col-lg-6
					p Формирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрийо
	// end sWorkFormat