// start .sWorkFormat
.sWorkFormat {
	--sPT: #{rem(40)};
	--sPB: #{rem(10)};
	// --sTPB: ;
	h2 {
		margin-bottom: rem(48);
	}
	p {
		font-size: rem(20);
		line-height: 1.8em;
		margin-bottom: 0;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWorkFormat