// start .sProgramFilter
.sProgramFilter {
	--sPT: #{rem(44)};
	--sPB: #{rem(22)};
	// --sTPB: ;
	.row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(24)};
	}
	&__reset-block {
		display: flex;
		@include media-breakpoint-up(lg){
			justify-content: flex-end;
		}
	}
	&__reset {
		border: none;
		background-color: transparent;
		color: $primary;
		.icon {
			font-size: rem(4.5);
			margin-right: rem(9);
			stroke: $primary;
		}
		span {
			font-weight: 600;
			font-size: 12px;
			line-height: 100%;
		}
	}
	&__filter-block {
		& > * {
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.row{
			--bs-gutter-y:#{rem(8)};
			--bs-gutter-x:#{rem(0)};
		}
	}
	&__filter-wrap{
		& > * {
			margin-right: 8px;
			// margin-bottom: 24px !important;
			width: auto;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__filter-string {
		display: flex;
		align-items: flex-start;
		@include media-breakpoint-up(lg){
			flex-direction: row;
		}
		flex-direction: column;
		.custom-input__text.form-check-label {
			font-size: rem(13) !important;
			padding: rem(4.5) rem(14);
		}
		&--big {
			.custom-input__text.form-check-label {
				font-size: rem(16) !important;
				font-weight: 700;
				padding: rem(5.5) rem(20);
			}
		}
	}
	&__filter-title {
		margin-right: 12px;
		@include media-breakpoint-up(lg){
			padding-top: rem(10);
			margin-bottom: 0;
		}
		margin-bottom: rem(12);
		text-transform: uppercase;
		font-weight: 800;
		font-size: 12px;
		line-height: 100%;
	}
	.custom-input__input {
		display: none;
		&:checked {
			& + .custom-input__text {
				background-color: var(--bg-checked,#00bac3);
				border-color: var(--bg-checked,#00bac3);
				font-weight: 700;
				color:var(--color-checked,#ffffff);
			}
		}
	}
	.custom-input {
		padding: 0;
	}
	.custom-input__text {
		line-height: 180%;
		color: #000000;
		background-color: var(--bg-color);
		border: 1px solid #c8deff;
		border-radius: 30px;
		@include mt;
		white-space: nowrap;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProgramFilter
