mixin sProgramFilter(data)
	// start sProgramFilter
	+b.sProgramFilter.section#sProgramFilter&attributes(attributes)
		.container
			.row
				.col-xl-10.col-lg-9
					+e.filter-block
						//- +e.filter-string--big.row
						//- 	+e.filter-title тип участия
						//- 	+in-c('checkbox','Зритель')
						//- 	+in-c('checkbox','Участник')
						+e.filter-string
							+e.filter-title Даты
							+e.filter-wrap.row
								+in-c('radio','Все','date')(checked data-date="all")
								+in-c('radio','16 авг','date')(data-date="16.08.2022")
								+in-c('radio','17 авг','date')(data-date="17.08.2022")
								+in-c('radio','18 авг','date')(data-date="18.08.2022")
						+e.filter-string
							+e.filter-title Направления
							+e.filter-wrap.row
								+in-c('radio','Все','idIv')(checked data-id='all')
								+in-c('radio','Год сохранения культурного наследия','idIv',`#284BA4`)(data-id='Год сохранения культурного наследия')
								+in-c('radio','Жить и работать в России','idIv','#9400d3')(data-id='Жить и работать в России')
								+in-c('radio','Нас не отменишь',`idIv`,`#00BAC3`)(data-id='Нас не отменишь')
				.col-xl-2.col-lg-3
					+e.reset-block
						+e.BUTTON.reset(href="#")
							+icon('close')
							span Сбросить фильтры
	// end sProgramFilter