mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.container
			+b.section-title
				h2 НАШИ проекты
			+e.sliders
				+e.slider--js
					.swiper-container.project-slider-js
						.swiper-wrapper
							+projectSlide('long', 'color: #fff; background-color: #6B1680; border-color: #6B1680', '1')
								| Образовательные
								br
								| антишколы
							+projectSlide('short', 'color: #fff; background-color: #284BA4; border-color: #284BA4', '3')
								| Онлайн-
								br
								| конференция
								br
								| «ARTtalk»
							+projectSlide('short', 'color: #fff; background-color: #00BAC3; border-color: #00BAC3', '4')
								| Арт-парк
								br
								| «Таврида»
							+projectSlide('short', 'color: #000; background-color: #fff; border-color: #000', '7')
								| Кастинг-
								br
								| платформа
								br
								| «Таврида.АРТ»
							+projectSlide('short', 'color: #000; background-color: #fff; border-color: #000','8')
								| Центр
								br
								| практики
								br
								| «Таврида»
				+e.slider--js
					.swiper-container.project-slider-js
						.swiper-wrapper
							+projectSlide('short', 'color: #000; background-color: #fff; border-color: #000', '5')
								| Грантовый
								br
								| конкурс
								br
								| «Таврида»
							+projectSlide('long', 'color: #fff; background-color: #00BAC3; border-color: #00BAC3', '2')
								| Фестиваль фестивалей
								br
								| «Таврида.АРТ»
							+projectSlide('long', 'color: #fff; background-color: #6B1680; border-color: #6B1680', '9')
								| Блог
								br
								| о креативных
								br
								| индустриях
							+projectSlide('long', 'color: #fff; background-color: #284BA4; border-color: #284BA4', '6')
								| Образовательный центр
								br
								| «Арт-резиденция
								br
								| «Таврида»
	// end sProjects

mixin projectSlide(itemClasses, itemStyle, i)
	.swiper-slide(class=itemClasses)
		+e.item(style=itemStyle )
			+e.content
				+e.title
					block
				+e.PICTURE.img
					source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/projects-${i}.webp` )
					img.swiper-lazy(src="#" data-src=`img/@2x/projects-${i}.jpg` alt="")

mixin sProjects2(data)
	// start sProjects
	+b.SECTION.sProjects--key-ev.section#sProjects&attributes(attributes)
		.container
			+b.section-title
				h2 Что тебя ждет в&nbsp;этом году?
			+e.sliders
				+e.slider--js
					.swiper-container.project-slider-js
						.swiper-wrapper
							+projectSlide('xl-long', 'color: #000; background-color: #fff; border-color: #000','fest-1')
								| Шоу российских исполнителей
								br
								| в&nbsp;коллаборации с&nbsp;резидентами
								br
								| арт-кластера &laquo;Таврида&raquo;
							+projectSlide('medium', 'color: #fff; background-color: #0A1124; border-color: #0A1124','fest-2')
								| Фестиваль
								br
								| авторской
								br
								| песни
								br
								| и акустические
								br
								| вечера
								br
								| на костровой
							+projectSlide('long', 'color: #fff; background-color: #d40cb6; border-color: #d40cb6','fest-11')
								| Шоу-концерты открытия
								br
								| и&nbsp;закрытия Фестиваля
								br
							+projectSlide('short', 'color: #fff; background-color: #00BAC3; border-color: #00BAC3',`fest-3`)
								| Шоу-показ молодых
								br
								| российских дизайнеров
							+projectSlide('long', 'color: #fff; background-color: #2247bf; border-color: #2247bf','fest-13')
								| Фестиваль уличного искусства <br> в&nbsp;городах Республики Крым
							+projectSlide('medium', 'color: #fff; background-color: #c51f1f; border-color: #c51f1f','fest-9')
								| Гастрономический <br> фестиваль
				+e.slider--js
					.swiper-container.project-slider-js
						.swiper-wrapper
							+projectSlide('long', 'color: #fff; background-color: #2247bf; border-color: #2247bf','fest-14')
								| Более 100 кастингов
							+projectSlide('medium', 'color: #fff; background-color: #6B1680; border-color: #6B1680','fest-4')
								| Мюзикл
								br
								| на холмах
							+projectSlide('long', 'color: #fff; background-color: #FF8000; border-color: #FF8000','fest-5')
								| Шоу <br> «Арт-шествие»
							+projectSlide('short', 'color: #fff; background-color: #c51f1f; border-color: #c51f1f','fest-12')
								| Цирковое шоу
							+projectSlide('medium', 'color: #000; background-color: #fff; border-color: #000','fest-6')
								| Парад
								br
								| маломерных
								br
								| судов
							+projectSlide('long', 'color: #fff; background-color: #d40cb6; border-color: #d40cb6','fest-7')
								| Шоу <br> дронов
							+projectSlide('short', 'color: #fff; background-color: #166580; border-color: #166580','fest-10')
								| Фестиваль <br> воздушных <br> шаров 

mixin hint()
	//to copy pastel
	+projectSlide('', 'color: ; background-color: ; border-color: ')
	//-white
	+projectSlide('', 'color: #000; background-color: #fff; border-color: #000')
	//-orange
	+projectSlide('', 'color: #000; background-color: #FF8000; border-color: #FF8000')
	//-purple
	+projectSlide('', 'color: #fff; background-color: #6B1680; border-color: #6B1680')
	//-cyan
	+projectSlide('', 'color: #fff; background-color: #00BAC3; border-color: #00BAC3')
	//-blue
	+projectSlide('', 'color: #fff; background-color: #284BA4; border-color: #284BA4')
	//-dark-blue
	+projectSlide('', 'color: #fff; background-color: #0A1124; border-color: #0A1124')