mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		if data.bg
			+e.bg
				+pic(data.bg)
				//- img(loading="lazy" src="img/@2x/about-bg.jpg" alt="")
		.container
			.row
				.col-12.col-lg-8.me-auto.ms-auto
					+b.section-title
						h2!= data.title
						p!= data.text
		if data.bgAlt
			+e.bg-alt
				+pic(data.bgAlt)
	// end sAbout