mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/@2x/about-bg.jpg" alt="")
		.container
			.row
				.col-12.col-lg-8.me-auto.ms-auto
					+b.section-title
						h2 Об арт-кластере
						p Арт-кластер «Таврида» – это первый в России центр культуры и искусств, который объединяет творческие сообщества в рамках одной культурно-образовательной экосистемы и предоставляет широкий спектр возможностей в сфере креативных индустрий для талантливой молодежи
	// end sAbout