extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sVantage/_sVantage.pug
//- include ../blocks/sProjects/_sProjects.pug
//- include ../blocks/sResidents/_sResidents.pug
//- include ../blocks/sAchivment/_sAchivment.pug
//- include ../blocks/sStory/_sStory.pug
//- include ../blocks/sFaumos/_sFaumos.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
//- include ../blocks/sDirection/_sDirection.pug
//- include ../blocks/sFpartners/_sFpartners.pug
//- include ../blocks/sArtist/_sArtist.pug
//- include ../blocks/sWay/_sWay.pug
//- include ../blocks/sFeedBack/_sFeedBack.pug
//- include ../blocks/sApply/_sApply.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sObjects/_sObjects.pug
include ../blocks/sBanner/_sBanner.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWshNew/_sWshNew.pug
include ../blocks/sPlaces/_sPlaces.pug
//- include ../blocks/sUsefull/_sUsefull.pug
//- include ../blocks/sDigits/_sDigits.pug
//- include ../blocks/sActForm/_sActForm.pug
//- include ../blocks/sDev/_sDev.pug
//- include ../blocks/sAlgorithm/_sAlgorithm.pug
//- include ../blocks/sStream/_sStream.pug
//- include ../blocks/sHeaderBlockSchool/_sHeaderBlockSchool.pug
//- include ../blocks/sWays/_sWays.pug
//- include ../blocks/sNumbers/_sNumbers.pug
//- include ../blocks/sSteps/_sSteps.pug
//- include ../blocks/sTransfer/_sTransfer.pug
//- include ../blocks/slider/_slider.pug
//- include ../blocks/sCurators/_sCurators.pug
//- include ../blocks/sBanners/_sBanners.pug

block variables
	- let  mainPage= null
block title
	- let  title= '16-2031-park'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav()
	//- title: `ФОРУМ`,
	+headerBlock({
		text : `Арт-парк  <br> «Таврида»`,
		img: 'park.jpg'
	}).headerBlock--forum
		//- title: 'О форуме',
	+sAbout({
		bgAlt: 'park-bg.png',
		textSm: `<p class="strong"> Арт-парк является частью арт-кластера «Таврида», 
располагается в бухте Капсель.</p>

<p>Арт-парк появился в 2019 году: в рамках форума «Таврида» молодыми архитекторами и
дизайнерами со всей России под кураторством представителей современной
отечественной архитектуры и искусства были спроектированы и возведены первые арт-
объекты.</p>

<p>Территория арт-парка стала настоящей творческой лабораторией,  где объекты творчества
гармонично сочетаются с уникальным ландшафтом и природой Крыма.</p>

<p>Сегодня арт-парк «Таврида» – это 27 арт-объектов, 30 га земли 
для экспериментов и
безграничного творчества.</p>`
	}).sAbout--park
	+sObjects
	+sBanner
	.sContent.section.container
		.section-title
			h2 Воркшопы парка
		p #[strong В&nbsp;2020 году стартовал новый проект для &laquo;Тавриды&raquo;, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами:] от идеи до&nbsp;застройки, без подрядчиков. В&nbsp;результате воркшопов участники совместно с экспертами возвели арт-объекты, спроектированные на&nbsp;онлайн-сессии и&nbsp;ставшие выставочными экспонатами арт-парка на&nbsp;территории арт-кластера &laquo;Таврида&raquo;.

		p Образовательные программы воркшопов &laquo;От&nbsp;теории к&nbsp;практике&raquo; арт-парка &laquo;Таврида&raquo; &mdash; это творческая лаборатория для смелых экспериментов и&nbsp;самореализации в&nbsp;современных видах искусства под руководством известных российских и&nbsp;международных художников.
	+sCards
	+sWshNew
	.sContent.section.container
		.section-title
			h2 КОНКУРСЫ
		p #[strong Конкурс&nbsp;&mdash; возможность реализовать свой арт-объект на&nbsp;территории арт-парка &laquo;Таврида&raquo;, лично контролируя все этапы строительства, а&nbsp;также принять участие в&nbsp;фестивале &laquo;Таврида.АРТ&raquo;.  Мы&nbsp;организуем трансфер и&nbsp;проживание победителей.]

		p В&nbsp;декабре 2019 года был запущен конкурс &laquo;Новые идеи арт-объектов для арт-парка &bdquo;Таврида&ldquo; среди независимых художников&raquo;. Победителями стали архитектор Наталия Тиняева и&nbsp;дизайнер Виктория Погосян, архитектурная студия &laquo;Меандр&raquo;.
	+sPlaces
	.sContent.section.container
		.section-title
			h2 Галерея арт-объектов
		+pic("map.png").radius-20
	//- +sVantageBase('Особенности антишкол',
	//- 	{
	//- 		img:`wsh-1`, 
	//- 		text:`3&nbsp;тематических направления`
	//- 	},
		
	//- 	{
	//- 		img:`wsh-2`, 
	//- 		text:`3&nbsp;000 часов практики прикладного искусства`
	//- 	},
	//- 	{
	//- 		img:`wsh-3`, 
	//- 		text:`Работа с&nbsp;известными художниками`
	//- 	},
	//- 	{
	//- 		img:`anti-4`, 
	//- 		text:`Профессиональные контакты`
	//- 	},
	//- 	{
	//- 		img:`wsh-5`, 
	//- 		text:`Участие  в&nbsp;партнерской программе стажировок`
	//- 	},
	//- 	{
	//- 		img:`wsh-6`, 
	//- 		text:`Гранты <br>  на&nbsp;строительство арт-объектов`
	//- 	},
	//- 	{
	//- 		img:`wsh-7`, 
	//- 		text:`Реальный кейс для портфолио`
	//- 	},
	//- 	{
	//- 		img:`anti-8`, 
	//- 		text:`Нетворкинг`
	//- 	})
	//- +sDirection2()
	//- +sDigits()
	//- .section 
	//- 	.container
	//- 		+slider
	//- +sWays(
	//- 	'Тематические направления',
	//- 	{
	//- 		img: 'way-wsh-1.png',
	//- 		cl: 'color-card--wsh text-white',
	//- 		col: 'col-xl-4 col-md-6', 
	//- 		color: '#B2ECEF',
	//- 		title:`Световой дизайн`, 
	//- 		text:`с 3 по 21 июня`,
			
	//- 	},
	//- 	{
	//- 		img: 'way-wsh-2.png',
	//- 		cl: 'color-card--wsh text-white',
	//- 		col: 'col-xl-4 col-md-6', 
	//- 		color: '#CFF1C0',
	//- 		title:`Устойчивый дизайн вторичного сырья`,
	//- 		text:`с 20 сентября по 13 октября`,
			
	//- 	},
	//- 	{
	//- 		img: 'way-wsh-3.png',
	//- 		cl: 'color-card--wsh',
	//- 		col: 'col-xl-4 col-md-6', 
	//- 		color: '#C8DEFF',
	//- 		title:`Медиадизайн`,
	//- 		text:`с 19 июля по 6 августа`,
			
	//- 	})
	//- +sAchivment8
	//- +sActForm('Аудитория')
	//- +sAlgorithm8()
	//- +sCurators
	//- +sBanners

	//- +sSteps7
	

	//- +sWays(
	//- 	'Сервисы для участников',
	//- 	{
	//- 		img: 'serv-1.png',
	//- 		col: 'col-xl-4 col-md-6',
	//- 		color: '#B2ECEF',
	//- 		title:`Бесплатное участие в образовательной программе антишкол`,
			
			
	//- 	},
	//- 	{
	//- 		img: 'serv-2.png',
	//- 		col: 'col-xl-4 col-md-6 col-serv',
	//- 		color: '#8DBBFF', 
	//- 		title:`Бесплатный мерч проекта для участников `,
		
	//- 	},
	//- 	{
	//- 		img: 'serv-3.png',
	//- 		col: 'col-xl-4 col-md-6 col-serv',
	//- 		color: '#B2ECEF',
	//- 		title:`Наличие фудкортов  на территории арт-кластера`, 
	//- 	},

	//- 	{
	//- 		img: 'serv-4.png',
	//- 		col: 'col-xl-4 col-md-6 col-serv',
	//- 		color: '#F1E1F5',
	//- 		title: `Трёхразовое питание за счёт принимающей стороны `
			
	//- 	},
	//- 	{
	//- 		img: 'serv-5.png',
	//- 		col: 'col-xl-4 col-md-6 col-serv',
	//- 		color: '#C8B2E4',
	//- 		title: `Наличие фудкортов на территории арт-кластера`
			
	//- 	},
	//- 	{
	//- 		img: 'serv-6.png',
	//- 		col: 'col-xl-4 col-md-6 col-serv',
	//- 		color: '#C8DEFF',
	//- 		title: `Бесплатный организованный трансфер участников до места проведения мероприятия`
			
	//- 	})
	
	//- +sTransfer7()
	//- +sFeedBack7()
	//- +sApply()
	//-here
	//- +sStream
	+sFAQ3()
	+sNews2()
	+sForm()
	+sPartners()
	+footer()