extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sResidents/_sResidents.pug
include ../blocks/sAchivment/_sAchivment.pug
//- include ../blocks/sStory/_sStory.pug
include ../blocks/sFaumos/_sFaumos.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sDirection/_sDirection.pug
include ../blocks/sFpartners/_sFpartners.pug
include ../blocks/sArtist/_sArtist.pug
include ../blocks/sWay/_sWay.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sActForm/_sActForm.pug
include ../blocks/sDev/_sDev.pug
include ../blocks/sAlgorithm/_sAlgorithm.pug
include ../blocks/sStream/_sStream.pug
include ../blocks/sHeaderBlockSchool/_sHeaderBlockSchool.pug
include ../blocks/sWays/_sWays.pug
include ../blocks/sNumbers/_sNumbers.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sTransfer/_sTransfer.pug
include ../blocks/slider/_slider.pug
include ../blocks/sEvents/_sEvents.pug

block variables
	- let  mainPage= null
block title
	- let  title= '07'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav()
	//- title: `ФОРУМ`,
	+headerBlock({
		text : ` Образовательные антишколы  <br>  арт-кластера <br> «Таврида»`,
		video: `https://vk.com/video_ext.php?oid=-89840945&id=456240410&hash=fece856eef05f5ea&hd=4`
	}).headerBlock--forum
		//- title: 'О форуме',
	+sAbout({
		bgAlt: 'about-bg3.jpg',
		textSm: `Образовательные антишколы арт-кластера &laquo;Таврида&raquo; ‒ это уникальная культурно-просветительская площадка, где эксперты из&nbsp;разных областей творческих индустрий и&nbsp;креативной экономики делятся своими знаниями и&nbsp;опытом в&nbsp;режиме нон-стоп.`
	}).sAbout--forum
	+sVantageBase('Особенности антишкол',
		{
			img:`anti-1`, 
			text:`Современные образовательные форматы`
		},
		
		{
			img:`anti-2`, 
			text:`Преподаватели – практики  из различных областей креативных индустрий`
		},
		{
			img:`anti-3`, 
			text:`Преподаватели&nbsp;&mdash; практики из&nbsp;различных областей креативных индустрий`
		},
		{
			img:`anti-4`, 
			text:`Профессиональные контакты`
		},
		{
			img:`anti-5`, 
			text:`Грантовая поддержка креативных стартапов`
		},
		{
			img:`anti-6`, 
			text:`Стажировки  и&nbsp;трудоустройство`
		},
		{
			img:`anti-7`, 
			text:`Творческие коллаборации`
		},
		{
			img:`anti-8`, 
			text:`Нетворкинг`
		})
	
	//- +sDirection2()
	//- +sDigits()
	+sEvents({
		h2:"ТЕМАТИЧЕСКИЕ ЗАЕЗДЫ"
		,items: [
			{
				color: `linear-gradient(0deg, #4285ec, #0bbafb)`
				,img:`photoshop-1.png`
				,date:`1.06 – 6.06`
				,title:`Антишкола «МЫВМЕСТЕ»` 
				,link:`Регистрация открыта до 26 апреля`
			}
			,{
				color: `linear-gradient(0deg, #ec8b6b, #ed6e9f)`
				,img:`photoshop-2.png`
				,date:`10.06 – 16.06`
				,title:`МИР, ЛЮБОВЬ И РОБОТЫ`
				,text:`Антишкола современного искусства <br> Антишкола сайнс-арта <br> Антишкола арт-менеджмента и кураторства `
				,link:`Регистрация открыта до 5 мая`
			}
			,{
				color: `linear-gradient(0deg, #60e4de, #b193cb)`
				,img:`photoshop-11.png`
				,date:`20.06 – 20.06`
				,title:`НОВЫЕ РУССКИЕ СЕЗОНЫ`
				,text:`Антишкола классичкеской музыки<br> Антишкола балета<br> Антишкола академического искусства <br> Антишкола цифровизации искусства`
				,link:`Регистрация открыта до 15 мая`
			}
			,{
				color: ` linear-gradient(0deg, #18a86b, #2fb383)`
				,img:`photoshop-4.png`
				,date:`5.07 – 13.07`
				,title:`АРТПЛЕЙС`
				,text:`Антишкола театрального и концертного управления`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #fba980, #f7cb6b)`
				,img:`photoshop-5.png`
				,date:`17.07 – 24.07`
				,title:`СТУДИЯ`
				,text:`Антишкола индустрии моды <br> Антишкола современной хореографии <br> Антишкола современной музыки и клипмейкинга`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #c82270, #d09292)`
				,img:`photoshop-6.png`
				,date:`27.07 – 03.08`
				,title:`Видеохостинг и диджитал-сервисы`
				,text:`Антишкола анимации<br> Антишкола диджитал-дизайна<br> Антишкола онлайн-кинотеатров и веб-сериалов <br> Антишкола диджитал издательства`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #f86f64, #fd5392)`
				,img:`photoshop-7.png`
				,date:`7.08 – 14.08`
				,title:`ВКУСНЫЙ ДЖАЗ`
				,text:`Антишкола джазовой музыки <br> Антишкола гастрономии <br> Антишкола фото- и видеоконтента`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #bac8e0, #93a5cf)`
				,img:`photoshop-8.png`
				,date:`17.08 – 22.08`
				,title:`Улица КАК новая сцена`
				,text:`Антишкола циркового искусства <br> Антишкола уличного театра <br> Антишкола бардовской песни <br> Антишкола event- продюсирования и режиссуры`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #ffb1bd, #ffc2a1)`
				,img:`photoshop-9.png`
				,date:`31.08 – 5.09`
				,title:`ШОУ-кейс фестиваля ФЕСТИВАЛЕЙ`
				,text:`Подготовка контента для фестиваля фестивалей «Таврида.АРТ»`
				,link:`Регистрация: скоро`
			}
			,{
				color: `linear-gradient(0deg, #5b6366, #838c93)`
				,img:`photoshop-10.png`
				,date:`30.09 – 6.10`
				,title:`ГОРОД. ТОЧКА РОСТА`
				,text:`Антишкола региональных арт-резиденций <br>  Антишкола гостеприимства <br> Антишкола архитектуры и дизайна`
				,link:`Регистрация: скоро`
			}
		]
	})
	+sWays(
		'Направления',
		{
			img: 'way-01.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#8DBBFF',
			title:`Социальное  реалити-шоу «МЫВМЕСТЕ»`, 
			
		},
		{
			img: 'way-02.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#F1E1F5',
			title:`Мир, любовь и роботы`,
			text:`антишкола современного визуального искусства,  сайнс-арта, психологии`,
			
		},
		{
			img: 'way-03.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#59D6DC',
			title:`Новые русские сезоны`,
			text:`антишкола классической музыки, балета, академической живописи, цифровизации и&nbsp;IT`,
			
		},

		{
			img: 'way-1.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#D0F1C0',
			title:`Арт-плейс`,
			text:`антишкола эффективного управления, продюсирования. Вахтанговский фестиваль театральных менеджеров`,
			
		},
		{
			img: 'way-2.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#B2ECEF',
			title:`Студия 360`,
			text:`антишкола индустрии моды, современной хореографии, современной музыки и клипмейкинга`,
			
		},
		{
			img: 'way-3.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#F1AD98',
			title:`Видеохостинг и диджитал-сервисы`,
			text:`антишкола видеоконтента, анимации, диджитал-дизайна, онлайн-режиссуры`,
			
		},
		
		{
			img: 'way-4.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#C8DEFF',
			title:`Вкусный джаз`,
			text:`антишкола джазовой музыки, гастрономии, фото- и видеоконтента`,
			
		},
		{
			img: 'way-5.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#C8B2E4',
			title:`Улица как новая сцена`,
			text:`антишкола циркового искусства, уличного театра, бардовской песни, уличной музыки, ивент- продюсирования и режиссуры`,
			
		},
		{
			img: 'way-6.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#C8DEFF',
			title:`Шоу-кейс фестиваля фестивалей`,
			text:`Антишкола мюзикла, подготовка контента для фестиваля фестивалей «Таврида.АРТ»`,
			
		},
		{
			img: 'way-7.png',
			col: 'col-xl-4 col-md-6',
			cl:"color-card--count",
			color: '#B2ECEF',
			title:`Город ‒ точка роста`,
			text:`антишкола региональных арт-резиденций, индустрии гостеприимства, архитектуры  и дизайна`,
			
		})
	+sAchivment7
	+sActForm('Аудитория воркшопов')
	+sDevBody("Этапы развития проекта", 
		{
			img:`1`,
			num:`1`,
			title:`2015`,
			text:`&laquo;Таврида&raquo; получила статус Всероссийского молодежного образовательного форума`,
		},
		{
			img:`2`,
			num:`2`,
			title:`2016`,
			text:`Президент РФ&nbsp;Владимир Путин впервые посетил Всероссийский молодежный образовательный форум &laquo;Таврида&raquo;`,
		},
		{
			img:`3`,
			num:`3`,
			title:`2017`,
			text:`Количество тематических направлений выросло, а&nbsp;участниками форума впервые стали свыше 3&nbsp;000 молодых деятелей культуры и&nbsp;искусств`,
		},
		{
			img:`4`,
			num:`6`,
			title:`2018`,
			text:`Первый заместитель Руководителя Администрации Президента РФ&nbsp;Сергей Кириенко предложил перевести &laquo;Тавриду&raquo; на&nbsp;круглогодичный формат работы и&nbsp;создать для этого новую площадку в&nbsp;Крыму`,
		},
		{
			img:`5`,
			num:`5`,
			title:`2019`,
			text:`Проект расширился до&nbsp;формата арт-кластера, включил в&nbsp;себя традиционный форум, а&nbsp;также новый фестиваль творческих сообществ &laquo;Таврида ‒ АРТ&raquo; и&nbsp;переехал в&nbsp;бухту Капсель под Судаком`,
		},
		{
			img:`6`,
			num:`4`,
			title:`2018`,
			text:`Образовательная программа форума переходит в&nbsp;формат антишкол, представляющих собой творческие мастерские в&nbsp;различных направлениях культуры и&nbsp;искусства`,
		})
	+sFeedBack7()
	+sSteps7

	+sWays(
		'Сервисы для участников',
		{
			img: 'serv-1.png',
			col: 'col-xl-4 col-md-6',
			color: '#B2ECEF',
			title:`Бесплатное участие в образовательной программе антишкол`,
			
			
		},
		{
			img: 'serv-2.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#8DBBFF', 
			title:`Бесплатный мерч проекта для участников `,
		
		},
		{
			img: 'serv-3.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#B2ECEF',
			title:`Наличие фудкортов  на территории арт-кластера`, 
		},

		{
			img: 'serv-4.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#F1E1F5',
			title: `Трёхразовое питание за счёт принимающей стороны `
			
		},
		{
			img: 'serv-5.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#C8B2E4',
			title: `Наличие фудкортов на территории арт-кластера`
			
		},
		{
			img: 'serv-6.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#C8DEFF',
			title: `Бесплатный организованный трансфер участников до места проведения мероприятия`
			
		})
	//- +sAlgorithm()
	+sTransfer7()
	//- +sApply()
	//-here
	//- +sStream
	+sFAQ()
	+sNews()
	+sForm()
	+sPartners()
	+footer()