extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sResidents/_sResidents.pug
include ../blocks/sAchivment/_sAchivment.pug
//- include ../blocks/sStory/_sStory.pug
include ../blocks/sFaumos/_sFaumos.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sDirection/_sDirection.pug
include ../blocks/sFpartners/_sFpartners.pug
include ../blocks/sArtist/_sArtist.pug
include ../blocks/sWay/_sWay.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sActForm/_sActForm.pug
include ../blocks/sDev/_sDev.pug
include ../blocks/sAlgorithm/_sAlgorithm.pug
include ../blocks/sStream/_sStream.pug
include ../blocks/sHeaderBlockSchool/_sHeaderBlockSchool.pug
include ../blocks/sWays/_sWays.pug
include ../blocks/sNumbers/_sNumbers.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sTransfer/_sTransfer.pug
include ../blocks/slider/_slider.pug
include ../blocks/sCurators/_sCurators.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sOpportunities/_sOpportunities.pug
include ../blocks/sParticipants/_sParticipants.pug
include ../blocks/sMainStep/_sMainStep.pug

block variables
	- let  mainPage= null
block title
	- let  title= '12-2036'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav()
	+headerBlock({
		date: `<div class="text-warning">3 заезд</div> с 20 по 29 июня  <br> 2021 года`,
		text: `Новые <br> русские <br> сезоны`,
		video: `https://vk.com/video_ext.php?oid=-89840945&id=456240410&hash=fece856eef05f5ea&hd=4`
	}).headerBlock--forum
	+sAbout({
		bgAlt: 'tree.png',
		textSm: `Новые русские сезоны ‒ это лаборатория классических и современных видов искусства, в которой синтезируются новые креативные концепции и рождаются в ходе коллабораций кросс-творческие проекты`
	}).sAbout--forum.sAbout--2036
	+sVantageBase('Особенности заезда',
		{
			col: 'col-lg-4',
			img:`2036-1`,
			text:`Современные образовательные <br/> форматы`
		},
		{
			col: 'col-lg-4',
			img: `2036-2`,
			text: `Творческие <br/> коллаборации`
		},
		{
			col: 'col-lg-4',
			img: `2036-3`,
			text: `Практический <br/> опыт`
		},
		{
			col: 'col-lg-4',
			img: `2036-4`,
			text: `Финансовая поддержка творческих проектов`
		},
		{
			col: 'col-lg-4',
			img: `2036-5`,
			text: `Сообщество <br/> профессионалов`
		},
		{
			col: 'col-lg-4',
			img: `2036-6`,
			text: `Нетворкинг`
		}
	)
	//-Направление регистрации
	+sWays(
		'Направление регистрации',
		{
			img: 'ways-regd-1.png',
			cl: "color-card--count color-card--img-w-100",
			col: 'col-xl-4 col-md-6',
			color: '#C6BAF9',
			title: `Антишкола классической музыки`,
		},
		{
			img: 'ways-regd-2.png',
			cl: "color-card--count color-card--img-w-100",
			col: 'col-xl-4 col-md-6',
			color: '#FFB3C3',
			title: `Антишкола <br/> балета`,
		},
		{
			img: 'ways-regd-3.png',
			cl: "color-card--count color-card--img-w-100",
			col: 'col-xl-4 col-md-6',
			color: '#C8DEFF',
			title: `Антишкола академической живописи`,
		},

		{
			img: 'ways-regd-4.png',
			cl: "color-card--count color-card--img-w-100",
			col: 'col-xl-4 col-md-6',
			color: '#C8DEFF',
			title: `Антишкола цифровизации искусства`,
		}
	)
	//-Образовательные форматы
	+sWays(
		'Образовательные форматы',
		{  
			col: 'col-xl-4 col-md-6', 
			cl:"color-card--without-img",
			color: '#8DBBFF',
			title:`Шоукейсы`,
			text: `презентация авторских форматов, творческих номеров, продуктов и&nbsp;идей для широкой публики, созданных в&nbsp;коллаборации с&nbsp;различными представителями творческих сообществ`
		},
		{
			col: 'col-xl-4 col-md-6',
			cl: "color-card--without-img",
			color: '#F1E1F5',
			title: `Воркшопы`,
			text: `творческая мастерская для освоения профессиональных навыков в&nbsp;различных областях креативных индустрий`
		},
		{
			col: 'col-xl-4 col-md-6',
			cl: "color-card--without-img",
			color: '#59D6DC',
			title: `Мастер-классы`,
			text: `мастерские, где эксперты из&nbsp;различных областей креативных индустрий на&nbsp;примере собственных кейсов обучают творческим профессиям`
		},
		{
			col: 'col-xl-4 col-md-6',
			cl: "color-card--without-img",
			color: '#B2ECEF',
			title: `Мотивационный сторитейлинг`,
			text: `сессия мотивационного сторителлинга от&nbsp;российских и&nbsp;зарубежных селебрити`
		},
		{
			col: 'col-xl-4 col-md-6',
			cl: "color-card--without-img",
			color: '#F1AD98',
			title: `Репетиции`,
			text: `создание и&nbsp;отработка творческих номеров для шоу резидентов, которое пройдет на&nbsp;фестиваля фестивалей &laquo;Таврида.АРТ&raquo; 8 ‒ 12&nbsp;сентября 2021 года`
		}
		)
	//-Возможности антишкол
	+sOpportunities('Возможности антишкол', `Формирование личного бренда: знакомство с&nbsp;эффективными инструментами продвижения творческих проектов на&nbsp;примере успешных кейсов представителей различных областей креативных индустрий`,
		`Интеграция в&nbsp;шоу резидентов: возможность попасть в&nbsp;шорт-лист артистов шоу резидентов арт-кластера &laquo;Таврида&raquo;, которое состоится на&nbsp;фестивале фестивалей &laquo;Таврида.АРТ&raquo; 8 ‒ 12&nbsp;сентября 2021 года`,
		`Участие в&nbsp;реалити-шоу &laquo;Битва творцов&raquo;: возможность пройти отбор и&nbsp;стать главным героем пилота реалити-шоу &laquo;Битва творцов&raquo; на&nbsp;одном из&nbsp;федеральных телеканалов. Жди подробности`)
	//-Аудитория антишкол
	+sActFormBase("Аудитория антишкол",
		{
			name: `Музыканты симфонических  оркестров`,
			imgNum: `audience-sl-1.png`
		},{
			name: `Оперные и камерные вокалисты`,
			imgNum: `audience-sl-2.png`
		},{
			name: `Менеджеры и продюсеры в сфере академического искусства`,
			imgNum: `audience-sl-3.png`
		},{
			name: `Дирижеры`,
			imgNum: `audience-sl-4.png`
		},{
			name: `Музыканты`,
			imgNum: `audience-sl-5.png`
		},{
			name: `Артисты <br/> балета`,
			imgNum: `audience-sl-6.png`
		},{
			name: `Художники`,
			imgNum: `audience-sl-7.png`
		},{
			name: `Скульпторы`,
			imgNum: `audience-sl-8.png`
		},{
			name: `IT-специалисты <br/> в сфере <br/> культуры`,
			imgNum: `audience-sl-9.png`
		}
	)
	//-Спикеры антишколы
	+sCurators9()
	section.section.container
		.section-title
			h2 Образовательная программа антишкол
		.row
			.col-lg-4.col-sm-6
				+pic("anti-sc-1.png",'',0).picture-top
				p Новые технологии для создания, распространения и монетизации контента: от балета до музыки, от живописи, архитектуры до дизайна и цифрового искусства
			.col-lg-4.col-sm-6
				+pic("anti-sc-2.png",'',0).picture-top
				p Поиск новых возможностей по созданию, продвижению и коммерциализации творческого контента в интересах всего общества
			.col-lg-4.col-sm-6
				+pic("anti-sc-3.png",'',0).picture-top
				p Защита интеллектуальных прав в цифровом и реальном мире, на старых и новых рынках
			.col-lg-4.col-sm-6
				+pic("anti-sc-4.png",'',0).picture-top
				p Знакомство с эффективными инструментами продвижения творческих проектов на примере успешных кейсов представителей различных областей креативных индустрий
			.col-lg-4.col-sm-6
				+pic("anti-sc-5.png",'',0).picture-top
				p Репетиции под руководством именитых представителей творческих индустрий
	//-Этапы отбора
	+sSteps7
	+b.SECTION.sParticipants.section.container
		+gray-box('Творческие задания')
			+participantDDItem('Антишкола 1. Название творческого задания', '', true )
				p Резиденты &laquo;Тавриды&raquo; (те, кто был на&nbsp;мероприятиях арт-кластера не&nbsp;менее 2&nbsp;раз), участники проектов арт-кластера &laquo;Таврида&raquo;, участники Национального открытого чемпионата в&nbsp;сфере творческих компетенций ArtMasters и&nbsp;молодые деятели культуры и&nbsp;искусства.
			+participantDDItem('Антишкола 2. Медиа', undefined, true )
				p Блогеры, инфлюенсеры молодежных пабликов и&nbsp;аккаунтов в&nbsp;социальных сетях, представители студенческих СМИ.
				p Возраст от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет включительно.
			+participantDDItem('Антишкола 3. Семья и дети', undefined, true)
				p Полуфиналисты и&nbsp;финалисты проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;.
				p Возраст от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет включительно.
			+participantDDItem('Антишкола 4. Название творческого задания', undefined, true)
				p Семьи с&nbsp;детьми&nbsp;&mdash; участниками проекта &laquo;Большая перемена&raquo;.
				p Дети в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет включительно.
				
	+b.SECTION.sParticipants.section.container
		+gray-box('Творческие задания')
			+participantDDItem('Антишкола 1. Название творческого задания', '', true )
				p Резиденты &laquo;Тавриды&raquo; (те, кто был на&nbsp;мероприятиях арт-кластера не&nbsp;менее 2&nbsp;раз), участники проектов арт-кластера &laquo;Таврида&raquo;, участники Национального открытого чемпионата в&nbsp;сфере творческих компетенций ArtMasters и&nbsp;молодые деятели культуры и&nbsp;искусства.
			+participantDDItem('Антишкола 2. Медиа', undefined, true )
				p Блогеры, инфлюенсеры молодежных пабликов и&nbsp;аккаунтов в&nbsp;социальных сетях, представители студенческих СМИ.
				p Возраст от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет включительно.
			+participantDDItem('Антишкола 3. Семья и дети', undefined, true)
				p Полуфиналисты и&nbsp;финалисты проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;.
				p Возраст от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет включительно.
			+participantDDItem('Антишкола 4. Название творческого задания', undefined, true)
				p Семьи с&nbsp;детьми&nbsp;&mdash; участниками проекта &laquo;Большая перемена&raquo;.
				p Дети в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет включительно.

	//-
	+sFeedBack7('Отзывы')
	+sWays(
		'Сервисы для участников',
		{
			img: 'serv-1.png',
			col: 'col-xl-4 col-md-6',
			color: '#B2ECEF',
			title: `Бесплатное участие в образовательной программе антишкол`,
		},
		{
			img: 'serv-2.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#8DBBFF',
			title: `Бесплатный мерч проекта для участников `,
		},
		{
			img: 'serv-3.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#B2ECEF',
			title: `Наличие фудкортов  на территории арт-кластера`,
		},
		{
			img: 'serv-4.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#F1E1F5',
			title: `Трёхразовое питание за счёт принимающей стороны `

		},
		{
			img: 'serv-5.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#C8B2E4',
			title: `Наличие фудкортов на территории арт-кластера`

		},
		{
			img: 'serv-6.png',
			col: 'col-xl-4 col-md-6 col-serv',
			color: '#C8DEFF',
			title: `Бесплатный организованный трансфер участников до места проведения мероприятия`
		})
	+sTransfer7()
	+sFAQ()
	+sNews()
	+sForm()
	+sPartners()
	+footer()