extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sCardsTwo/_sCardsTwo.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sRulesTips/_sRulesTips.pug
include ../blocks/sTicket/_sTicket.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Визит в Арт-парк'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav('','sads')
	+header()
		+top-nav()
	//- title: `ФОРУМ`,
	+headerBlock({
		text : `Визит <br> в Арт-парк`,
		video: `https://www.youtube.com/embed/JN3p9Vzb_nI`,
		youtube: true,
	})
	.sContent.section
		.container
			.fz-lg
				p Арт-парк является частью арт-кластера &laquo;Таврида&raquo; и&nbsp;расположен в&nbsp;бухте Капсель.
				br
				| Арт-парк появился в&nbsp;2019&nbsp;году: в&nbsp;рамках форума &laquo;Таврида&raquo; молодыми архитекторами и&nbsp;дизайнерами со&nbsp;всей России под кураторством представителей современной отечественной архитектуры и&nbsp;искусства были спроектированы и&nbsp;возведены первые арт-объекты.

				p Территория арт-парка стала настоящей творческой лабораторией, где арт -объекты гармонично сочетаются с&nbsp;уникальным ландшафтом и&nbsp;природой Крыма.

				p Сегодня арт-парк &laquo;Таврида&raquo;&nbsp;&mdash; это 27&nbsp;арт-объектов, 30&nbsp;га земли для экспериментов и&nbsp;безграничного творчества.

				p: strong  Вы&nbsp;можете посетить арт-парк в&nbsp;виде экскурсии.
	+sCardsTwo
	+sServises
	+sRulesTips
	+sTicket
	.sContent.section
		.container
			h2 Регистрация на экскурсию в арт-парк
	+sForm()
	+sPartners()
	+footer()