extends layout/main.pug


include ../blocks/sFAQ/_sFAQ.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sVantage/_sVantage.pug
//- include ../blocks/sProjects/_sProjects.pug
//- include ../blocks/sResidents/_sResidents.pug
//- include ../blocks/sAchivment/_sAchivment.pug
//- include ../blocks/sStory/_sStory.pug
//- include ../blocks/sFaumos/_sFaumos.pug
//- include ../blocks/sNews/_sNews.pug
//- include ../blocks/sPartners/_sPartners.pug
//- include ../blocks/sFestival/_sFestival.pug
include ../blocks/sParnersAlt/_sParnersAlt.pug
include ../blocks/sCurators/_sCurators.pug
include ../blocks/sWays/_sWays.pug
include ../blocks/sArrivals/_sArrivals.pug
include ../blocks/sOpportunities/_sOpportunities.pug
include ../blocks/sActForm/_sActForm.pug
include ../blocks/sProgramInfo/_sProgramInfo.pug
include ../blocks/sAboutBlock/_sAboutBlock.pug
include ../blocks/sUsefulMaterials/_sUsefulMaterials.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sForWhom/_sForWhom.pug
include ../blocks/sResults/_sResults.pug
//- include ../blocks/sProjects2022/_sProjects2022.pug
//- include ../blocks/sCardsBlock/_sCardsBlock.pug
//- include ../blocks/sProjects/_sProjects.pug

block variables
	- let  mainPage= 'architectural-workshop-page'
block title
	- let  title= '2024'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav()
	+headerBlock25({
		pic: 'headerBlock-bg-5.jpg',
		title: 'Зрители фестиваля',
	})
	.section.container
		.section-title
			h2 Возможности
		.row
			mixin item(t, p)
				.col-xl-4.col-md-6
					+b.do-item
						.mb-3.strong= t
						p!= p
			+item(`Сервис `,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной синергии, поделиться актуальными инсайтами `)
			+item(`Сервис `,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной`)
			+item(`Сервис`,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной`)
			+item(`Сервис `,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной`)
			+item(`Сервис `,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной синергии, поделиться актуальными инсайтами `)
			+item(`Сервис `,`Ключевая задача заезда – соединить самые творческие аудитории для максимально плодотворной`)
	+footer(true)