extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sResidents/_sResidents.pug
include ../blocks/sAchivment/_sAchivment.pug
include ../blocks/sStory/_sStory.pug
include ../blocks/sFaumos/_sFaumos.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sFestival/_sFestival.pug
include ../blocks/sCardsBlock/_sCardsBlock.pug
include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sActvieOrder/_sActvieOrder.pug
include ../blocks/sProgress/_sProgress.pug
include ../blocks/sSerts/_sSerts.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+mMenu()
	+header()
		+top-nav('','sads')
	+sCabinet
	+sActvieOrder
	+sProgress
	+sSerts
	+footer()