mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| Правила оформления
					|
					br.d-sm-block.d-none
					| портфолио / видеовизитки
				strong Ознакомься с&nbsp;требованиями к&nbsp;портфолио и&nbsp;видеовизитке, исходя из&nbsp;выбранного направления участия.
				h4 Портфолио
				strong Заливай на&nbsp;файлообменник по&nbsp;одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с&nbsp;портфолио: фамилия_ инициалы участника (иванов_аб).
				.sm-txt * при загрузке файла на&nbsp;Яндекс.диск необходимо включить ссылку.
				.sm-txt.mb-4 ** обязательно установи настройку доступа по&nbsp;ссылке.
				h4 Видеовизитка
				strong.mb-0 Видеовизитку загружай только на&nbsp;Youtube, открой доступ по&nbsp;ссылке или для всех (как тебе больше нравится).
			+e.docs
				h2 Необходимые документы
				ul
					li Паспорт
					li Справка по&nbsp;форме 086-У, или справка о&nbsp;допуске для занятий спортом и&nbsp;туризмом, или допуск для проживания в&nbsp;полевых условиях, или действующая медицинская книжка.
				.sm-txt *перечень документов будет дополняться. Следите за&nbsp;обновлениями

mixin sInfo2(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		+e.container.container
			+e.docs
				h2 Необходимые документы
				ul
					li Паспорт
					li Справка по&nbsp;форме 086-У, или справка о&nbsp;допуске для занятий спортом и&nbsp;туризмом, или допуск для проживания в&nbsp;полевых условиях, или действующая медицинская книжка.
				.sm-txt *перечень документов будет дополняться. Следите за&nbsp;обновлениями
	// end sInfo