mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| Правила оформления
					br.d-sm-block.d-none
					| портфолио/видеовизитки
				strong Прикрепи ОДНУ ссылку, на которую залей все необходимые материалы, согласно требованиям направления.
				strong Заливай портфолио и видеовизитку на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_ инициалы участника (иванов_аб).
				.sm-txt * при загрузке файла на Яндекс.диск необходимо включить ссылку. Сделать это возможно путем передвигания бегунка до появления ссылки.
				.sm-txt ** обязательно установи настройки доступа по ссылке
			+e.docs
				h2 Необходимые документы
				ul
					li Паспорт
					li Справка по форме 086-У, или справка о допуске для занятий спортом и туризмом, или допуск для проживания в полевых условиях, или действующая медицинская книжка
				.sm-txt *перечень документов будет дополняться. Следите за обновлениями
	// end sInfo