mixin sPlaces(data)
	// start sPlaces
	+b.sPlaces#sPlaces&attributes(attributes)
		+e.inner
			.container
				mixin item(i,t,p)
					+e.item
						.row
							.col-lg-6
								+pic(i,'',0)
							.col-lg-6
								h2= t
								p!= p
						block
				+item(`place-1.jpg`,`Друза`,`Арт-объект «Друза» представляет собой скопление случайно выросших на едином основании форм, похожих на кристаллы. Они смотрят каждый в своем направлении, увенчанные прозрачной цветной гранью. Благодаря этому внутри арт-объекта происходит игра ярких цветных бликов: их движение зависит от положения солнца, и потому картина в течение дня меняется.`)
					p.strong В марте 2020 года был запущен конкурс «Новые идеи арт-объектов для арт-парка «Таврида» среди профильных вузов», и победителем стала Хасанова Юлия аратовна, кафедра «Средовой дизайн» МГХПА имени С.Г. Строганова.
				+item(`place-2.jpg`,`Кариатиды русского  авангарда`,`Арт-объект «Кариатиды русского авангарда» основан на идее создания храма искусства Тавридейона, подобного древнегреческому Парфенону. Но вместе с тем прообразом объекта является представление о женщине эпохи русского авангарда – сильной, решительной, независимой.`)
	// end sPlaces