mixin sApply(data)
	// start sApply
	+b.SECTION.sApply.section#sApply&attributes(attributes)
		.container
			+e.box
				+e.row.row
					.col-12.col-lg
						+b.section-title
							h2
								| Подайте
								br
								| заявку
								br
								| на участие
					+e.btns-col.col-12.col-lg-auto
						+e.btn(ref='#') Подать заявку как волонтер
						+e.btn(ref='#') Подать заявку как зритель
						+e.btn(href='#') Подать заявку как участник
	// end sApply