// start .sVantage
.sVantage {
	position: relative;
	z-index: 2;
	// --sPT: #{rem(137px)};
	--sTPB: #{rem(55)};
	--sPB: #{rem(78px)};

	&__box{
		background: $white;
		box-shadow: 0px 4px 80px rgba(147, 169, 174, 0.62);

		border-radius: rem(25);
		@include media-breakpoint-up(md){
			border-radius: rem(50);
		}

		padding: rem(35) 15px;
		@include media-breakpoint-up(sm){
			padding: rem(40) rem(30);
		}
		@include media-breakpoint-up(lg){
			padding: rem(50) rem(60);
		}
		@include media-breakpoint-up(xl){
			// padding: rem(56px) rem(114) rem(101px);
		}
	}

	.section-title{
		h2{

		}
	}

	&__row{
		& > *{
			margin-bottom: rem(30);
		}

		// margin-bottom: rem(-30);
		@include media-breakpoint-up(lg){
			& > *{
				margin-bottom: rem(50);
			}

			// margin-bottom: rem(-50);
		}
		@include media-breakpoint-up(xxl){
			// margin-right: rem(-58);
			// margin-left: rem(-7);

			& > *{
				// margin-bottom: rem(85);
			}

			// margin-bottom: rem(-85);
		}

	}
	&__col{
		@media (min-width: 400px){
			width: 50%;
		}
	}
	&__img{
		&.bigger-img{
			height: rem(88);
			margin-bottom: rem(28);
		}
		height: rem(75);
		display: flex;
		justify-content: center;
		align-items: flex-start;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		margin-bottom: rem(28);
	}
	&__txt{
		font-weight: bold;
		line-height: (20/16);
		margin-left: auto;
		margin-right: auto;
		max-width: rem(274);

		@include media-breakpoint-up(xl){
			padding-right: 7px;
		}
	}
	//
	&--blue{
		//
		@include media-breakpoint-up(xxl){
			--sPT: #{rem(173px)};
		}
		color: $white;
		.sVantage__box{
			background-color: $dark-blue2;

			box-shadow: 0px 4px rem(80) rgba(0, 0, 0, 0.62);
		}
		.section-title{
			color: $white;
			h2,h1{
				color: $white;
			}
		}
	}

	//
	&--forum{
		--sPT: #{rem(40px)};
		--sTPB: #{rem(55)};
		--sPB: #{rem(50px)};

		.sVantage__box{
			@include media-breakpoint-up(xl){
				//padding: 48px 37px 52px 6px;
			}
		}

		.sVantage__row{
			@include media-breakpoint-up(xxl){
				margin-left: -129px;
				margin-right: -129px;
				margin-bottom: -117px;
			}
		}
	}
	&__{}
	&__{}
} // end.sVantage