// start .sPartners
.sPartners {
	position: relative;
	z-index: 1;

	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		left: 0;
		bottom: -1px;
		height: rem(1080);
		background-color: $dim;
	}

	@include media-breakpoint-up(xxl){
		--sPT: #{rem(60px)};
		--sTPB: #{rem(78px)};
		--sPB: #{rem(99px)};
	}

	&__sliders{

	}
	&__slider{
		&:nth-child(even){
			.swiper-wrapper{
				// padding-left: rem(162);
			}
		}

		.swiper-container{
			overflow: visible;
		}
		.swiper-wrapper{
				height: rem(156px *2 + 30px  );
		}
		.swiper-slide{
			height: calc((100% - 30px) / 2);
			max-width: rem(294);
			&:nth-child(odd) {
			 
				transform: translateX(-55.1%);
			}
		}
	}
	&__img-box{
		width: 100%;
		display: block;
		position: relative;
		height: 0;
		padding-top: (157/296) * 100%;

	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;

		box-shadow: 0px 4px rem(30) rgba(147, 169, 174, 0.62);
		&:hover{
			box-shadow: 0px 4px rem(30) rgba(147, 169, 174, 0.4);
		}
		@include media-breakpoint-up(md){
			box-shadow: 0px 4px rem(40) rgba(147, 169, 174, 0.62);
			&:hover{
				box-shadow: 0px 4px rem(40) rgba(147, 169, 174, 0.4);
			}
		}
		@include media-breakpoint-up(xl){
			box-shadow: 0px 4px rem(80) rgba(147, 169, 174, 0.62);
			&:hover{
				box-shadow: 0px 4px rem(80) rgba(147, 169, 174, 0.4);
			}
		}

		border-radius: rem(25);
		@include media-breakpoint-up(lg){
			border-radius: rem(50);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-height: 80%;
			max-width: 80%;
		}
	}

	&__{}
} // end.sPartners