mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.partners-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.partners-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
				.col-12.col-lg.mb-3.mb-lg-0
					h2 Партнеры
			+e.slider
				.swiper-container.partners-slider-js
					.swiper-wrapper
						+partnersSlide('img/npr.png')
						+partnersSlide('img/partner-1.png')
						+partnersSlide('img/partner-2.jpg')
						+partnersSlide('img/ria.png')
						+partnersSlide('img/logo-bp.svg')
						+partnersSlide('img/minstroi.png')
						+partnersSlide('img/avc.svg')
						+partnersSlide('img/partner-3.jpg')
						+partnersSlide('img/logo_vgik.png')
						+partnersSlide('img/partner-4.jpg')
						+partnersSlide('img/partner-5.jpg')
						+partnersSlide('img/partner-smex.png')
						+partnersSlide('img/partner-6.jpg')
						+partnersSlide('img/partner-7.jpg')
						+partnersSlide('img/partner-9.jpg')
						+partnersSlide('img/partner-10.png')
						+partnersSlide('img/partner-11.png')
						+partnersSlide('img/partner-12.jpg')
						+partnersSlide('img/partner-14.png')
						+partnersSlide('img/partner-15.png')
						+partnersSlide('img/par-log-1.png')
						+partnersSlide('img/par-log-2.png')
						+partnersSlide('img/par-log-3.png')
						+partnersSlide('img/par-log-4.png')
						+partnersSlide('img/par-log-5.png')
						+partnersSlide('img/par-log-6.png')
						+partnersSlide('img/par-log-7.png')
						+partnersSlide('img/par-log-8.png')
						+partnersSlide('img/par-log-9.png')
						+partnersSlide('img/partner-16.png')
						+partnersSlide('img/partner-17.jpg')
						+partnersSlide('img/partner-18.jpg')
						+partnersSlide('img/partner-20.png')
						+partnersSlide('img/partner-21.png')
						+partnersSlide('img/partner-22.png')
						+partnersSlide('img/partner-23.png')
						+partnersSlide('img/partner-24.jpg')
						+partnersSlide('img/fond.png')
						+partnersSlide('img/partner-25.jpg')
						+partnersSlide('img/partner-26.jpg')
						+partnersSlide('img/rma.png')
						+partnersSlide('img/imp.png')
						+partnersSlide('img/apc.png')
						+partnersSlide('img/partner-27.jpg')
						+partnersSlide('img/lib-logo.png')
						+partnersSlide('img/partner-28.jpg')
						+partnersSlide('img/dolina.png')
						+partnersSlide('img/master.png')
						+partnersSlide('img/astrel.png')
						+partnersSlide('img/partner-29.jpg')
						+partnersSlide('img/renovacii.png')
						+partnersSlide('img/partner-30.jpg')
						+partnersSlide('img/partner-31.jpg')
						+partnersSlide('img/mast.png')
						+partnersSlide('img/stud.png')
						+partnersSlide('img/partner-32.jpg')
						+partnersSlide('img/partner-33.png')
						+partnersSlide('img/partner-34.png')
						+partnersSlide('img/partner-35.png')
						+partnersSlide('img/partner-36.png')
						+partnersSlide('img/partner-37.png')
						+partnersSlide('img/partner-38.png')
						+partnersSlide('img/partner-39.png')
						+partnersSlide('img/partner-41.png')
						+partnersSlide('img/mediapolis.jpg')
						+partnersSlide('img/kons.png')
						+partnersSlide('img/part-1.png')
						+partnersSlide('img/part-3.png')
						+partnersSlide('img/part-4.png')
						+partnersSlide('img/part-5.png')
						+partnersSlide('img/part-6.jpg')
	// end sPartners

mixin partnersSlide(i)
	.swiper-slide
		+e.img-box
			+e.img
				img(src=`${i}` loading="lazy" alt="")