// start .sCommerceMap
.sCommerceMap {
	--sPT: #{rem(20)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(40)};
		--sPB: #{rem(30)};
		--sTPB: #{rem(46)};
	}
	&__map {
		border-radius: 40px;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			border-radius: 50px;
		}
		img {
			max-width: 100%;
			width: 100%;
		}
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCommerceMap
