mixin sCommerceMap(data)
	// start sCommerceMap
	+b.SECTION.sCommerceMap.section#sCommerceMap&attributes(attributes)
		.container
			+b.section-title
				h2 Карта площадки
			+e.map
				img(src="img/commerce-map.png", alt="")
	// end sCommerceMap