mixin sMerch(data)
	// start sMerch
	+b.SECTION.sMerch.section#sMerch&attributes(attributes)
		.container
			+b.section-title
				h2 Новые товары от наших партнеров				
			.row
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки','partner')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки','partner')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки','partner')
				.col.col-sm-6.col-lg-4
					+merchItem('1','Свитшот &laquo;Таврида&raquo;, Красный и&nbsp;серый две строки')
			.text-center
				+btn('Показать еще').btn
	// end sMerch

mixin merchItem(img="1",name,partner)
	+b.merch-item
		+e.img-wrap
			+pic(`merch-${img}.jpg`)
		+e.name!= name
		+e.sizes Размеры: XL, L, M, S, XS 
		+e.links
			if partner
				a.btn.btn-warning.mt-4.mb-4(href="#") Купить у партнера
			else
				a.btn.mt-4.mb-4(href="#")
					+pic(`wildberries.png`)
				a.btn.mt-4.mb-4(href="#")
					+pic(`ozon.png`)
		+e.details(href="#") Подробнее о товаре