mixin sFeedBackBody(data)
	// start sFeedBack
	+b.SECTION.sFeedBack.section#sFeedBack&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2= data
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.feedback-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.feedback-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.feedback-slider-js
					.swiper-wrapper
						block
	// end sFeedBack
mixin sFeedBack(data)
	+sFeedBackBody('Отзывы участников') 
		+feedbackSldide("1.jpg", `Пьянзина <br> Ольга`)
			| Это был мой первый фестиваль, и он превзошел все мои ожидания. Когда я закрываю глаза и вспоминаю, каким он был – вижу подиум уходящий в море, Арбенину, врывающуюся в толпу зрителей, Ассоль, наблюдающую с берега за Алыми парусами. На фестивале я была в компании единомышленников и мы просто наслаждались происходящим
		+feedbackSldide("2.jpg", `Анастасия <br> Головинова`)
			| Лично для меня «Таврида» – это площадка возможностей. И для меня большая честь и радость быть частью этой команды. За тот период времени, которой я была здесь, я многому научилась, «Таврида» умеет удивлять, вдохновлять и заряжать
		+feedbackSldide("3.jpg", `Кудряшова <br> Ксения`)
			| «Таврида» для меня – это энергия, вдохновение и искусство во всём. А также место с огромнейшей концентрацией творческих и креативных людей, желающих творить и создавать. Фестиваль в 2020 году подарил мне много ярких эмоций – насыщенная образовательная программа, крутые шоу и популярные артисты!

mixin feedbackSldide(imgNum, fName, lName, role="участница фестиваля")
	.swiper-slide
		+e.item
			+e.PICTURE.img
				- let expArr = imgNum.split(".")
				source.swiper-lazy( type="image/webp" srcset="#" data-srcset=`img/@2x/webp/feedback-img-${expArr[0]}.webp` )
				img.swiper-lazy(src="#" data-src=`img/@2x/feedback-img-${imgNum}` alt="")
			+e.name!= fName 
			+e.role=role
			+e.txt
				block

mixin sFeedBack2(data)
	+sFeedBackBody('Отзывы участников') 
		+feedbackSldide('4.png', `Виктор <br> Дальненски`, 'Москва')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
		+feedbackSldide('5.png', `Виктор<br> Дальненский`, 'Москва')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
		+feedbackSldide('6.png', `Ольга <br> Ким`, 'Москва')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
mixin sFeedBack7(h2='Отзывы участников')
	+sFeedBackBody(h2) 
		+feedbackSldide('4.png', `Виктор <br> Дальненский`, 'дизайнер')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
		+feedbackSldide('5.png', `Виктор<br> Дальненский`, 'писательница')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
		+feedbackSldide('6.png', `Ольга <br> Ким`, 'рэпер')
			| Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
mixin sFeedBack8(h2='Отзывы участников')
	+sFeedBackBody(h2) 
		+feedbackSldide('6.jpg', `Пьянзина<br>Ольга`, 'участница фестиваля')
			| Это был мой первый фестиваль, и он превзошел все мои ожидания. Когда я закрываю глаза и вспоминаю, каким он был – вижу подиум уходящий в море, Арбенину, врывающуюся в толпу зрителей, Ассоль, наблюдающую с берега за Алыми парусами. На фестивале я была в компании единомышленников и мы просто наслаждались происходящим
			a(href="#") смотреть полностью...
		+feedbackSldide('6.jpg', `Пьянзина<br>Ольга`, 'участница фестиваля')
			| Это был мой первый фестиваль, и он превзошел все мои ожидания. Когда я закрываю глаза и вспоминаю, каким он был – вижу подиум уходящий в море, Арбенину, врывающуюся в толпу зрителей, Ассоль, наблюдающую с берега за Алыми парусами. На фестивале я была в компании единомышленников и мы просто наслаждались происходящим
			a(href="#") смотреть полностью...
		+feedbackSldide('6.jpg', `Пьянзина<br>Ольга`, 'участница фестиваля')
			| Это был мой первый фестиваль, и он превзошел все мои ожидания. Когда я закрываю глаза и вспоминаю, каким он был – вижу подиум уходящий в море, Арбенину, врывающуюся в толпу зрителей, Ассоль, наблюдающую с берега за Алыми парусами. На фестивале я была в компании единомышленников и мы просто наслаждались происходящим
			a(href="#") смотреть полностью...