mixin sLgNumbers(data)
	// start sLgNumbers
	+b.SECTION.sLgNumbers.section#sLgNumbers&attributes(attributes)
		.container
			+b.section-title
				h2 Фонд грантовой поддержки
				.h5.text-secondary.fw-600 В&nbsp;2021 году есть возможность получить на&nbsp;реализацию своей идеи
			p от&nbsp;#[span 10 000 ₽] до&nbsp;#[strong 1 500 000 ₽]
	// end sLgNumbers