
	// start .sLgNumbers
	.sLgNumbers {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		p{
			@include rfs(30px);
			color: #0A1124;
			font-weight: 900;
			span{
				// font-size: 2em;
				@include rfs(70px);
				color: #00bac3;
				display: inline-block;
				letter-spacing:  -.05em
			}
			strong{
				// font-size: 3em;
				@include rfs(120px);
				font-weight: 900;
				color: $warning;
				display: inline-block;
				letter-spacing:  -.05em
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sLgNumbers