mixin sCardsTwo(data)
	// start sCardsTwo
	+b.sCardsTwo.section#sCardsTwo&attributes(attributes)
		.container 
			.row
				.col-lg-6
					+e.item.text-white
						h2.fw-900.text-white  ЭКСКУРСИЯ
						.h5.fw-600.text-white Двухчасовая прогулка по арт-парку с посещением самых интересных и знаковых арт-объектов. Каждый посетитель получает аудиогид, который позволит поближе познакомиться с арт-объектами и сделает прогулку еще более увлекательной
				.col-lg-6
					+e.item
						h2.fw-900 РЕЖИМ РАБОТЫ
						p Арт-парк открыт со среды по воскресенье.
							br
							| В день проходят три экскурсии:
						.h5.fw-400 Сеанс №1	  #[span.fw-600 11:00 – 13:00] 
						.h5.fw-400 Сеанс №3	 #[span.fw-600 18:00 – 20:00]
						.small.strong *Просьба приходить не позднее, чем за 15 минут до начала сеанса, чтобы пройти аккредитацию, получить аудиогид и пройти досмотр службой безопасности арт-кластера «Таврида». Экскурсия начинается и заканчивается у Инфоцентра Арт-Парка.


	// end sCardsTwo