// start .sResident
.sResident {
	--sPT: #{rem(47)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(50)};

	.section-title{
		h2{
			font-size: rem(24);
			line-height: calc(29/24);
			text-transform: uppercase;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};

		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(72);
		}
	}
	&__col{
		&:nth-child(1){
			&:after{
				left: calc(var(--bs-gutter-x)/2 - #{rem(58)});
				top: rem(-30);
				width: rem(173);
				height: rem(141);

				background-image: url(../img/svg/sResident-particle-1.svg);
			}
		}
		&:nth-child(2){
			&:after{
				right: calc(var(--bs-gutter-x)/2 - 8px);
				bottom: rem(-45);
				width: rem(209);
				height: rem(120);

				background-image: url(../img/svg/sResident-particle-2.svg);
			}
		}
		&:nth-child(3){
			&:after{
				left: calc(var(--bs-gutter-x)/2 + #{rem(17)});
				top: rem(-48);
				width: rem(150);
				height: rem(77);

				background-image: url(../img/svg/sResident-particle-3.svg);
			}
		}
		&:nth-child(4){
			&:after{
				right: rem(-32);
				bottom: rem(35);
				width: rem(180);
				height: rem(125);

				background-image: url(../img/svg/sResident-particle-4.svg);
			}
		}

		position: relative;
		z-index: 1;
		&:after{
			@include media-breakpoint-up(lg){
				content: '';
			}
			position: absolute;
			z-index: -1;

			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&__item{
		line-height: 1.85;
		color: $dark;

		@include media-breakpoint-up(xxl){
			margin-right: -3px;
		}
	}
	&__title{
		font-style: italic;
		font-size: rem(20);
		font-weight: 600;
		margin-bottom: rem(14);
	}
	&__descr{

	}
	//
	&__lower-row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};

		flex-direction: column-reverse;
		@include media-breakpoint-up(lg){
			flex-direction: row;
		}
	}
	&__lower-txt{
		line-height: 1.85;
		color: $dark;

		@include media-breakpoint-up(xl){
			padding-right: rem(16);
		}
		@include media-breakpoint-up(xxl){
			padding-top: 26px;
		}
	}
	&__gray{
		background: $dim;

		font-weight: 900;
		font-size: rem(20);
		line-height: 1.2;
		text-transform: uppercase;
		color: $dark;

		padding: rem(32) rem(18);
		border-radius: rem(32);
		@include media-breakpoint-up(sm){
			padding: rem(48) rem(32);
			border-radius: rem(60);
		}
		@include media-breakpoint-up(xl){
			padding: rem(75) rem(48);
			border-radius: rem(90);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(75) rem(48) rem(91) rem(64);
			border-radius: rem(150);
		}
	}
	&__{}
	&__{}
} // end.sResident