mixin sResident(data)
	// start sResident
	+b.SECTION.sResident.section#sResident&attributes(attributes)
		.container
			+b.section-title
				h2 АРТ-РЕЗИДЕНЦИЯ
			+e.row.row
				+sResidentItem('Пространство', 'для творческого процесса, где представители профессионального сообщества имеют все возможности и ресурсы для самореализации')
				+sResidentItem('Площадка', 'для коллабораций молодых деятелей культуры и искусства, представителей творческих индустрий, науки, некоммерческих организаций, управленческой и другой экспертизы')
				+sResidentItem('Место', 'где зарождаются креативные идеи, проводятся творческие эксперименты и создаются качественно новые проекты')
				+sResidentItem('"точка роста" ', 'креативной экономики в регионе')
			+e.lower-row.row.gy-5
				.col-lg-6
					+e.lower-txt
						p Совместно с Университетом креативных индустрий Universal University «Таврида» провела образовательные блоки, в которых приняли участие специалисты в области культуры, государственного и территориального управления, маркетинга, PR, проектного менеджмента, креативные предприниматели, представители творческих сообществ из 14 регионов РФ. Они же и их коллеги сформировали основную концепцию создания федеральной сети арт-резиденций на стратегической сессии во время проведения творческой антишколы классической, джазовой музыки и региональных арт-резиденций на «Тавриде».
				.col-lg-6
					+e.gray
						| Активная событийная программа арт-резиденций позволит разнообразить культурную жизнь в регионах и создать силами резидентов новые формы досуга для жителей:
						| 
						span.text-primary фестивали, конкурсы, выставки, открытые лекции, акции и другие мероприятия.

	// end sResident

mixin sResidentItem(title, descr)
	+e.col.col-sm-6.col-lg-3
		+e.item
			+e.title=title
			+e.descr=descr