mixin sProgramInfo(secondVariant)
	// start sProgramInfo
	+b.sProgramInfo.section#sProgramInfo&attributes(attributes)
		.container
			mixin item(data)
				- let bgcolorlabel
				- let colorlabel ="#fff"
				if secondVariant
					if data.label == "Российская культура - источник вдохновения"
						- bgcolorlabel = '#00BAC3' 
					if data.label == "Нас не отменишь"
						- bgcolorlabel = '#284BA4' 
				else
					if data.label == "Год сохранения культурного наследия"
						- bgcolorlabel = '#284BA4' 
						
					if data.label == "Жить и работать в России"
						- bgcolorlabel = '#9400d3'
					if data.label == "Нас не отменишь"
						- bgcolorlabel = '#00BAC3' 

				- const style =  `--bg-color-label:${bgcolorlabel};--color-label:${colorlabel}`
				+e.item(style= style data-date= data.date data-id= data.label)
					+e.item-head
						+e.item-bread-wrap
							+e.item-bread= data.date
							+e.item-bread= data.time
							+e.item-bread= data.place
						+e.item-label()!=data.label
					+e.item-title!=data.title
					+e.item-caption= data.p
					if data.link
						+e.item-link(href="#") Узнать больше &darr;
					//- +e.item-link(href="#") Узнать больше  ↓

			if secondVariant
				h2 Программа
				+item({
						date:"15 августа",
						time:"09:00 – 21:00",
						place:"Выставочный павильон 13 арт-парка",
						title:"Выставка «Киммерийские просторы»",
						label:"Нас не отменишь",
						p:"В&nbsp;2020 году стартовал новый для &laquo;Тавриды&raquo; проект, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами: от&nbsp;идеи до&nbsp;застройки, без подрядчиков",
						link: true
				})
				+item({
						date:"15 августа",
						time:"09:00 – 21:00",
						place:"Выставочный павильон 13 арт-парка",
						title:"Выставка «Киммерийские просторы»",
						label:"Нас не отменишь",
						p:"В&nbsp;2020 году стартовал новый для &laquo;Тавриды&raquo; проект, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами: от&nbsp;идеи до&nbsp;застройки, без подрядчиков",
						link: true
				})
				+item({
						date:"15 августа",
						time:"09:00 – 21:00",
						place:"Выставочный павильон 13 арт-парка",
						title:"Выставка «Киммерийские просторы»",
						label:"Российская культура - источник вдохновения",
						p:"В&nbsp;2020 году стартовал новый для &laquo;Тавриды&raquo; проект, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами: от&nbsp;идеи до&nbsp;застройки, без подрядчиков",
						link: true
				})
				+item({
						date:"15 августа",
						time:"09:00 – 21:00",
						place:"Выставочный павильон 13 арт-парка",
						title:"Выставка «Киммерийские просторы»",
						label:"Нас не отменишь",
						p:"В&nbsp;2020 году стартовал новый для &laquo;Тавриды&raquo; проект, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами: от&nbsp;идеи до&nbsp;застройки, без подрядчиков",
						link: true
				})
				+item({
						date:"15 августа",
						time:"09:00 – 21:00",
						place:"Выставочный павильон 13 арт-парка",
						title:"Выставка «Киммерийские просторы»",
						label:"Российская культура - источник вдохновения",
						p:"В&nbsp;2020 году стартовал новый для &laquo;Тавриды&raquo; проект, направленный на&nbsp;развитие молодых художников через практику создания инсталляций совместно с&nbsp;популярными художниками-экспертами. Впервые арт-объекты полностью создавались командами: от&nbsp;идеи до&nbsp;застройки, без подрядчиков",
						link: true
				})
			else
				+item({
						date:"16.08.2022",
						time:"15:00 – 19:00 ",
						title:"Ярмарка-выставка народных промыслов ",
						place:"павильон 8",
						label:"Год сохранения культурного наследия",
						p:"Особенностью выставки станет коллаборация народных промыслов с современными технологичными форматами : виртуальная реальность, дополненная реальность, NFT."
				})
				+item({
						date:"16.08.2022",
						time:"15:00 – 19:00",
						title:"Работа выставки регионов",
						place:" гостевые дома и арт-резиденции",
						p:"Концепция посвящена теме “Знакомимся с Россией Оффлайн”. будет организована программа для быстрых знакомств между участниками, лекции, мастер-классы, отражающие национальный колорит различных регионов, а также программы для стажировки трудоустройства и реализации молодежных проектов на территории различных регионов России. Застройка выставочных стендов отражает национальные мотивы регионов, в том числе в современном исполнении.",
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:"15:30-16:30",
						title:"арт-объект Человек Клоун-театр «Микос» «Авиаторы»",
						place:"арт-парк Таврида",
						p:"Трюковое интерактивное театральное представление с прилетом «настоящего самолета».",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"15:00-16:00, 17:30-19:00",
						title:"Фотолук от АРТ.Маг",
						place:"павильон 5",
						p:"Возможность сделать фестивальный макияж, получить профессиональные фото в образах от молодых дизайнеров в декарациях АртМаг",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"15:00 – 20:00",
						title:"Фестиваль современного искусства, выставка ",
						place:"павильон 3 ",
						p:"Художественные работы будут представлены особым “арт-маршрутом” в общественных пространствах, в павильонах и на территории строительства Университета креативных индустрий",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"15:10 – 16:10 ",
						title:"Открытый микрофон «Правила моей победы»",
						place:"серф-приют",
						p:"Описание будет позже",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"16:00-17:00",
						title:"Look of the day мастер-класс от стилиста АРТ.Маг",
						place:"павильон 5",
						p:"Тренды, travel-гид или мастхэвы сезона, без которых не обойтись. Подборка стильных луков из ассортимента Арт.Мага",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"16:30-17:30 ",
						title:"Театральное товарищество «Комик-Трест» «Моллюск Ревю»",
						place:"арт-объект Светофор",
						p:"Театральное товарищество «Комик-Трест» приглашает зрителей стать свидетелями и участниками приключений трех забавных улиток.",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"17:00-17:30 ",
						title:"Мини-показ образы от топ-стилиста",
						place:"павильон 5",
						p:"Концептуальный показ",
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:"16:00 – 17:30",
						title:" Фестиваль патриотической песни",
						place:"костровая",
						p:'Выступления солистов и ансамблей из России и Беларуси, представителей Росгвардии, МЧС, и подразделений Министерства обороны, а также известных артистов с творческими номерами в патриотической тематике. Фестиваль патриотической песни также включает в сбея Международный фестиваль-конкурс военно-патриотической песни "Солдатский конверт" и музкальный проект "Красная гвоздика"',
						label:"Нас не отменишь"
				})
				+item({
						date:"16.08.2022",
						time:"17:30 – 18:30 ",
						title:"Встреча фрегата «Херсонес»",
						place:"костровая",
						p:"Описание будет позже",
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:"17:30 – 18:30",
						title:"Историческая реконструкция «Ассамблея Петра I»",
						place:"главная сцена",
						p:'Будут работать тематические площадки, посвященные петровскому времени: походный лагерь, созданный в соответствии с историческими реалиями, петровские полки и площадка артиллерийского арсенала. Совместно с Общероссийским общественным движением “Клубы Исторической Реконструкции России”',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'18:00 – 18:40 ',
						title:'Концерт группы Макодзеба',
						place:'серф-приют',
						p:'Описание будет позже',
						label:"Нас не отменишь"
				})
				+item({
						date:"16.08.2022",
						time:'18:50 – 19:50',
						title:'Литературный вечер',
						place:'серф-приют',
						p:'Описание будет позже',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'20:00 – 22:20',
						title:'Трибьют группы «Иванушки international» посвященный Легенде Тавриды Игорю Матвиенко (Александр Иванов, Антон Токарев, группа «Корни», группа «Фабрика», Хабиб, HARU)',
						place:'главная сцена',
						p:'Музыкальное шоу, где резиденты арт-кластера «Таврида» в тандеме с популярными артистами исполнят кавер-версии хитов группы «Иванушки International»',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'20:00 – 22:20 ',
						title:'Трибьют группы «Иванушки international» посвященный Легенде Тавриды Игорю Матвиенко (Александр Иванов, Антон Токарев, группа «Корни», группа «Фабрика», Хабиб, HARU)',
						place:'главная сцена',
						p:'Музыкальное шоу, где резиденты арт-кластера «Таврида» в тандеме с популярными артистами исполнят кавер-версии хитов группы «Иванушки International»',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'20:30 – 22:00 ',
						title:'Кастинг саунд-продюсеров, выступающих с электронной музыкой на Радио DFM',
						place:'серф-приют',
						p:'Описание будет позже',
						label:"Жить и работать в России"
				})
				+item({
						date:"16.08.2022",
						time:'22:30 – 23:30',
						title:'Народное караоке – Баста',
						place:'главная сцена',
						p:'Уроженец Ростова-на-Дону Василий Вакуленко наиболее известен под вывеской «Баста», но любители российского рэпа ценят и его сайд-проекты..Сейчас Вакуленко — совладелец лейбла Gazgolder, в его активе — членство в жюри шоу «Голос», фильмы «Газгольдер» и «Газгольдер. Клубаре». На мероприятии прозвучат полюбившимися многими хиты автора-исполнителя Басты.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'23:30 – 01:00',
						title:'Фестиваль к 150-летию Сергея Дягилева. «Дягилев. Русские сезоны»',
						place:'костровая',
						p:'Совместное выступление солистов оперы и балета Большого и Мариинского театров с резидентами арт-кластера. В программе лучшие номера из постановок, представленных в “Русских сезонах” Дягелева: “Жизель”, “Видение розы”, “Послеполуденный отдых Фавна”, “Петрушка”.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"16.08.2022",
						time:'23:30 – 01:00',
						title:'Концерт Хабиб и HARU с резидентами арт-кластера «Таврида»',
						place:'серф-приют',
						p:'"Хабиб - российский певец и видеоблогер. участник шоу ""Песни"" на тнт. Известен как исполнитель хитовой песни ""Ягода малинка"". Все вместе будем подпевать артисту в уже всем знакомых текстах и познакомимся с новинками. HARU - певец, автор и исполнитель собственных песен, участник шоу ""Голос"". Юрий Пак первым русским посланником k-pop в России. Талантливый парень уверенно набирает популярность у молодой аудитории, несет культуру модных корейских тенденций в массы."',
						label:"Жить и работать в России"
				})
				//- 17 

				+item({
						date:"17.08.2022",
						time:'15:00 – 19:00',
						title:'Работа выставки регионов',
						place:' гостевые дома и арт-резиденции',
						p:'Концепция посвящена теме “Знакомимся с Россией Оффлайн”. будет организована программа для быстрых знакомств между участниками, лекции, мастер-классы, отражающие национальный колорит различных регионов, а также программы для стажировки трудоустройства и реализации молодежных проектов на территории различных регионов России. Застройка выставочных стендов отражает национальные мотивы регионов, в том числе в современном исполнении.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"17.08.2022",
						time:'15:30 - 17:30',
						title:' Уличный театр «Vokrug» «Сашины сказки»',
						place:'арт-объект Маяк',
						p:'Спектакль о молодости человеческой души, влюбленности в жизнь и бессмертной поэзии. В основе спектакля лежат сказки и жизнь А.С. Пушкина.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'15:00 – 19:00 ',
						title:'"Ярмарка-выставка народных промыслов "',
						place:'павильон 8',
						p:'Особенностью выставки станет коллаборация народных промыслов с современными технологичными форматами : виртуальная реальность, дополненная реальность, NFT.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"17.08.2022",
						time:'15:00 – 20:00',
						title:'Фестиваль современного искусства, выставка ',
						place:'павильон 3 ',
						p:'Художественные работы будут представлены особым “арт-маршрутом” в общественных пространствах, в павильонах и на территории строительства Университета креативных индустрий      ',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'15:00-15:20',
						title:'Показ Перфоманса',
						place:'павильон 5',
						p:'Арт показ, смоделированный в пространстве АртМаг Несколько моделей стоят на кубах и меняют позы под концепт трек диджея в течении 10-15 минут, визуальная проекция на стене',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'15:00 – 19:00',
						title:'Работа выставки регионов',
						place:' гостевые дома и арт-резиденции',
						p:'Концепция посвящена теме “Знакомимся с Россией Оффлайн”. будет организована программа для быстрых знакомств между участниками, лекции, мастер-классы, отражающие национальный колорит различных регионов, а также программы для стажировки трудоустройства и реализации молодежных проектов на территории различных регионов России. Застройка выставочных стендов отражает национальные мотивы регионов, в том числе в современном исполнении.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"17.08.2022",
						time:'15:30 - 17:30',
						title:' Уличный театр «Vokrug» «Сашины сказки»',
						place:'арт-объект Маяк',
						p:'Спектакль о молодости человеческой души, влюбленности в жизнь и бессмертной поэзии. В основе спектакля лежат сказки и жизнь А.С. Пушкина.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'15:00 – 19:00 ',
						title:'Ярмарка-выставка народных промыслов',
						place:'павильон 8',
						p:'Особенностью выставки станет коллаборация народных промыслов с современными технологичными форматами : виртуальная реальность, дополненная реальность, NFT.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"17.08.2022",
						time:'15:00 – 20:00',
						title:'Фестиваль современного искусства, выставка ',
						place:'павильон 3 ',
						p:'Художественные работы будут представлены особым “арт-маршрутом” в общественных пространствах, в павильонах и на территории строительства Университета креативных индустрий      ',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'16:30 - 17:30 ',
						title:'Театр кукол «Гулливер» «Made In Ural»',
						place:'арт-объект Стоунхендж',
						p:'За основу сюжета необычного спектакля взята городская легенда об инопланетянине Алешеньке, которого нашли у южной окраины Кыштыма в посёлке Каолиновый Челябинской области.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'17:30 – 01:00',
						title:'Фестиваль РЕПБАЗАФОЛК',
						place:'серф-приют',
						p:'Самый большой музыкальный лайнап фестиваля (более 8 часов выступления нон-стоп). Участники фестиваля - не профессиональные музыканты в жанре фолк-рок.',
						label:"Нас не отменишь"
				})
				+item({
						date:"17.08.2022",
						time:'17:30 – 18:30 ',
						title:'Шоу-презентация Университета Креативных Индустрий',
						place:'бош',
						p:'Основным мероприятием станет предпремьерный показ документального фильма: “Университет креативных индустрий: искусство вместе”',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'17:00 – 19:00 ',
						title:'Музыкальное шоу «Народный артист. Лариса Долина» (группа Burito, Александр Панайотов, группа Uma2rman)',
						place:'костровая',
						p:'Шоу-признание от резидентов арт-кластера и известных исполнителей творчеству Ларисы Долиной',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'17:00-18:00 ',
						title:'Битва стилистов фестиваля Таврида 2022 «Хочу/Могу», гид по стилю',
						place:'павильон 5',
						p:'Подборка стильных образов Арт.Мага как альтернатива подиумным лукам. Горячие новинки для настоящих тренд-хантеров. Мини-дефиле',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'18:00-19:00 ',
						title:'Сэлфи от АРТ.Маг',
						place:'павильон 5',
						p:'Подбор Стиля от Консультантов АртМаг, в декорациях, фотографии на телефон в антураже',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'18:30 – 19:30',
						title:'Шоу показ молодых российских дизайнеров',
						place:'строительная площадка',
						p:'На подиуме будут показаны более 80 образов в различных стилях от 22 дизайнеров – резидентов арт-кластера. Также в рамках показа одежды молодых российских дизайнеров будут презентованы коллекции, созданные в коллаборации с известными брендами (партнеры: Urban Tiger, 404 NOT FOUND, Паника Деревья и Ольга Иванова x ППК РЭО)',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'19:00 – 20:30',
						title:'Концерт Вани Дмитриенко и группы Burito с резидентами арт-кластера «Таврида»',
						place:'главная сцена',
						p:'Вместе с хедлайнерами фестиваля и резидентами арт-кластера послушаем знакомые композиции и новинки.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'19:30 – 20:30 ',
						title:'Концерт Александра Панайотова с резидентами арт-кластера «Таврида»',
						place:'костровая',
						p:'Александр Панайотов - певец с уникальным голосом, мастер вокальной импровизации, талантливый композитор и музыкант, финалист проекта “Народный артист-1”, финалист, серебряный призер пятого сезона шоу «Голос». Музыкальное направление – pop, soul, jazz, funk, R’n’B, lounge. Вместе с артистом исполним самые любимые и неповторимые песни, чтобы погрузиться в атмосферу невероятного вокала.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'19:30 – 20:30',
						title:'Шоу строительной техники',
						place:'строительная площадка',
						p:'Описание будет позже',
						label:"Жить и работать в России"
				}) 
				+item({
						date:"17.08.2022",
						time:'20:50 – 21:30 ',
						title:'Народное караоке – Лолита',
						place:'главная сцена ',
						p:'Её песни постоянно в ротации, гастрольный график насыщенный, концерты тура собирают аншлаги в каждом городе.Бесконечная самоирония, комедийный бэкграунд - все это про Лолиту. Вместе с российской поп-звездой с удовольствием в унисон вспомним всеми любимые хиты.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'21:50 – 23:00 ',
						title:'Концерт Моя Мишель с резидентами арт-кластера «Таврида»',
						place:'главная сцена',
						p:'молодой и амбициозный проект, с первого взгляда цепляющий чувством стиля, вокальными данными и музыкальными аранжировками. Группа играет в стиле романтический мейнстрим. Весь репертуар команды – это полностью авторские тексты и музыка. Все вместе - это стилизованный (под что - это уж каждый сам разберется) квинтет единомышленников, для которых музыка - откровение.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'22:30 – 23:30 ',
						title:'Концерт группы Uma2rman с резидентами арт-кластера «Таврида»',
						place:'костровая',
						p:'Uma2rman - российская рок-группа, приобрела известность после песен: «Прасковья», «Ума Турман», «Проститься», спела заглавную песню к ситкому «Папины дочки». Погрузимся вместе со всеми зрителями, музыкантами и резидентами арт-кластера в атмосферу любимых песен.',
						label:"Жить и работать в России"
				})
				+item({
						date:"17.08.2022",
						time:'23:00 – 00:30',
						title:'Кастинг артистов в Шоу «Ночной Контакт» VK',
						place:'бош',
						p:'Описание будет позже',
						label:"Жить и работать в России"
				})
				//-  18
				+item({
						date:"18.08.2022",
						time:'13:00-14:00',
						title:'Уличный театр «Небесная карусель» «Небесная карусель»',
						place:'арт-парк Таврида',
						p:'Спектакль о мире сна, где возможно дотянуться до облаков. Где без крыльев можно летать. Где за гранью игры проявляется детство. Где легко найти свою птицу счастья.',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'14:00 – 16:00 ',
						title:'Кастинг вокалистов и поющих педагогов в Музыкальную Академию Ларисы Долиной',
						place:'бош',
						p:'Помимо традиционных кастингов в Академию Игоря Крутого, TODES, шоу “Ночной контакт”, проект “Голос”, Русскую Медиагруппу, на радио MAXIMUM/DFM, пройдут кастинги в проект Ларисы Долиной, а также подержанные Президентским фондом культурных инициатив и Институтом развития интернета',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'14:30-14:40',
						title:'Церемония награждения победителей «Битвы стилистов»',
						place:'павильон 5',
						p:'Вручение призов от партнеров и фотосъемка стилистов',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'15:00 – 19:00 ',
						title:'Ярмарка-выставка народных промыслов',
						place:'павильон 8',
						p:'Особенностью выставки станет коллаборация народных промыслов с современными технологичными форматами : виртуальная реальность, дополненная реальность, NFT.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'15:00 – 19:00',
						title:'Работа выставки регионов',
						place:' гостевые дома и арт-резиденции',
						p:'Концепция посвящена теме “Знакомимся с Россией Оффлайн”. будет организована программа для быстрых знакомств между участниками, лекции, мастер-классы, отражающие национальный колорит различных регионов, а также программы для стажировки трудоустройства и реализации молодежных проектов на территории различных регионов России. Застройка выставочных стендов отражает национальные мотивы регионов, в том числе в современном исполнении.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'15:00 – 20:00',
						title:'Фестиваль современного искусства, выставка ',
						place:'павильон 3 ',
						p:'Художественные работы будут представлены особым “арт-маршрутом” в общественных пространствах, в павильонах и на территории строительства Университета креативных индустрий ',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'15:00-15:30',
						title:'Мини-показ образы от Крымских дизайнеров',
						place:'павильон 5',
						p:'Концептуальный показ',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'15:30-19:00 ',
						title:'Фотолук от АРТ.Маг',
						place:'павильон 5',
						p:'Возможность сделать фестивальный макияж, получить профессиональные фото в образах от молодых дизайнеров в декорациях АртМаг',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'16:30-17:30',
						title:'Уличный театр «Пластилиновый дождь» «Из жизни аистов»',
						place:'арт-парк Таврида',
						p:'Милый комедийно-лирический перфоманс с забавными декорациями и трюковыми элементами.',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'17:00 – 18:00',
						title:'Кастинг графических дизайнеров в ЛЕНТА.РУ',
						place:'бош',
						p:'Помимо традиционных кастингов в Академию Игоря Крутого, TODES, шоу “Ночной контакт”, проект “Голос”, Русскую Медиагруппу, на радио MAXIMUM/DFM, пройдут кастинги в проект Ларисы Долиной, а также подержанные Президентским фондом культурных инициатив и Институтом развития интернета',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'17:00',
						title:'Арт-шествие',
						place:'главная сцена',
						p:'Ключевая тема “Мы вместе”. В рамках театрализованного костюмированного мероприятия будут раскрыты темы объединений различных народностей и поколений. Каждая локация шествия символизирует опыт и знания, накопленные целыми поколениями. Итогов арт-шествия станет масштабный хоровод.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'17:30 – 19:00',
						title:' Фестиваль «ДЖАЗ-100»',
						place:'костровая',
						p:'Площадка фестиваля “Таврида.АРТ” станет одной из локаций большого Всероссийского фестиваля джазовой музыки, который в течении года проходит в разных городах России по управлением Игоря Бутмана',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'18:00-20:30',
						title:' Фестиваль команд КВН',
						place:'серф-приют',
						p:'Описание будет позже',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'19:00 – 20:30 ',
						title:'Финал конкурса «Короли Лезгинки»',
						place:'главная сцена',
						p:'За звание “Королей лезгинки” будут бороться сольные исполнители и коллективы Чеченской Республики, Дагестана, Северной Осетии, Кабардино-Болгарской и Карачаево-Черкесской республик, а также представители Ставропольского края, Центрального Федерального округа, Краснорярска и Республики Башкротостан.',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'21:00 – 23:00',
						title:'Шоу резидентов арт-кластера «Таврида» ST, закрытие',
						place:'главная сцена',
						p:'Своеобразный манифест молодых творцов против “культуры отмены”. Мультижанровое шоу про объединение, силу творчества, силу русского духа. Гранд-финалом станет исполнение трека “Ты не один”, написанного рэп-исполнителем ST совместно с резидентами арт-кластера “Таврида”',
						label:"Нас не отменишь"
				})
				+item({
						date:"18.08.2022",
						time:'22:50 – 23:00',
						title:'Шоу дронов',
						place:'главная сцена',
						p:'Шоу будет посвящено сохранению нематериального культурного наследия народов России, теме величия русского языка и классической русской литературы, а также Легендам Тавриды',
						label:"Год сохранения культурного наследия"
				})
				+item({
						date:"18.08.2022",
						time:'23:30 – 00:30 ',
						title:'Народное караоке - Максим',
						place:'главная сцена',
						p:'Дебютный альбом "Трудный возраст" разошелся тиражом более 2 миллионов копий и стал настоящим бестселлером. Впоследствии он получил один золотой, один бриллиантовый и пять платиновых статусов в России. А сама МакSим в 2007 году стала самой коммерчески успешной певицей России.Погрузимся в атмосферу лиричных песен исполнительницы, которые продолжают завоевывать наши сердца, услышим новинки, которым с удовольствием будем подпевать.',
						label:"Жить и работать в России"
				})
				+item({
						date:"18.08.2022",
						time:'23:00 – 01:00',
						title:'Международный фестиваль-конкурс патриотической песни «Солдатский конверт»',
						place:'костровая',
						p:'Выступления солистов и ансамблей из россии и Беларуси, представителей Росгрардии, МЧС, а также известных артистов с творческими номерами в патриотической тематике',
						label:"Нас не отменишь"
				})

	// end sProgramInfo