mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+e.inner
			+mnu()
			.text-right
	//  мобильное меню

mixin top-nav()
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row.align-items-center
				.col-auto
					+e.burger
						span
				.col-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.ms-auto
					+e.mail-us(href='#')
						+icon('mail')
						span.d-none.d-sm-block напишите нам
	// end top-nav