// start .sFAQ
.sFAQ {
	@include media-breakpoint-up(xxl){
		// --sPT: #{rem(30px)};
		// --sTPB: #{rem(73px)};
	}
	// --sPB: #{rem(35px)};

	.section-title{
		h2{
			font-weight: 900;
			// font-size: 40px;
		}
	}
	&__items{

	}
	&__item{
		@include mt();
		box-shadow: 0px 0px rem(0) rgba(147, 169, 174, 0.62);
		&:hover{
			box-shadow: 0px 2px rem(8) rgba(147, 169, 174, 0.62);
		}
		margin-bottom: 15px;

		border-radius: rem(25);
		@include media-breakpoint-up(lg){
			border-radius: rem(50);
		}
		border: 3px solid $black;

		padding: rem(20);
		@include media-breakpoint-up(sm){
			padding: rem(25) rem(30) rem(25) rem(40);
		}
		@include media-breakpoint-up(xl){
			padding: rem(20) rem(40) rem(20) rem(50);
		}
		@include media-breakpoint-up(xxl){
			// padding: rem(31.5) rem(44) rem(31.5) rem(58);
		}

		--pl-aft-o: 1;
		&.active{
			--pl-aft-o: 0;
		}
	}
	&__head{
		display: flex;
		justify-content: space-between;
		cursor: pointer;

		--head-txt-col: #{$dark-blue};
		&:hover{
			--head-txt-col: #{$black};
		}
	}
	&__txt{
		@include mt();
		padding-top: em(6);
		color: var(--head-txt-col);
		
		// @extend .h4;
		@include rfs(22px);
		font-weight: 700;
		margin-bottom: 0;
		line-height: calc(26 / 22);
		@include media-breakpoint-up(lg){
			// font-size: rem(30);
			// line-height: (37/30);
		}

		// text-transform: uppercase;
	}
	&__content{
		@include media-breakpoint-up(xxl){
			max-width: 94%;
		}

		display: none;
		&.active{
			display: block;
		}

		font-size: 16px;
		line-height: 1.85;
		color: $dark-blue;
		padding-top: rem(25);
	}

	&__plus{
		@include mt();
		flex-shrink: 0;
		color: $blue;

		width: rem(24);
		height: rem(24);
		margin-left: rem(24);
		@include media-breakpoint-up(sm){
			width: rem(40);
			height: rem(40);
			margin-left: rem(40);
		}
		@include media-breakpoint-up(xl){
			margin-left: rem(140);
		}

		position: relative;
		&:before,
		&:after{
			@include mt();
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: currentColor;

		}
		&:before{
			width: 100%;
			height: 3px;
		}
		&:after{
			opacity: var(--pl-aft-o);
			width: 3px;
			height: 100%;
		}
	}
	&__{}
	.section-title{

		p {
			max-width: 1000px;
			font-size: rem(20);
			margin-bottom: 1em;
		}
	}
	&--color{
		.sFAQ__item{
			background: #F1E1F5;
			border-color: #F1E1F5;
		}
		.btn{
			font-size: rem(20px);
			padding: rem(18) rem(35);
		}
	}
	&--25 {
		.sFAQ {
			&__item{
				background: #E3EEFF;
				border-color: #E3EEFF;
			}
			&__content {
				h5 {
					margin-bottom: rem(24);
					font-weight: 700;
				}
				p {
					font-size: rem(16);
					color: $gray-650;
					line-height: 1.8em;
					margin-bottom: rem(16);
				}
			}
			&__text {
				color: #000;
				line-height: 1.8em;
				font-weight: 400 !important;
				margin-bottom: rem(16) !important;
			}
			&__caption {
				font-size: rem(13);
				color: $gray-650;
				line-height: 1.8em;
			}
		}
	}
} // end.sFAQ