mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.items.faq-items-js
				+faqItem('Когда начнётся регистрация?')
					| Регистрация для участников и зрителей стартует 15 марта.
				+faqItem('Кто может стать участником фестиваля?')
					| Участниками фестиваля могут стать прошедшие конкурсный отбор молодые деятели культуры и&nbsp;искусства, представители волонтёрских объединений, акции #МыВместе, общественных организаций, проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo; и&nbsp;медиаинфлюенсеры в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет, а&nbsp;также семьи с&nbsp;детьми&nbsp;&mdash; участниками проекта &laquo;Большая перемена&raquo; в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет.
				+faqItem('Кто может стать зрителем фестиваля?')
					| Любой желающий в возрасте от 18 лет включительно, прошедший регистрацию и получивший подтверждение в личном кабинете.

				+faqItem('Когда и где пройдёт фестиваль?')
					| Фестиваль пройдёт с 8 по 12 сентября в Крыму, на площадке арт-кластера «Таврида».
	// end sFAQ

mixin faqItem(txt, activeClasses='')
	+e.item(class=activeClasses)
		+e.head.dd-head-js
			+e.txt=txt
			+e.plus
		+e.content.dd-content-js(class=activeClasses) 
			block