mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.items.faq-items-js
				+faqItem('Получить опыт организации крупных мероприятий')
				+faqItem('Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии')
				+faqItem('Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии', 'active')
	// end sFAQ

mixin faqItem(txt, activeClasses='')
	+e.item(class=activeClasses)
		+e.head.dd-head-js
			+e.txt=txt
			+e.plus
		+e.content.dd-content-js(class=activeClasses) Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.