mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.items.faq-items-js
				+faqItem('Когда начнётся регистрация?')
					| Регистрация для участников и зрителей стартует 15 марта.
				+faqItem('Кто может стать участником фестиваля?')
					| Участниками фестиваля могут стать прошедшие конкурсный отбор молодые деятели культуры и&nbsp;искусства, представители волонтёрских объединений, акции #МыВместе, общественных организаций, проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo; и&nbsp;медиаинфлюенсеры в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет, а&nbsp;также семьи с&nbsp;детьми&nbsp;&mdash; участниками проекта &laquo;Большая перемена&raquo; в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет.
				+faqItem('Участие в данном мероприятии платное?')
					| Нет, участие в&nbsp;фестивале &laquo;Таврида.АРТ&raquo; для зрителей абсолютно бесплатное.
				+faqItem('До какого числа открыта регистрация на фестиваль?')
					| Регистрация для зрителей фестиваля &laquo;Таврида.АРТ&raquo; открыта до&nbsp;1&nbsp;сентября включительно! После 1&nbsp;сентября вам на&nbsp;почту придет результат рассмотрения заявки, и&nbsp;в&nbsp;случае положительного решения&nbsp;&mdash; личный QR-код. Его нужно будет предъявить в&nbsp;центре аккредитации вместе с&nbsp;паспортом в&nbsp;распечатанном или электронном виде для получения зрительского браслета.
				+faqItem('Где и как будут питаться зрители фестиваля? Какая еда будет доступна на фестивале? Возможна ли оплата по безналичному расчёту?')
					| На&nbsp;фестивале &laquo;Таврида.АРТ&raquo; будет организован фуд-корт с&nbsp;разнообразными гастрономическими площадками, где зрители фестиваля смогут за&nbsp;свой счет приобрести еду как наличным, так и&nbsp;безналичным расчётом.
				+faqItem('Кто может стать зрителем фестиваля?')
					| Любой желающий в&nbsp;возрасте от&nbsp;18&nbsp;лет, прошедший регистрацию на&nbsp;официальном сайте и&nbsp;получивший подтверждение на&nbsp;электронную почту.
				+faqItem('Когда и где пройдёт фестиваль?')
					| Фестиваль пройдёт с 8 по 12 сентября в Крыму, на площадке арт-кластера «Таврида».
	// end sFAQ

mixin faqItem(txt, activeClasses='')
	+e.item(class=activeClasses)
		+e.head.dd-head-js
			+e.txt=txt
			+e.plus
		+e.content.dd-content-js(class=activeClasses) 
			block