mixin card(x,t,p)
	+e.col.col-lg-4.col-sm-6
		+b.card-item
			+e.img-wrap.bg-wrap(href="#")
				+pic(`${x}`,'bg').picture-bg
				+e.title= t
			p!= p
mixin sCards(data)
	// start sCards
	+b.SECTION.sCards.section#sCards&attributes(attributes)
		.container
			+b.section-title
				h2.text-primary ВОРКШОПЫ 2020
				
			.row
				+card(`wsh-1.jpg`,`ТАМ-ТАМ`,`«Там-там» – символ пульсирующей жизни, наполненной светом. Днем он рассеивает солнечные блики, отражая небесную гладь, а ночью сияет подобно луне.`)
				+card(`wsh-2.jpg`,`ТАВРИЧЕСКИЙ ПОТОК`,`Совместно со специалистами из различных научных и социокультурных дисциплин группа художников разработала место творческой силы «Тавриды», где каждый может почувствовать гармонию единения  с пространством и самим собой, зарядиться энергией и получить новый уникальный опыт.`)
				+card(`wsh-3.jpg`,`ЮЛА`,`«Юла» представляет собой скульптуру, основанную на преобразовании энергии вращения юлы. В то время как юла совершает повторяющиеся движения  и ее внешняя оболочка зрительно не меняется, внутри объема концентрируется масса энергии.`)
	// end sCards