
	// start .sBanner
	.sBanner {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		 &__inner{
			 background: linear-gradient(250.72deg, rgba(107, 22, 128, 0.8) 3.46%, rgba(0, 186, 195, 0.8) 82.84%);
			 	@include media-breakpoint-up(md) {

					 padding: rem(96) rem(70);
					}
					padding: rem(30) rem(20);

			 /* Note: backdrop-filter has minimal browser support */
			 
			 border-radius: 50px;
			 overflow: hidden;
			 z-index: 2;
			 position: relative;
			 img{
				 backdrop-filter: blur(32px);
				 z-index: -1;
				 position: absolute;
				 right: 0;
				 top: 0;

			 }
			 color: #fff;
			}
			h2{
			 color: #fff;
			 text-transform: uppercase;
			 @include rfs(50px);
			 max-width: rem(550);

		 }
		 p{
			 max-width: rem(550);
		 }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sBanner