mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.inner.bg-wrap
				h2 Посетить  <br> арт-парк
				p Арт-парк появился в&nbsp;2019&nbsp;году: в&nbsp;рамках форума &laquo;Таврида&raquo; молодыми архитекторами и дизайнерами со&nbsp;всей России под кураторством представителей современной отечественной архитектуры и&nbsp;искусства были спроектированы и&nbsp;возведены первые арт- объекты
				+pic("banner-bg.png",'bg').pictire-bg
	// end sBanner