extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sResidents/_sResidents.pug
include ../blocks/sAchivment/_sAchivment.pug
include ../blocks/sStory/_sStory.pug
include ../blocks/sFaumos/_sFaumos.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sDirection/_sDirection.pug
include ../blocks/sFpartners/_sFpartners.pug
include ../blocks/sArtist/_sArtist.pug
include ../blocks/sWay/_sWay.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sSteps/_sSteps.pug

block variables
	- let  mainPage= null
block title
	- let  title= '02'
	title= title

	
block pagecontent
	+mMenu()
	+header()
		+top-nav(true, true)(class='blue')
	+headerBlock({
		title: `ФЕСТИВАЛЬ  <br> ФЕСТИВАЛЕЙ <br> «ТАВРИДА.АРТ»`,
		video: `https://vk.com/video_ext.php?oid=-89840945&id=456240410&hash=fece856eef05f5ea&hd=4`
	}).headerBlock--blue
	+sAbout({
		bg: 'about-bg2.jpg',
		title: 'О фестивале',
		text: `Фестиваль фестивалей &laquo;Таврида.АРТ&raquo; ‒ это точка сборки лидеров изменений в&nbsp;креативных индустриях с&nbsp;высоким уровнем концентрации разноформатных событий и&nbsp;творческих людей на&nbsp;один квадратный метр Капсельской бухты в&nbsp;Крыму. В&nbsp;этом году он&nbsp;пройдет с&nbsp;8&nbsp;по&nbsp;12&nbsp;сентября`
	}).sAbout--blue
	+sVantage2()
	+sDirection()
	+sStory2()
	+sProjects2()
	+sFpartners()
	+sArtist()
	+sWay()
	+sSteps()
	+sFeedBack()
	//- +sApply()
	+sFAQ()
	//- +sUsefull()
	+sNews()
	+sForm()
	+sPartners()
	+footer()