mixin sDirection(data)
	// start sDirection
	+b.SECTION.sDirection.section#sDirection&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 Направления фестиваля
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.direction-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.direction-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.direction-slider-js
					.swiper-wrapper
						+directionSlide()
						+directionSlide()
						+directionSlide()
	// end sDirection

mixin sDirection2(data)
	// start sDirection
	+b.SECTION.sDirection--on-white.section#sDirection&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 Творческие антишколы форума
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.direction-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.direction-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.direction-slider-js
					.swiper-wrapper
						+directionSlide(false)
						+directionSlide(false)
						+directionSlide(false)

mixin directionSlide(hasbotStr=true)
	.swiper-slide
		+e.row.row
			.col-4
				+directionItem(1, 'Музыка')
			.col
				+directionItem(2, 'Танцы')
			.col-auto
				+directionItem('new', 'Медиа')(class="text-center")
			.w-100.m-0
			.col-auto
				+directionItem(3, 'АРТ')(class="text-center")
			.col
				+directionItem(4)
					| Россия –
					br
					| страна
					br
					| возможностей
			.col-4
				+directionItem(5, 'Театр и кино')
			.w-100.m-0
			.col-4
				+directionItem(7, '#МЫВМЕСТЕ')
			.col
				+directionItem(8, 'Резиденты Тавриды и ArtMasters ')
			.col-auto
				+directionItem('9', 'Большая <br> перемена')(class="text-center")
			if hasbotStr
				//- .col-12
				//- 	+directionItem(6, '#Мывместе')(class="item-small")


mixin directionItem(imgName, txt)
	+e.item&attributes(attributes)
		+pic(`direction-${imgName}.jpg`, ``, 0)
		//- img(src=`img/@2x/direction-${imgName}.jpg` alt="")
		if txt
			+e.txt!=txt
		else
			+e.txt
				block