mixin sFaumos(data)
	// start sFaumos
	+b.SECTION.sFaumos.section#sFaumos&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2 Звезды
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.famous-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.famous-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.famous-slider-js
					.swiper-wrapper
						+faumosSlide(1, 'Юлианна Караулова', `певица`)
							| Конечно, есть и&nbsp;другие проекты, где можно выступить с&nbsp;артистами, другие фестивали, где ты&nbsp;встречаешься с&nbsp;единомышленниками, но&nbsp;именно &laquo;Таврида.АРТ&raquo; это все объединяет. Считаю, что это бесценный опыт, и&nbsp;жалею, что в&nbsp;свое время у&nbsp;меня не&nbsp;было возможности побывать на&nbsp;таком фестивале.
						+faumosSlide(2, 'Сергей Кириенко', `Первый заместитель Руководителя Администрации Президента&nbsp;РФ`)
							| Фестиваль &laquo;Таврида.АРТ&raquo; уже точно стал визитной карточкой Крыма и&nbsp;ежегодно привлекает множество творческих людей со&nbsp;всей России. А&nbsp;по&nbsp;мере строительства здесь творческой академии, проекты арт-кластера откроют возможности и&nbsp;для молодежи внутри полуострова.
						+faumosSlide(3, 'Никита Михалков', `режиссер`)
							| &laquo;Таврида&raquo;&nbsp;&mdash; потрясающая по&nbsp;своей энергетике площадка. Дух совместного творчества. Очень приятно, что здесь собираются не&nbsp;потребители и&nbsp;пассивные зрители. Участники фестиваля ‒ это созидатели и&nbsp;соавторы, которые вовлекаются в&nbsp;процесс и&nbsp;строят эту площадку своими руками.
						+faumosSlide(4, 'Пол Браун', `сценарист`)
							| Вы&nbsp;сами знаете, как вам повезло оказаться здесь. На&nbsp;&laquo;Тавриде&raquo; вы&nbsp;найдете менторов, которые будут вас направлять, и&nbsp;людей, которые интересуются тем&nbsp;же, что и&nbsp;вы. Самое важное ‒ это взаимодействие и&nbsp;общение.
						+faumosSlide(5, 'Владимир Машков', `актер и&nbsp;режиссер`)
							| &laquo;Таврида&raquo;&nbsp;&mdash; это надежда. Как говорили наши предшественники: усвой, что делали раньше, и&nbsp;иди дальше. Вот это, наверное, то&nbsp;место и&nbsp;есть. Есть надежда, что придут ребята и&nbsp;раскроют нам секреты следующего поколения.
						+faumosSlide(6, 'Константин Хабенский', `актер`)
							| &laquo;Таврида&raquo;&nbsp;&mdash; это форум, который не&nbsp;идет по&nbsp;накатанной, а, наоборот, создает сам себя. Который провоцирует и&nbsp;гостей, и&nbsp;участников на&nbsp;дальнейшее действие. Я&nbsp;это сразу увидел, когда попал на&nbsp;площадку. Люди сюда приезжают не&nbsp;отдохнуть, а&nbsp;как-то дополнить или изменить свою жизнь.
						+faumosSlide(7, 'Игорь Матвиенко', `продюсер`)
							| Успех&nbsp;&mdash; это очень относительное понятие. Человек должен быть просто гармонично развит, в&nbsp;том числе и&nbsp;творчески. Музыка, литература, кино, танцы или что-то другое. Любое творчество ‒ это очень важно.
						+faumosSlide(8, 'ПАШУ (Павел Курьянов)', `генеральный директор и&nbsp;сооснователь лейбла Black Star Inc.`)
							| В&nbsp;нашем юношестве у&nbsp;нас не&nbsp;было такого шанса&nbsp;&mdash; попасть в&nbsp;среду единомышленников, с&nbsp;которыми ты&nbsp;мог развиваться. Здесь вы&nbsp;можете встретиться с&nbsp;профессионалами и&nbsp;наставниками. Нужно брать по&nbsp;максимуму от&nbsp;каждого дня. Сейчас у&nbsp;вас есть эта возможность, за&nbsp;что я&nbsp;хочу выразить благодарность организаторам &laquo;Тавриды&raquo;.
						+faumosSlide(9, 'Юрий Башмет', `дирижер и&nbsp;альтист`)
							| Здесь люди, которые чего-то добились или еще не&nbsp;знают, чего им&nbsp;добиться. Они здесь знакомятся, их&nbsp;узнают, они себя пробуют. Самое главное в&nbsp;творчестве ‒ это познать себя, границы своих возможностей.
						+faumosSlide(10, 'Игорь Крутой', `продюсер`)
							| Все, что происходит и&nbsp;будет происходить на&nbsp;&laquo;Тавриде&raquo; ‒ серьезная вещь. Здесь собраны таланты со&nbsp;всей страны. Если из&nbsp;тысячи человек, которые приехали на&nbsp;&laquo;Тавриду&raquo;, появится одна мощная звезда, значит, все это не&nbsp;прошло даром. Даже если вы&nbsp;не&nbsp;станете звездой, опыт, приобретенный на&nbsp;форуме, поможет вам в&nbsp;жизни.
						+faumosSlide(11, 'Леонид Агутин', `певец`)
							| Давно не&nbsp;бывал в&nbsp;Крыму, какая атмосфера и&nbsp;какой воздух. Прекрасное место, поэтому никогда не&nbsp;унывайте!
						+faumosSlide(12, 'Клава Кока', `певица`)
							| Я&nbsp;не&nbsp;первый раз на&nbsp;&laquo;Тавриде&raquo;. Мне нравится сюда приезжать, потому что здесь нет зевак, которые просто пришли посмотреть, ‒ здесь каждый приехал с&nbsp;какой-то целью, с&nbsp;мечтой. Здесь симбиоз творческих людей, которые знакомятся друг с&nbsp;другом, общаются и&nbsp;после этого создают что-то новое и&nbsp;креативное. Приятно быть частью такого сообщества.
						+faumosSlide(13, 'Сергей Лазарев', `певец`)
							| Потрясающее место, потрясающая дружба и&nbsp;потрясающие таланты, которые здесь собрались. Я&nbsp;чувствую невероятную поддержку, вы&nbsp;молодцы.
						+faumosSlide(14, 'Илзе Лиепа', `балерина`)
							| &laquo;Таврида&raquo; приближает большое искусство.
						+faumosSlide(15, 'Егор Дружинин', `хореограф`)
							| Для того чтобы быть хорошим артистом, а&nbsp;не&nbsp;просто машиной, выполняющей движения, необходим большой личностный багаж. Нужно многое прожить, уметь любить, чувствовать, реагировать, быть живым. Здесь собрались ребята с&nbsp;потрясающей энергетикой, уверен, у&nbsp;них огромный потенциал.
						+faumosSlide(16, 'Николай Цискаридзе', `артист балета и&nbsp;педагог`)
							| Когда впервые попал на&nbsp;&laquo;Тавриду&raquo;, всем так завидовал. В&nbsp;моей молодости не&nbsp;было подобных форумов. Мало того, что здесь все организовано, сюда еще и&nbsp;привозят таких специалистов! У&nbsp;нас в&nbsp;1990-е годы ничего этого не&nbsp;было, вам очень повезло.
						+faumosSlide(17, 'Алла Духова', `хореограф`)
							| Поговорив здесь с&nbsp;ребятами, мы&nbsp;определили, наверное, главный принцип счастья ‒ нужно учиться любить людей, слышать&nbsp;их. На&nbsp;&laquo;Тавриде&raquo; мы&nbsp;приобретаем эти качества, знакомимся с&nbsp;единомышленниками и&nbsp;находим настоящих друзей. А&nbsp;еще нужно больше мечтать и&nbsp;идти к&nbsp;своим мечтам, они сбываются ‒ я&nbsp;это знаю.

						
				+b.famous-pugin--js
	// end sFaumos

mixin faumosSlide(imgNum, name, prof)
	.swiper-slide
		+e.item
			+e.img
				img.swiper-lazy(src="#" data-src=`img/@2x/faumos-${imgNum}.png` alt="")
			+e.txt-bl
				+e.txt
					if block
						block
					else
						| Конечно, есть и другие проекты, где можно выступить с артистами, другие фестивали, где ты встречаешься с единомышленниками, но именно «Таврида.АРТ» это все объединяет. Считаю, что это бесценный опыт, и жалею, что в свое время у меня не было возможности побывать на таком фестивале.
				+e.name=name
				+e.prof!= prof