mixin sFpartners(data)
	// start sFpartners
	+b.SECTION.sFpartners.section#sFpartners&attributes(attributes)
		.container
			+b.section-title.text-center.text-lg-start
				h2 Фестивали-партнеры 2019-2020 ГОДОВ
			+e.row.row
				+sFPartnersItem(1)
					| Новая
					br
					| волна
				+sFPartnersItem(2)
					| Усадьба
					br
					| JAZZ
				+sFPartnersItem(3)
					| Koktebel
					br
					| Jazz Party
				+sFPartnersItem(4)
					| RAP
					br
					| Koktebel
				+sFPartnersItem(5)
					| Всероссийский фестиваль авторской песни имени Валерия Грушина
	// end sFpartners

mixin sFPartnersItem(imgNum)
	.col-6.col-lg-3.col-xxl
		+e.item(href='#')
			//- +e.img
			+pic(`f-parnter-${imgNum}.png`,``,0) 
			+e.txt
				block