mixin sOpportunities(data)
	// start sOpportunities
	+b.SECTION.sOpportunities.section#sOpportunities&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sOpportunities
				
			.row
	// end sOpportunities