mixin sOpportunities(h2='Возможности антишкол', ...datas)
	// start sOpportunities
	+b.SECTION.sOpportunities.section#sOpportunities&attributes(attributes)
		.container
			+b.section-title
				h2= h2
			ol
				each data in datas 
					li!= data

	// end sOpportunities