
	// start .sCardsBlock
	.sCardsBlock {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&__item{
			@include block;
			@include block(200,100);
			margin-bottom: 30px;
			color: #fff;

			span{
				position: absolute;
				left: 20px;
				top: 20px;
				font-weight: 700;
				padding-right: 20px;
			}
			.img-icon{
				position: absolute;
				right: 20px;
				bottom: 20px;
				width: 80px;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sCardsBlock