// start .sAchivment
.sAchivment {
	@include media-breakpoint-up(lg){
		--sPT: #{rem(70)};
		// --sTPB: #{rem(30)};
		--sPB: #{rem(82px)};
	}

	&__row{
		position: relative;

		display: flex;
		flex-wrap: wrap;

	
		@include media-breakpoint-up(lg){
			display: block;
			background-image: url(../img/svg/achivments-grid.svg);
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 580px;
		}
		@include media-breakpoint-up(xl){
			// background-image: url(../img/svg/achivments-grid.svg);
			background-repeat: no-repeat;
			background-size: cover;
			// min-height: 700px;
			min-height: rem(873.31px);
		}
		@include media-breakpoint-up(xxl){
			margin-top: -60px;
			margin-left: -38px;
		}
	}
	
	@include media-breakpoint-up(lg){
		&--school &__row{
			background-image: url(../img/svg/achivments-grid-2.svg);
			background-size: 100% 100%;
			margin-top: rem(10);
			min-height: rem(773.31px);
			}
		&--wsh &__row{
		
			min-height: rem(843.31px);
			}
		}
	&__col{
		@include media-breakpoint-up(lg){
			position: absolute;
		}

		//-1
		&:nth-child(1){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				--num-fs: #{rem(70)};
				--num-padd: 0 0 5px 0;
				top: 70px;
				left: 0px;
			}
			@include media-breakpoint-up(xl){
				--num-fs: #{rem(80)};
				--num-padd: 0 0 5px 0;
				top: 116px; 
			}
			@include media-breakpoint-up(xxl){
				--num-fs: #{rem(100)};
				--num-padd: 0 0 5px 0;
				top: 158px; 
			}
		}
		//-2
		&:nth-child(2){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 70px;
				left: 340px;
				--num-padd: 0 #{rem(30)} 0 0;
				--num-fs: #{rem(60)};
			}
			@include media-breakpoint-up(xl){
				top: 104px;
				left: 516px;
				--num-padd: 0 30px 0 0;
				--num-fs: #{rem(70)};
			}
			@include media-breakpoint-up(xxl){
				top: 146px;
				left: 544px;
				--num-padd: 0 32px 0 0;
				--num-fs: #{rem(80)};
			}
		}

		//-3
		&:nth-child(3){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 70px;
				left: 680px;
				--num-padd: 0 #{rem(30)} 0 0;
				--num-fs: #{rem(70)};
			}
			@include media-breakpoint-up(xl){
				top: 106px;
				left: 986px;
				--num-padd: 0 30px 0 0;
				--num-fs: #{rem(80)};
				display: block;
			}
			@include media-breakpoint-up(xxl){
				top: 145px;
				left: 995px;
				display: flex;
				--num-padd: 0 38px 0 0;
				--num-fs: #{rem(106)};
			}
		}

		//-4
		&:nth-child(4){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 240px;
				left: 350px;
				--num-padd: 0 30px 0 0;
				--num-fs: #{rem(65)};
			}
			@include media-breakpoint-up(xl){
				top: 352px;
				left: 507px;
				--num-padd: 0 30px 0 0;
				--num-fs: #{rem(80)};
			}
			@include media-breakpoint-up(xxl){
				top: 360px;
				left: 527px;
				--num-padd: 0 40px 0 0;
				--num-fs: #{rem(89)};
			}
		}

		//-5
		&:nth-child(5){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 240px;
				// left: 680px;
				right: 0;
				text-align: right;
				--num-padd: 0 0 #{rem(15px)} 0;
				--num-fs: #{rem(105)};
				text-align: right;
			}
			@include media-breakpoint-up(xl){
				top: 325px;
				// left: 860px;
				--num-padd: 0 0 20px 0;
				--num-fs: #{rem(115)};
			}
			@include media-breakpoint-up(xxl){
				top: 378px;
				// left: 975px;
				--num-padd: 0 0 25px 0;
				--num-fs: #{rem(140)};
				// text-align: left;
			}
		}

		//-6
		&:nth-child(6){
			@include media-breakpoint-down(lg){
				order: 1;
				width: 100%;
			}
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 420px;
				left: 0;
				--num-padd: 0 0 20px 0;
				--num-fs: #{rem(90)};
			}
			@include media-breakpoint-up(xl){
				top: 586px; 
				--num-padd: 0 0 20px 0;
				--num-fs: #{rem(110)};
			}
			@include media-breakpoint-up(xxl){
				top: 600px; 
				--num-padd: 0 0 25px 0;
				--num-fs: #{rem(128)};
			}
		}
		&:nth-child(7){
			--num-padd: 0 0 #{rem(15)} 0;
			@include media-breakpoint-up(lg){
				top: 525px;
				left: 653px;
				--num-padd: 0 #{rem(20)} 0 0;
				--num-fs: #{rem(60)};
			}
			@include media-breakpoint-up(xl){
				top: 762px;
				left: 923px;
				--num-padd: 0 43px 0 0;
				--num-fs: #{rem(80)};
				display: block;
			}
			@include media-breakpoint-up(xxl){
				top: 790px;
				left: 975px;
				--num-padd: 0 43px 0 0;
				--num-fs: #{rem(89)};
				display: flex;
			}
		}


		&.flex{
			@include media-breakpoint-up(lg){
				display: flex;
				align-items: center;
			}
		}

		@include media-breakpoint-down(sm){
			width: 100%;
		}
		@include media-breakpoint-down(lg){
			--num-fs: #{rem(60)};
			// @include rfs(70px);
			&:nth-child(odd){
				// --num-fs: #{rem(45)};
			}

			// width: 50%;
			width: 100%;
			padding: rem(20);

			br{
				display: none;
			}
		}
		--num-fs: #{rem(70)};
	}
	&__number{
		font-size: var(--num-fs);
		font-weight: 900;
		line-height: 1;
		letter-spacing: -0.06em;
		text-transform: uppercase;
		//padding: rem(20);
		padding: var(--num-padd);
	}
	&__txt{
		@include media-breakpoint-up(lg){
			font-weight: 600;
			font-size: rem(20);
		}
		line-height: 1.8;

		&--common{
			@include media-breakpoint-up(lg){
				font-weight: 400;
				font-size: rem(16);
			}
		}
	}
	//
	&__{}
	&__{}
	&__{}
	&--school{
			@include media-breakpoint-up(lg){

				.sAchivment__col:nth-child(1){
					--num-fs: #{rem(130)};
					--num-padd: 0 0 5px 0;
					top: 0px;
					left: 0px;
				}
				.sAchivment__col:nth-child(2){
					--num-fs: #{rem(88)};
					--num-padd: 0 0 5px 0;
					top: 0px;
					// left: 0px;
					left: auto;
					right: 0;
				}
				.sAchivment__col:nth-child(4){
					--num-fs: #{rem(100)};
					--num-padd: 0 0 5px 0;
					top: rem(200);
					// left: 0px;
					// left: auto;
					// right: 0;
				}
				.sAchivment__col:nth-child(5){
					--num-fs: #{rem(94)};
					white-space: nowrap;
					// left: 850px;
					left: auto;
					right: 0;
				
				}
				.sAchivment__col:nth-child(6) {
					top: 500px;
					left: 0; 
				}
				.sAchivment__col:nth-child(7) {
							top: 590px;
							left: auto;
							right: 0;
							--num-padd: 0 23px 0 0;
							--num-fs: 5.5625rem;
						}
			}
		}
		
		
		&--wsh{
			@include media-breakpoint-up(lg){
				
				// .sAchivment__col:nth-child(1){
					// 	--num-fs: #{rem(130)};
					// 	--num-padd: 0 0 5px 0;
					// 	top: 0px;
					
				// 	left: 0px;
				// }
				.sAchivment__col:nth-child(2){
					--num-fs: #{rem(130)};
					--num-padd: 0 10px 0 0;
					top: 0px;
					// left: 0px;
					left: auto;
					right: 0;
				}
				.sAchivment__col:nth-child(4){
					--num-fs: #{rem(100)};
					--num-padd: 0 0 5px 0;
					top: rem(200);
					// left: 0px;
					// left: auto;
					// right: 0;
				}
				.sAchivment__col:nth-child(5){
					--num-fs: #{rem(172)};
					white-space: nowrap;
					// left: 850px;
					top: 570px;
					left: rem(300);
					right: 0;
				
				}
				.sAchivment__col:nth-child(6) {
					--num-fs: #{rem(195)};
					top: 400px;
					left: 0; 
				}
				.sAchivment__col:nth-child(7) {
					text-align: center;
							top: 220px;
							left: auto;
							right: 0;
							--num-padd: 0 0 0 0;
							--num-fs: #{rem(240)};
					}
			}
	}
	&--2035{
			@include media-breakpoint-up(lg){

				.sAchivment__col:nth-child(1){ 
					top: 50px;
				}
				.sAchivment__col:nth-child(6){
					--num-fs: #{rem(113)};
					top: 500px;
				}
			}
	}


} // end.sAchivment


.sAchivment2022{
	&__row{
		display: flex;
		flex-wrap: wrap;
		
		@include media-breakpoint-up(sm){
		display: grid;
		grid-gap: 30px;
		}
		@include media-breakpoint-up(lg){
			
			--column:3;
			--row: 4;
		}
		--column:2;
		grid-template-columns: repeat(var(--column),1fr);
    // grid-template-rows: repeat(var(--row),1fr);
	}
	&__number{
		font-weight: 900;
		line-height: 0.7;
		color: $warning;
		letter-spacing: -0.06em;
	}
	&__txt{
		font-weight: 600;
		font-size: 1rem;
	}
	&__col{
		position: relative;
		border-radius: var(--bras);
		
	}
	--bras: 42.8534px;
	&--1 &__row > &__col{
		width: 100%;
		@include media-breakpoint-down(sm) {
		margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 78px;
		}
		
		
		@include media-breakpoint-up(lg) {
			font-size: 50px;
		}
		font-size: 40px;
		

		padding: 30px 15px;
			// border: 1px solid #000;
			display: flex;
			
			&:nth-child(1) {
				// grid-column: 4/4;
				padding-left: 0.4em;
				@include media-breakpoint-up(lg){

					grid-row: 1/3; 
				}
				border: 2px solid #000000;
				border-radius: var(--bras) var(--bras) 0 var(--bras);
				flex-direction: column;
				justify-content: center;
				padding-bottom: 40px;
				&::after{
					content: '';
					position: absolute;
					right: 0;
					top: 100%;
					width: 50%;
					background-color: #fff;
					height: 4px;
				}
				.sAchivment2022__number{
						// @include rfs(136px);
						font-size: 2em;
						margin-bottom: 0.3em;
						
				}
			}
			&:nth-child(2) {
				@include media-breakpoint-up(lg){

					grid-column: 2/4;
				}
				grid-column: 1/3;
				background: rgba(#C4C4C4, .2);
				display: flex;
				align-items: center;
				// padding-left: 48px;
				justify-content: center;
				.sAchivment2022__txt{
					font-size: 14px;
					max-width: 165px;
				}
				.sAchivment2022__number{ 
					margin-right: 0.1em;
					// margin-bottom: 0.3em;
			}
			}
			&:nth-child(3) {
				border: 2px solid #000000;
				border-top: none;
				border-radius: 0 0 var(--bras) var(--bras) ;
				display: flex;
				justify-content: center;
				align-items: center;
				.sAchivment2022__number{
					
					margin-right: 0.2em;
						// margin-bottom: 0.3em;
				}
				.sAchivment2022__txt{ 
					max-width: 135px;
				}
			}
			&:nth-child(4) {
				@include media-breakpoint-up(lg){

					grid-column: 3/4;
					grid-row: 2/4; 
				}
				background: rgba(#C4C4C4, .2);
				padding: 27px 35px;
				flex-direction: column;
				justify-content: center;
				
				.sAchivment2022__number{
					margin-right: 0.1em;
					font-size: 2em;
						margin-bottom: 0.3em;
				}
				.sAchivment2022__txt{ 
					max-width: 285px;
				}
			} 
			&:nth-child(5) {
				flex-direction: column;
				justify-content: center;
				@include media-breakpoint-up(lg){

					// grid-column: 1/3; 
					grid-row: 3/5; 
				}
				grid-column: 1/3; 
				background: rgba(#C4C4C4, .2);
				padding-left: 40px;
				.sAchivment2022__number{
					font-size: 1.3em;
					// margin-right: 0.1em;
						margin-bottom: 0.3em;
				}
			}
			&:nth-child(6) {
				@include media-breakpoint-down(lg){
					grid-column: 2/3; 
					grid-row: 1; 
				}
				border: 2px solid #000000;
				border-bottom: none;
				border-radius:var(--bras) var(--bras) 0 0  ;
				justify-content: center;
				align-items: center;
				padding-left: rem(33);
				.sAchivment2022__number{
					margin-right: 0.2em;
				}
				.sAchivment2022__txt{ 
					// max-width: 145px;
				}
			}
	}
}