// start .sMap
@use "sass:math";

.sMap {
	position: relative;
	--sPT: #{rem(81)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(10)};

	&__map-wrap{
		@include media-breakpoint-up(xxl){
			margin-right: rem(-32);
		}
		position: relative;
		z-index: 1;

		padding-bottom: rem(60);
	}

	.section-title{
		h2{
			font-size: rem(24);
			line-height: calc(29/24);
			text-transform: uppercase;
		}
	}

	*[data-bs-toggle]{
		@include mt();
		cursor: pointer;

		&:hover, &.active{
			fill: $orange!important;
		}
	}
	&__mark-wrap{
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__map{
		position: relative;
		z-index: 1;

		& > *{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.map-div{
		@include mt();
		pointer-events: none;//??
		width: rem(12);
		height: rem(12);
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;

		background: $orange;
		border: 1px solid $white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;

		&.active{
			background: $white;
			border: 2px solid $blue3;
		}
	}
	.popover{
		width: rem(240);
		@include media-breakpoint-up(xxl){
			margin-left: rem(120)!important;
		}
		//margin-top: -120px!important;

		z-index: 100;
		background-color: $white;
		border-radius: rem(10);
		padding: rem(12);
		box-shadow: 0px 4px 80px rgba(147, 169, 174, 0.62);

		&:after{
			@include media-breakpoint-up(xxl){
				content: '';
			}
			position: absolute;
			top: calc(100% - 10px);
			left: 0;
			clip-path: polygon(100% 0, 0 0, 0 100%);
			width: 20px;
			height: 20px;
			background-color: $white;
		}
	}
	&__title{
		font-weight: 800;
		font-size: rem(12);
		line-height: 1.45;
		margin-bottom: rem(6);

		text-transform: uppercase;
		color: $dark;
	}
	&__city{
		font-size: 12px;
		line-height: 1.56;
		margin-bottom: 10px;
	}
	&__link{
		font-weight: bold;
		font-size: 12px;
		line-height: 1.56;

		color: $orange;
		&:hover{
			color: darken($orange, 5);
		}
	}
	//dd
	&__dd-items{

	}
	&__dd-item{
		margin-bottom: rem(10);
		&:last-child{
			margin-bottom: 0;
		}

		&.active{
			--dd-head-bg: #{$orange};
			--dd-head-col: #{$white};
			--dd-head-chevron-rot: 180deg;
			--dd-head-aft-o: 1;
			--dd-head-bef-o: 0;
		}
	}
	&__dd-head{
		@include mt();
		cursor: pointer;

		padding: rem(4) rem(32) rem(4) rem(8);
		border-radius: rem(8);
		border: 1px solid $orange;
		background: var(--dd-head-bg, #{transparent});

		font-weight: 800;
		font-size: rem(12);
		line-height: 1.25;
		color: var(--dd-head-col, #{$dark});

		//
		position: relative;
		&:before,
		&:after{
			@include mt();
			content: '';
			position: absolute;
			right: rem(8);
			top: 50%;
			transform: translateY(-50%) rotateX(var(--dd-head-chevron-rot, 0deg));

			width: rem(12);
			height: rem(12);

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:before{
			background-image: url(../img/svg/chevron-down-orange.svg);
			opacity: var(--dd-head-bef-o, 1);
		}
		&:after{
			background-image: url(../img/svg/chevron-down-white.svg);
			opacity: var(--dd-head-aft-o, 0);
		}
	}
	&__dd-content{
		padding: rem(15) 0 0 0;

		display: none;
		&.active{
			display: block;
		}
	}
	&__{}
	&__{}

	//
	&__input-cont{}
	&__input-wrap{}
	&__input{}
	&__btn{
		img{

		}
	}

	//
	&__table-wrap{
		//@extend .custom-scroll2;
		//max-height: 500px;
		//overflow-y: auto;
		margin: 0 rem(-30);
		padding: 0 rem(30);
		position: relative;

		.dataTables_filter{
			//position: absolute;
			//top: calc(var(--map-th-height));

			//change firs row pt!!!!
			padding: rem(16) 0 rem(26);
			//left: rem(30);
			//width: calc(100% - #{rem(60)}) !important;

			float: none;
			font-size: 0;
			display: flex;
			flex-direction: column;

			label{
				display: block;
			}
			input{
				@extend .form-control;
				width: 100%;
				padding: rem(8) rem(20) rem(8.5) rem(45);

				background-image: url(../img/svg/zoom.svg);
				background-position-x: rem(13.5);
				background-position-y: center;
				background-repeat: no-repeat;
				background-size: rem(16);

				font-size: 12px;
				line-height: 1.56;
			}
		}
	}
	&__table{
		border: none!important;

		//width: calc(100% - 30px) !important;
		width: 100% !important;
		@include media-breakpoint-down(lg){
			display: block!important;
		}

		thead{

			padding-bottom: rem(13);
			@include media-breakpoint-down(lg){
				display: none!important;
			}

			td{
				@include media-breakpoint-up(lg){
					padding: rem(13) 0;
				}

				font-weight: bold!important;
				font-size: rem(12);
				line-height: 1.56;
			}
		}


		tr{
			border-bottom: 1px solid $gray-510;
			@include media-breakpoint-down(lg){
				display: flex!important;
				flex-wrap: wrap;
				width: 100%;
				padding: rem(12) 0;
			}
		}
		td{
			border: none!important;
			padding-left: 5px!important;
			padding-right: 10px!important;

			@include media-breakpoint-down(sm){
				width: 100%;
				margin-bottom: rem(4);
			}
			@include media-breakpoint-down(md){
				width: calc(100%/3);
			}
			@include media-breakpoint-down(lg){
				width: calc(100%/3 - 100px/3);
				margin-bottom: rem(8);
			}
		}
		td:first-child{
			font-weight: 600;
			width: 100% !important;
			@include media-breakpoint-up(lg){
				font-weight: 400;
				width: 43% !important;
			}
		}
		td:last-child{
			@include media-breakpoint-down(md){
				width: 100%;
				text-align: left;
			}
			@include media-breakpoint-down(lg){
				width: 100px;
				text-align: right;
			}
		}

		tbody{
			tr:first-child{
				td{
					//padding-top: calc(#{rem(40)} + #{rem(26)} + #{rem(16)}) !important;
				}
			}

			td{
				@include media-breakpoint-up(lg){
					padding: rem(20) 0;
				}

				font-size: rem(14);
				line-height: 1.8;

				&:first-child{
					font-size: rem(16);
				}
			}
		}

		a{
			display: inline-block;
			font-weight: 600;
			font-size: rem(14);
			line-height: 1.8;
			color: $orange;
			&:hover{
				color: darken($orange, 5);
			}
		}
	}

	&__input-tr{
		border-bottom: none!important;
	}
	&__input-td{
		position: relative;
		padding: rem(15) 0 rem(6)!important;
		width: 100%;
		border-bottom: none;
	}
	&__input-cont{
		position: relative;
		width: 100%;
	}
	&__btn{
		@extend .btn;
		border: none!important;
		box-shadow: none!important;
		outline: none!important;

		position: absolute;
		top: 0;
		left: 0;
		padding: 5px;
		height: 100%;
		width: rem(46);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		@include mt();
		&:hover{
			transform: scale(1.2);
		}
	}
	&__input{
		width: 100%;
		padding: rem(8) rem(20) rem(8.5) rem(45);

		font-size: 12px;
		line-height: 1.56;
	}

	//select
	.dataTables_length{
		width: 100%;
		label{
			display: flex;
			align-items: center;
			width: 100%;

			font-weight: 600;
			font-size: rem(16);


			select{
				margin-left: auto;
				//@include media-breakpoint-up(md){
				//	margin-left: rem(20);
				//}
				@extend .form-control;
				@extend .form-select;
				box-shadow: none!important;
				width: rem(140);

				color: $black!important;
				font-size: rem(16) !important;
				line-height: math.div(18, 16);

				padding: rem(8) rem(45) rem(8.5) rem(20);
				cursor: pointer;
			}
		}
	}

	//
	.dataTables_paginate{
		padding: rem(20) 0;
		display: flex;
		justify-content: space-between;
	}


	//
	.paginate_button,
	.ellipsis{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;


		margin: 0 rem(3);
		min-width: rem(32);
		height: rem(32);
		padding: rem(4);
		font-size: rem(14);
		@include media-breakpoint-up(sm){
			font-size: rem(16);
			margin: 0 rem(3);
			min-width: rem(44);
			height: rem(44);
			padding: rem(10);
		}
		@include media-breakpoint-up(lg){
			margin: 0 rem(5);
		}
	}

	.paginate_button{
		@extend .btn;
		@extend .btn-warning;

		&.next,
		&.previous{
			margin: 0;

			@include media-breakpoint-down(md){
				font-size: 0;
			}

			&:after{
				content: '';
				@include media-breakpoint-up(md){
					content: none;
				}

				width: rem(16);
				height: rem(16);
				display: inline-block;

				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}


		//
		&.next{
			&:after{
				background-image: url(../img/svg/chevron-right.svg);
			}
		}
		&.previous{
			&:after{
				background-image: url(../img/svg/chevron-left.svg);
			}
		}
	}

	.ellipsis{
		@extend .btn;
		@extend .btn-outline-warning;
		pointer-events: none;
		//border-width: 1px;
		color:  $orange!important;

	}
	//
	.sorting{
		cursor: pointer;
		position: relative;
		padding-right: rem(40);

		&:after{
			@include mt();
			content: '';
			position: absolute;
			display: block;
			width: rem(40);
			height: 100%;
			right: 0;
			top: 0;

			background-image: url(../img/svg/arrow-down.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: rem(8);
		}

		&.sorting_asc{
			&:after{
				transform: rotateX(180deg);
			}
		}
	}


	&__{}
	&__{}
	&__{}
} // end.sMap