mixin sParnersAlt(data)
	// start sParnersAlt
	+b.SECTION.sParnersAlt--js.section#sParnersAlt&attributes(attributes)
		.container
			+sParnersAltSlider('Партнеры')
			+sParnersAltSlider('Партнеры2')
	// end sParnersAlt

mixin sParnersAltSlider(title)
	+e.slider-box
		+b.section-title
			h2=title
		+e.row.row.gx-3.gy-3(style="--count-desctop: 5" )
			+sParnersAltSlide('img/npr.png')
			+sParnersAltSlide('img/partner-1.png')
			+sParnersAltSlide('img/partner-2.jpg')
			+sParnersAltSlide('img/ria.png')
			+sParnersAltSlide('img/logo-bp.svg')
			+sParnersAltSlide('img/minstroi.png')
			+sParnersAltSlide('img/avc.svg')
			+sParnersAltSlide('img/partner-3.jpg')
			+sParnersAltSlide('img/logo_vgik.png')
			+sParnersAltSlide('img/partner-4.jpg')
			+sParnersAltSlide('img/partner-5.jpg')
			+sParnersAltSlide('img/partner-smex.png')
			+sParnersAltSlide('img/partner-6.jpg')
			+sParnersAltSlide('img/partner-7.jpg')
			+sParnersAltSlide('img/partner-9.jpg')
			+sParnersAltSlide('img/partner-10.png')
			+sParnersAltSlide('img/partner-11.png')
			+sParnersAltSlide('img/partner-12.jpg')
			+sParnersAltSlide('img/partner-14.png')
			+sParnersAltSlide('img/partner-15.png')
			+sParnersAltSlide('img/par-log-1.png')
			+sParnersAltSlide('img/par-log-2.png')
			+sParnersAltSlide('img/par-log-3.png')
			+sParnersAltSlide('img/par-log-4.png')
			+sParnersAltSlide('img/par-log-5.png')
			+sParnersAltSlide('img/par-log-6.png')
			+sParnersAltSlide('img/par-log-7.png')
			+sParnersAltSlide('img/par-log-8.png')
			+sParnersAltSlide('img/par-log-9.png')
			+sParnersAltSlide('img/partner-16.png')
			+sParnersAltSlide('img/partner-17.jpg')
			+sParnersAltSlide('img/partner-18.jpg')
			+sParnersAltSlide('img/partner-20.png')
			+sParnersAltSlide('img/partner-21.png')
			+sParnersAltSlide('img/partner-22.png')
			+sParnersAltSlide('img/partner-23.png')
			+sParnersAltSlide('img/partner-24.jpg')
			+sParnersAltSlide('img/fond.png')
			+sParnersAltSlide('img/partner-25.jpg')
			+sParnersAltSlide('img/partner-26.jpg')
			+sParnersAltSlide('img/rma.png')
			+sParnersAltSlide('img/imp.png')
			+sParnersAltSlide('img/apc.png')
			+sParnersAltSlide('img/partner-27.jpg')
			+sParnersAltSlide('img/lib-logo.png')
			+sParnersAltSlide('img/partner-28.jpg')
			+sParnersAltSlide('img/dolina.png')
			+sParnersAltSlide('img/master.png')
			+sParnersAltSlide('img/astrel.png')
			+sParnersAltSlide('img/partner-29.jpg')
			+sParnersAltSlide('img/renovacii.png')
			+sParnersAltSlide('img/partner-30.jpg')
			+sParnersAltSlide('img/partner-31.jpg')
			+sParnersAltSlide('img/mast.png')
			+sParnersAltSlide('img/stud.png')
			+sParnersAltSlide('img/partner-32.jpg')
			+sParnersAltSlide('img/partner-33.png')
			+sParnersAltSlide('img/partner-34.png')
			+sParnersAltSlide('img/partner-35.png')
			+sParnersAltSlide('img/partner-36.png')
			+sParnersAltSlide('img/partner-37.png')
			+sParnersAltSlide('img/partner-38.png')
			+sParnersAltSlide('img/partner-39.png')
			+sParnersAltSlide('img/partner-41.png')
			+sParnersAltSlide('img/mediapolis.jpg')
			+sParnersAltSlide('img/kons.png')
			+sParnersAltSlide('img/part-1.png')
			+sParnersAltSlide('img/part-3.png')
			+sParnersAltSlide('img/part-4.png')
			+sParnersAltSlide('img/part-5.png')
			+sParnersAltSlide('img/part-6.jpg')

mixin sParnersAltSlide(i)
	+e.col.col-6.col-sm-4.col-md-3.col-xl-2
		+e.img
			img(src=`${i}` loading="lazy" alt="")