mixin sAudience(data)
	// start sAudience
	+b.SECTION.sAudience.section#sAudience&attributes(attributes)
		+e.inner
			.container
				+b.section-title
					h2 Аудитория
					
				+e.bg.bg-wrap
					+pic("aud-img.png",'bg',0).picture-bg
					+e.text Граждане&nbsp;РФ, в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;30&nbsp;лет которые являются участниками Форума или Фестиваля арт-кластера &laquo;Таврида&raquo;
	// end sAudience