mixin allcss()
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap" rel="stylesheet">
	link(rel="stylesheet", href="js/dropzone.min.css" )

	<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css" rel="stylesheet" />
	link(href="libs/swiper/css/swiper.min.css", rel="stylesheet") 
	link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css", rel="stylesheet")
	link(href="libs/select2/css/select2.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	script(src="libs/swiper/js/swiper.min.js") 
	// /slider libs

	//-dz js
	script(src="js/dropzone.min.js")

	script(src="libs/inputmask/inputmask.min.js")
	script(src="libs/masonry-layout/masonry.pkgd.min.js")
	script(src="libs/imagesloaded/imagesloaded.pkgd.min.js")
	<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
	script(src="libs/select2/js/select2.min.js")

	//- script.
	//- 	$("#address").suggestions({
	//- 				token: "59f9e08ca17fb8b9571eb10cc3a06e9ef83dd71d",
	//- 				type: "ADDRESS",
	//- 				/* Вызывается, когда пользователь выбирает одну из подсказок */
	//- 				onSelect: function(suggestion) {
	//- 						console.log(suggestion);
	//- 				}
	//- 		});

	script(src="js/common.js")

	
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs