//- menu
mixin mnu()
	-
		var nav= {
			"Форум":"#",
			"Фестиваль Фестивалей":"#",
			"Таврида.АРТ Moscow":"#",
			"Кастинг-платформа":"#",
			"Арт-резиденция":"#",
			"Грантовый конкурс":"#",
			"Амбассадоры":"#",
			"Сотрудничество":"#",
			// "la":"#",
			// "la1":"#",
			// "la2":"#",
			// "la3":"#",
			// "la45":"#",
			// "la5":"#",
			}
	+b.UL.navMenu
		+e.LI.item: +e.A.link.active(href="#") Главная
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName
//- /menu